<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org"
    data-layout-decorate="~{layout}">
<head>
    <title>Page Not Found</title>
</head>

<body>

<!-- note : the navbar will not appear in full here because of Spring Security filter precedence -->
<section layout:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <h2 class="text-center header-content-title">Page not found</h2>
            </div>
        </div>
    </div>
</section>

<main layout:fragment="content">
    <section class="grassroot-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
                    <p class="gr-body-text-lg">
                        Sorry, we can't find the page you're looking for! Please go home or back and try again.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4 col-xs-12">
                    <a href="javascript:history.back()" class="btn btn-block gr-body-btn-lg"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Back</a>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <a th:href="@{/home}" class="btn btn-block gr-body-btn-lg"><i class="fa fa-home" aria-hidden="true"></i>
                        Home</a>
                </div>
            </div>
        </div>
    </section>
</main>


</body>
</html>
