<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8" />
  <title>LiveWire</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<body>

<section layout:fragment="header" class="top-container"
         th:replace="~{fragments :: std_header('LiveWire', 'View Alerts')}">
</section>

<main layout:fragment="content">

  <section th:replace="~{livewire/lw_fragments :: alert-list(${alerts}, ${pageable}, ${sort}, 'Alert list')}">
  </section>

</main>

</body>
</html>