<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8" />
  <title>LiveWire Contacts</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

<body>

<section layout:fragment="header" class="top-container"
         th:replace="~{fragments :: std_header('LiveWire', 'View Contacts')}">
</section>

<main layout:fragment="content">
  <section class="form-group">
    <section class="alert-list"><!-- was created first as 'alert list', so keeping -->
      <div class="row contact-list">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <h4 class="panel-title">LiveWire contacts</h4>
                  </div>
                </div>
              </div>
              <div id="collapse2" class="panel-collapse collapse in">
                <table id="contact-table" class="table grassroot-data-table">
                  <thead>
                  <tr>
                    <th class="col-md-2">Contact name</th>
                    <th class="col-md-2">Phone number</th>
                    <th class="col-md-2">Total group size</th>
                    <th class="col-md-3">Area</th>
                    <th class="col-md-3">Tpye</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="col-md-2">Name</td>
                    <td class="col-md-2">Number</td>
                    <td class="col-md-2">Group size</td>
                    <td class="col-md-3">Area</td>
                    <td class="col-md-3">Contact type</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>

<div layout:fragment="script-container">

  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
  <script>
    $(document).ready(function() {
      console.log("new version 2");
      grassrootJS.setUpAjax($("meta[name='_csrf']"), $("meta[name='_csrf_header']"));

      $("#contact-table").DataTable({
        ajax: {
          url: '/livewire/contact/fetch',
          dataSrc: ''
        },
        columns: [
          { data: 'contactName'},
          { data: 'contactNumber'},
          { data: 'groupSize'},
          { data: 'addressDescription' },
          { data: 'contactTypeDescription' }
        ]
      });
    });
  </script>

</div>

</body>
</html>