<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8" />
  <title>Create LiveWire Alert</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
</head>
<body>

<section layout:fragment="header" class="top-container"
         th:replace="~{fragments :: std_header('LiveWire', 'Create alert')}">
</section>

<main layout:fragment="content">

  <section class="grassroot-form" th:with="types=${T(za.org.grassroot.core.enums.LiveWireAlertType).values()},
        destinations=${T(za.org.grassroot.core.enums.LiveWireAlertDestType).values()}">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
          <form th:action="@{/livewire/alert/create/submit}" method="post" enctype="multipart/form-data">
            <div th:replace="~{form_fragments :: text_input('Headline', 'Enter a short description of the alert', '40', 'headline')}"></div>
            <div th:replace="~{form_fragments :: list_selector('Contact person', ${contactOptions}, 'contact_person_type')}"></div>
            <div id="other_contact_name" th:include="~{form_fragments :: text_input('Contact name', 'Enter the name of the contact person', '40', 'contact_name')}"></div>
            <div id="other_contact_number" th:include="~{form_fragments :: text_input('Contact number', 'Enter the phone number of the contact', '40', 'contact_number')}"></div>
            <div th:replace="~{form_fragments :: enum_selector('Alert type', 'type', ${types}, 'web.livewire.alert.type')}"></div>
            <div id="group_selector" th:include="~{form_fragments :: entity_selector ('Group', 'group')}"></div>
            <div id="mtg_selector" th:include="~{form_fragments :: entity_selector ('Meeting', 'meeting')}"></div>
            <div id="img_selector" th:replace="~{form_fragments :: file_upload('Image for the alert (optional)', 'image', 'image/*')}"></div>
            <div id="progress-holder" class="form-group">
              <div id="progress" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:0%">
                  0%
                </div>
              </div>
            </div>
            <div th:if="${userHasList}">
              <div th:replace="~{form_fragments :: enum_selector('Destination', 'destination', ${destinations}, 'web.livewire.alert.dest')}"></div>
            </div>
            <div th:replace="~{form_fragments :: collapse_header_title('Add article text', '#description_field')}"></div>
            <div class="collapse" id="description_field">
              <div th:replace="~{form_fragments :: text_area(false, '', 10, 1000, 'Add a (short) extra text, at most 100-150 words', 'description')}"></div>
            </div>

            <div th:include="~{form_fragments :: submit_cancel_buttons('Create', '/home')}"></div>
            <input type="hidden" id="imageUid" name="imageUid" />
          </form>
        </div>
      </div>
    </div>
  </section>

</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/jquery.ui.widget.min.js}"></script>
  <script th:src="@{/js/lib/jquery.iframe-transport.min.js}"></script>
  <script th:src="@{/js/lib/jquery.fileupload.min.js}"></script>

  <script th:inline="javascript">

    $(document).ready(function() {
      var contactSelect = $("#contact_person_type");
      var contactName = $("#other_contact_name");
      var contactNumber = $("#other_contact_number");

      contactName.hide();
      contactNumber.hide();
      contactSelect.change(function() {
        var showFields = $(this).val() === 'other';
        contactName.toggle(showFields);
        contactNumber.toggle(showFields);
      });

      var typeSel = $("#type");
      var groupSel = $("#group_selector");
      var meetingSel = $("#mtg_selector");

      var hasGroups = [[${hasGroups}]];
      var hasMeetings = [[${hasMeetings}]];

      if (hasGroups && hasMeetings) {
        meetingSel.hide();
        typeSel.change(function () {
          var showGroup = $(this).val() === 'INSTANT';
          groupSel.toggle(showGroup);
          meetingSel.toggle(!showGroup);
        });
      } else if (hasGroups) {
        meetingSel.hide();
        $('#type option[value="MEETING"]').prop("disabled", true);
      } else if (hasMeetings) {
        typeSel.val("MEETING");
        meetingSel.show();
        groupSel.hide();
        $('#type option[value="INSTANT"]').prop('disabled', true);
      }

      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var progressContainer = $("#progress-holder");
      var progressBar = $("#progress .progress-bar");

      var submitButton = $("#submitButton");

      progressContainer.hide();

      $('#image').fileupload({
        url: /* [[@{'/livewire/alert/create/image/add'}]] */ "create/image/add",
        dataType: 'json',
        beforeSend: function(xhr) {
          console.log("uploading image!");
          progressContainer.show();
          submitButton.attr('disabled', 'disabled');
          xhr.setRequestHeader(header, token);
        },
        progressall: function(e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          progressBar.css(
            'width',
            progress + '%'
          );
          progressBar.text(progress + '%');
        },
        done: function (e, data) {
          console.log("uploaded! -- uid : " + data.result.uid);
          $("#imageUid").val(data.result.uid);
          submitButton.removeAttr('disabled');
          $("#img_selector").hide();
          $("#image").remove();
          progressBar.text('Done!');
        },
        fail: function (e, data) {
          console.log("Failed!");
          progressBar.text('Sorry, failed!');
          submitButton.removeAttr('disabled');
        }
      });

    })

  </script>

  <div th:replace="~{form_fragments :: entity_selector_fill(${_csrf.headerName}, ${_csrf.token}, 'group',
                      '/livewire/alert/create/groups')}"></div>

  <div th:replace="~{form_fragments :: entity_selector_fill(${_csrf.headerName}, ${_csrf.token}, 'meeting',
                      '/livewire/alert/create/meetings')}"></div>
</div>


</body>
</html>