<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8" />
  <title>Create LiveWire Alert</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
</head>
<body>

<section layout:fragment="header" class="top-container"
         th:replace="~{layout :: std_header('LiveWire', 'Create alert')}">
</section>

<main layout:fragment="content">

  <section class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
          <form>
            <div th:replace="~{form_fragments :: text-input('Headline', 'Enter a short description of the alert', '40', 'headline')}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</main>


</body>
</html>