<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>

  <section th:fragment="alert-list (alerts, pageable, sort, heading)" class="form-group" >
    <section class="alert-list container">
      <div class="row contact-list">
        <div class="col-md-10 col-md-offset-1">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12">
                    <h4 class="panel-title" th:text="${heading}">LiveWire alerts</h4>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right"
                       th:with="thisPage=${pageable.pageNumber}, nextPage=${thisPage + 1},
                       lastPage=${thisPage - 1}, pageSize=${pageable.pageSize},
                       currentSort=${sort.property}, currentSortDir=${sort.direction}">
                    <form id="sort_form" th:action="@{/livewire/alert/list}" th:formaction="get">
                      <input type="hidden" th:value="${pageSize}" name="size" />
                      <input type="hidden" th:value="0" name="page" />
                      <input type="hidden" id="sort_direction" />
                      <span class="custom-dropdown">
                        <select id="sort_select" name="sort">
                          <option th:selected="${currentSort == 'creationTime'}" th:value="creationTime">Newest first</option>
                          <option th:selected="${currentSort == 'sent'}" th:value="sent">Unreleased first</option>
                        </select>
                      </span>
                    </form>
                    <a th:if="${alerts.hasPrevious()}" class="header-link" href="#"
                      th:href="@{/livewire/alert/list(page=${lastPage},size=${pageSize}, sort=${currentSort},
                      __${currentSort + '.dir'}__=${currentSortDir})}">Back</a>
                    <a th:if="${alerts.hasNext()}" class="header-link" href="#"
                      th:href="@{/livewire/alert/list(page=${nextPage},size=${pageSize}, sort=${currentSort},
                      __${currentSort + '.dir'}__=${currentSortDir})}">Next</a>
                  </div>
                </div>
              </div>
              <div id="collapse2" class="panel-collapse collapse in">
                <table id="view-alerts-table" class="table grassroot-data-table">
                  <thead>
                  <tr>
                    <th class="col-md-5">Description</th>
                    <th class="col-md-3">Contact name</th>
                    <th class="col-md-2">Number</th>
                    <th class="col-md-2">Tags</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="alert, idx : ${alerts}" th:with="unreviewed=${(not alert.reviewed and not alert.sent)}">
                    <td class="col-md-5">
                    <a th:href="@{view(alertUid=${alert.uid})}">
                      <span th:text="${alert.headline}"
                          th:classappend="${unreviewed ? 'error-text' : ''}">Headline</span>
                      <span th:if="${unreviewed}" class="error-text"> (unreviewed) </span>
                      <span th:if="${alert.instant}"> (instant alert) </span>
                    </a>
                    </td>
                    <td class="col-md-3">
                      <span th:text="${alert.contactNameNullSafe}" th:classappend="${unreviewed ? 'error-text' : ''}">Contact name</span>
                    </td>
                    <td class="col-md-2"><span th:text="${alert.contactNumberFormatted}"
                                               th:classappend="${unreviewed ? 'error-text' : ''}">Contact number</span></td>
                    <td class="col-md-2"><span th:text="${#strings.listJoin(alert.tagList, ',')}"
                                               th:classappend="${unreviewed ? 'error-text' : ''}">Tags</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

</body>
</html>