<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8" />
  <title>LiveWire Subscriber</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}" />

  <style>
    /* Fix for UL/UI autocomplete in modal */
    .ui-autocomplete {
      z-index: 5000;
    }
  </style>

</head>

<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">LiveWire Subscriber</h2>
        <h4 class="text-center header-content-subtitle" th:text="${subscriber.displayName}"></h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">
  <section class="grassroot-form">
    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="row no-padding">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <label class="grassroot-sidebar">Emails</label>
            </div>
            <div th:switch="${#lists.isEmpty(subscriber.pushEmails)}" class="col-md-6 col-sm-6 col-xs-12">
              <div th:case="true">
                <p class="grassroot-body">You have not added any emails to this data subscription yet.</p>
              </div>
              <div th:case="false">
                <p class="grassroot-body">
                  <span th:text="${subscriber.pushEmails.size()}">X</span> email addresses are on this account.
                </p>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <button class="btn default-button full-width-button" data-toggle="modal" data-target="#addEmailModal">
                <i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            </div>
          </div>

          <div th:unless="${#lists.isEmpty(subscriber.pushEmails)}" class="row top-buffer">
            <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12">
              <ul class="list-group">
                <li th:each="email: ${subscriber.pushEmails}" class="list-group-item clearfix">
                  <span class="grassroot-body" th:text="${email}">Email address</span>
                  <span class="pull-right">
                      <button class="btn default-button btn-neutral" data-toggle="modal" data-target="#remEmailModal"
                              th:attr="data-email=${email}">Remove</button>
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <hr>

          <div class="row no-padding">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <label class="grassroot-sidebar">Users</label>
            </div>
            <div th:switch="${#lists.isEmpty(users)}" class="col-md-6 col-sm-6 col-xs-12">
              <div th:case="true">
                <p class="grassroot-body">
                  No users added to subscriber yet
                </p>
              </div>
              <div th:case="false">
                <ul class="list-group">
                  <li th:each="user: ${users}" class="list-group-item borderless no-padding clearfix">
                    <span class="grassroot-body" th:text="${user.displayName}">User name</span>
                    <a href="#remAdminModal" data-toggle="modal"
                      data-target="#remUserModal" th:attr="data-useruid=${user.uid}">(remove)</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <button type="button" class="btn default-button full-width-button" data-toggle="modal"
                      data-target="#addUserModal">
                Add
              </button>
            </div>
          </div>

          <hr>

          <div class="row no-padding">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <label class="grassroot-sidebar">Permissions</label>
            </div>
            <form class="grassroot-form" th:action="@{/livewire/subscriber/permissions/change}" method="post">
              <input type="hidden" name="subscriberUid" th:value="${subscriber.uid}" />
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="checkbox-inline">
                  <input th:checked="${subscriber.canTag}" type="checkbox" name="canTag" /><span>Users can tag alerts</span>
                </label>
                <label class="checkbox-inline">
                  <input th:checked="${subscriber.canRelease}" type="checkbox" name="canRelease" /><span>Users can release alerts</span>
                </label>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <button type="submit" class="btn default-button full-width-button">
                  Update
                </button>
              </div>
            </form>
          </div>

          <hr sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')">

          <div class="row no-padding" sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <label class="grassroot-sidebar">Type</label>
            </div>
            <form class="grassroot-form" th:action="@{/livewire/subscriber/type/change}" method="post">
              <input type="hidden" name="subscriberUid" th:value="${subscriber.uid}" />
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select name="subscriberType" class="form-control input-lg">
                  <option th:each="option: ${T(za.org.grassroot.core.enums.DataSubscriberType).values()}"
                          th:value="${option}"
                          th:text="${option}"
                          th:selected="${option == subscriber.subscriberType}"></option>
                </select>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <button type="submit" class="btn default-button full-width-button">
                  Update
                </button>
              </div>
            </form>
          </div>

          <hr>

          <div class="row no-padding">
            <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12">
              <a class="grassroot-body" data-target="#disableModal" data-toggle="modal" href="#disableModal">
                <span th:text="${subscriber.active ? 'Disable' : 'Enable'}">Disable</span>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Add email modal -->
  <div class="modal fade" id="addEmailModal" tabindex="-1" role="dialog" aria-labelledby="addEmailModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addEmailModalTitle">Add emails</h4>
        </div>
        <form th:action="@{/livewire/subscriber/emails/add}" method="post" enctype="multipart/form-data">
          <input type="hidden" name="subscriberUid" th:value="${subscriber.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <p>
                Please enter the emails to add, one after the other (separate with a ", ")
              </p>
              <input type="text" class="form-control" id="push_email_field" name="emailsToAdd" autocomplete="off" />
            </div>
            <div class="form-group">
              <p>
                You can also upload an Excel spreadsheet with emails in the first column only
              </p>
              <input type="file" class="form-control" id="push_email_file" name="emailsXls" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Close</button>
            <button type="submit" class="btn default-button">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Remove email modal -->
  <div class="modal fade" id="remEmailModal" tabindex="-1" role="dialog" aria-labelledby="remEmailModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="remEmailModalTitle">Are you sure?</h4>
        </div>
        <form th:action="@{/livewire/subscriber/emails/remove}" method="post">
          <input type="hidden" name="subscriberUid" th:value="${subscriber.uid}" />
          <input type="hidden" name="emailsToRemove" id="emailsToRemove" />
          <div class="modal-body">
            <div class="form-group">
              <p>
                Remove email from the list receiving alerts. Are you sure?
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Close</button>
            <button type="submit" class="btn default-button btn-negative">Remove</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Add subscriber modal -->
  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addUserLabel">Add user</h4>
        </div>
        <form th:action="@{/livewire/subscriber/user/add}" method="post">
          <input type="hidden" name="subscriberUid" th:value="${subscriber.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <p class="grassroot-body">
                Please enter the phone number of the user to add below (they must already have used Grassroot).
              </p>
              <input type="text" class="form-control" name="addUserPhone" autocomplete="off" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Close</button>
            <button type="submit" class="btn default-button">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Remove admin modal -->
  <div class="modal fade" id="remUserModal" tabindex="-1" role="dialog" aria-labelledby="remUserModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="remUserModalTitle">Are you sure?</h4>
        </div>
        <form th:action="@{/livewire/subscriber/user/remove}" method="post">
          <input type="hidden" name="subscriberUid" th:value="${subscriber.uid}" />
          <input type="hidden" name="userToRemoveUid" id="userToRemoveUid" />
          <div class="modal-body">
            <div class="form-group">
              <p>
                Remove this user from the LiveWire subscription. Are you sure?
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Close</button>
            <button type="submit" class="btn default-button btn-negative">Remove</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="disableModal" tabindex="-1" role="dialog" aria-labelledby="disableModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="disableModalLabel">Change active status</h4>
        </div>
        <form th:action="@{/livewire/admin/toggleactive}" method="post">
          <input type="hidden" name="subscriberUid" th:value="${subscriber.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <label for="otp-input" class="control-label">Are you sure? Enter OTP sent to admin user's phone</label>
              <input type="text" class="form-control" id="otp-input" name="otpEntered" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/jquery-ui.min.js}"></script>

  <script th:inline="javascript">

    var userPhone = /*[[${adminPhoneNumber}]]*/ 'phonenumber';

    // putting this within document loaded causes errors (likely interplay of bootstrap and jquery), so leaving outside
    $('#remEmailModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var email = button.data('email'); // Extract info from data-* attributes
      var modal = $(this);
      modal.find('#emailsToRemove').val(email);
    });

    $('#remUserModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var uid = button.data('useruid');
        var modal = $(this);
        modal.find('#userToRemoveUid').val(uid);
    });

    $('#disableModal').on('show.bs.modal', function(event) {
        $.ajax({ url:"/grass-root-verification/" + userPhone });
    });

    $(document).ready(function() {
      grassrootJS.setUpAjax($("meta[name='_csrf']"), $("meta[name='_csrf_header']"));
    });

  </script>
</div>

</body>
</html>