<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8" />
  <title>LiveWire</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">LiveWire</h2>
        <h4 class="text-center header-content-subtitle">Home</h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="group-buttons">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-2 text-center">
          <a href="" th:href="@{/livewire/user/alert/list(onlyUnreviewed=false)}">
            <button class="white-button group-button">
              <i class="fa fa-comments-o" aria-hidden="true"></i>View all alerts
            </button>
          </a>
        </div>
        <div class="col-md-4 text-center">
          <a th:href="@{/livewire/user/contacts}">
            <button class="white-button group-button">
              Find LiveWire contacts
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- recycling group members class here -->
  <!-- todo: add polling / refresh -->
  <section th:replace="~{livewire/lw_fragments :: alert-list(${alerts}, ${pageable}, ${sort}, 'Alert list')}">
  </section>

  <div th:replace="~{livewire/lw_fragments :: alert-modal(${canTag}, ${canRelease})}">
  </div>

</main>

<div layout:fragment="script-container">

  <div th:replace="~{livewire/lw_fragments :: script-view-alert(${canTag})}">
  </div>

</div>

</body>
</html>