<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8" />
  <title>LiveWire</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

<body>

<section layout:fragment="header" class="top-container"
         th:replace="~{fragments :: std_header_back('LiveWire Alert', 'Back to alerts', '/livewire/alert/list')}">
</section>

<main layout:fragment="content">

   <section th:if="${canRelease or canTag}" class="task-buttons">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-xs-12">
          <div class="container-fluid alert-top-buttons">
            <div class="row">
              <div class="col-md-4">
                <button th:if="${canRelease}" id="releaseBtn" type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#release_alert_modal">Release</button>
              </div>
              <div class="col-md-4">
                <button th:if="${canRelease}" type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#block_alert_modal">Block</button>
              </div>
              <div class="col-md-4">
                <button th:if="${canTag}" type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#tag_modal">Tags</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="grassroot-form">
    <div class="container task-details">
      <div th:replace="~{fragments :: block_row_modal('headline', 'Headline', ${alert.headline}, 'Edit', '#headlineModal')}"></div>
      <div th:replace="~{fragments :: block_row('status', 'Status', ${status})}"></div>
      <div th:replace="~{fragments :: block_row('contact_person', 'Contact', ${alert.contactNameNullSafe + ', ' + alert.contactNumberFormatted})}"></div>
      <div th:replace="~{fragments :: block_row('group_descrption', 'Created time', ${#temporals.format(alert.creationTimeAtSAST, 'h:mm a, dd MMMM')})}"></div>
      <div th:replace="~{fragments :: block_row_modal('description', 'Description', ${alert.description}, 'Edit', '#descriptionModal')}"></div>
      <div th:replace="~{fragments :: block_row('backing_entity', 'Related to', ${backingEntityDesc})}"></div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="row detail-row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Images or videos</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <p class="description" th:if="${alert.hasMediaFiles()}">
              <ul>
                  <li th:each="file, idx : ${alert.mediaFiles}"><a th:href="@{media(imageKey=${file.key})}">Download</a></li>
                </ul>
              </p>
              <p class="description" th:unless="${alert.hasMediaFiles()}">None</p>
              <div id="img_selector" th:replace="~{form_fragments :: file_upload('Add image', 'image', 'image/*')}"></div>
              <div id="progress-holder" class="form-group">
                <div id="progress" class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70"
                       aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    0%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:replace="~{fragments :: block_row('tags', 'Tags', ${alert.printTags()})}"></div>
    </div>

    <div class="modal fade" id="headlineModal" tabindex="-1" role="dialog" aria-labelledby="headlineModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="headlineModalLabel">Change headline</h4>
          </div>
          <form th:action="@{modify/headline}" method="post">
            <input type="hidden" name="alertUid" th:value="${alert.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label for="headline_input" class="control-label">Edit the headline below:</label>
                <input name="headline" id="headline_input" type="text" class="form-control input-lg"
                       th:value="${alert.headline}" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button btn-negative">Edit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="descriptionModalLabel">Change description</h4>
          </div>
          <form th:action="@{modify/description}" method="post">
            <input type="hidden" name="alertUid" th:value="${alert.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label for="description_text" class="control-label">Edit the description below:</label>
                <textarea name="description" id="description_text" class="form-control input-lg"
                          th:value="${alert.description}"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button btn-negative">Edit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="release_alert_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="release_alert_modalLabel">Release alert</h4>
          </div>
          <form th:action="@{release}" method="post">
            <input type="hidden" name="alertUid" th:value="${alert.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label">Release this alert to the media?</label>
              </div>
              <div class="form-group" th:if="${not #lists.isEmpty(publicLists)}">
                <label class="grassroot-lead">Release to lists:</label>
                <ul>
                  <li th:each="list: ${publicLists}">
                    <input type="checkbox" name="publicLists" class="list-checkbox" th:value="${list.uid}" />
                    <span th:text="${list.displayName}">List</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button btn-negative">Confirmed</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div th:replace="~{form_fragments :: confirm_cancel_modal('block_alert_modal', 'Block alert', 'Block this alert from going out?',
                  'alertUid', ${alert.uid}, 'block')}"></div>

    <div class="modal fade" id="tag_modal" tabindex="-1" role="dialog" aria-labelledby="tag_modal_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tag_modal_label">Tag alert</h4>
          </div>
          <form th:action="@{tag}" method="post">
            <input type="hidden" name="alertUid" th:value="${alert.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label for="tags_input" class="control-label">Please add tags below (separated by commas)</label>
                <input name="tags" id="tags_input" type="text" class="form-control input-lg" th:text="${currentTags}" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button btn-negative">Confirmed</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>

</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/jquery.ui.widget.min.js}"></script>
  <script th:src="@{/js/lib/jquery.iframe-transport.min.js}"></script>
  <script th:src="@{/js/lib/jquery.fileupload.min.js}"></script>

  <script th:inline="javascript">

    $(document).ready(function() {
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var progressContainer = $("#progress-holder");
      var progressBar = $("#progress .progress-bar");

      var releaseButton = $("#releaseBtn");

      progressContainer.hide();

      $('#image').fileupload({
        url: /* [[@{'modify/images/add'}]] */ "modify/images/add",
        formData: { alertUid: [[${alert.uid}]] },
        beforeSend: function(xhr) {
          progressContainer.show();
          releaseButton.attr('disabled', 'disabled');
          xhr.setRequestHeader(header, token);
        },
        progressall: function(e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          progressBar.css(
            'width',
            progress + '%'
          );
          progressBar.text(progress + '%');
        },
        done: function (e, data) {
          releaseButton.removeAttr('disabled');
          $("#img_selector").hide();
          $("#image").remove();
          progressBar.text('Done!');
          location.reload();
        },
        fail: function (e, data) {
          console.log("Failed!");
          progressBar.text('Sorry, that failed');
          releaseButton.removeAttr('disabled');
        }
      })

    })

  </script>
</div>

</body>
</html>