<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>GrassRoot - Account Recovery</title>
</head>
<body>

<div layout:fragment="header">
    <h2>Account Recovery</h2>
</div>
<div layout:fragment="overview">
    <p>Password Reset</p>
</div>

<div layout:fragment="content">
    <div layout:fragment="messages"></div>
    <div class="well" style="">
    </div>

</div>

<div class="header-container" layout:fragment="script-container">

</div>


</body>
</html>