<html>
  <head>
    <title>Grassroot has moved</title>
    <style>
      @media (min-width: 640px) {
        .holder {
          left: 50%;
          position: absolute;
          transform: translate(-50%, 0%);
        }
      }
    </style>
  </head>
  <body>
    <div class="holder">
      <h2 style="max-width: 640px; padding: 24px; text-align: center; color: #2cbc4c; margin-top: 70px">
        Grassroot has moved
      </h2>
      <p style="max-width: 640px; padding: 24px">
        Grassroot has launched a new web app. It is easier to use, with many more functions and features.
        To log in there, <a href="https://www.grassroot.org.za">click here</a>. Use the same login details as for this site. All your data is already ported.
      </p>
    </div>
  </body>
</html>
