<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layout}">
<head>
    <title>Sorry, something went wrong</title>
</head>
<body>
<div layout:fragment="header">
  <h1 class="text-center">Sorry!</h1>
</div>

<div layout:fragment="overview"></div>

<div layout:fragment="content" class="container">
    <div class="card">
        <div class="card-height-indicator" style="    margin-top: 10% !important;"></div>
        <div class="card-content">
            <div class="card-body">
              <h3>Our apologies, something went wrong.</h3>

              <p class="list-group">If this happened when you tried to login, it could be a problem
                with expired cookies. Please <a href="/login">click here</a> to go to the login page. If you have tried
                that and it didn't work, please try to <a href="https://support.google.com/accounts/answer/32050?hl=en">
                  clear your cookies.</a></p>

              <p class="list-group">If this happened while you were logged in and using the application, please let us
                know what you were doing when the error occurred.
                <a href="mailto:bugs@grassroot.org.za?subject=Bug%20report">Click here to mail us a bug report.</a></p>
            </div>
        </div>
    </div>
</div>


</body>
</html>
