<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of groups</title>
</head>
<body>
<div>
    <strong>Your groups</strong>
</div>
<div>
    <p>These are the groups we found:</p>
    <table>
        {{ #groups }}
        <tr>
            <td><a href="{{ next_link }}{{ group_id }}">{{ group_name }}</a></td>
            <td>It was created by {{ created_by }} and it has {{ number_users }} members.</td>
        </tr>
        {{ /groups }}
    </table>
</div>
</body>
</html>