<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of groups</title>
</head>
<body>
<div>
    <strong>Your groups</strong>
</div>
<div>
    <p>These are the groups we found:</p>
    <table>
        <tr><td>Name</td><td>Created by</td><td>Number of members</td></tr>
        {{ #groups }}
        <tr>
            <td><a href="{{ next_link }}{{ group_id }}">{{ group_name }}</a></td>
            <td>{{ created_by }}</td><td>{{ number_users }} members.</td>
        </tr>
        {{ /groups }}
    </table>
</div>
<div>
    <form action="/web/start" method="post">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <button type="submit">Back home</button>
    </form>
</div>
</body>
</html>