<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Form fragments</title>
</head>
<body>

<div th:fragment="text_input (label, placeholder, maxlength, field_name)">
  <div class="form-group">
    <label th:for="${field_name}" th:text="${label}" class="control-label">Subject</label>
    <input th:name="${field_name}" th:id="${field_name}" type="text" class="form-control input-lg"
           th:placeholder="${placeholder}" th:maxlength="${maxlength}" />
  </div>
</div>

<div th:fragment="number_input (label, value, field_name)">
  <div class="form-group">
    <label th:for="${field_name}" th:text="${label}" class="control-label">Value</label>
    <input th:name="${field_name}" th:id="${field_name}" type="text" class="form-control input-lg"
           th:value="${value}" />
  </div>
</div>

<div th:fragment="file_upload (label, field_name, accept)">
  <div class="form-group">
    <label th:for="${field_name}" class="control-label" th:text="${label}">Label</label>
    <input th:name="${field_name}" th:id="${field_name}" class="form-control input-lg"
           type="file" th:accept="${accept}" />
  </div>
</div>

<div th:fragment="enum_selector (label, field_name, options, label_prefix)">
  <div class="form-group">
    <label th:for="${field_name}" class="control-label" th:text="${label}"></label>
    <select th:name="${field_name}" th:id="${field_name}" class="form-control input-lg">
      <option th:each="option : ${options}"
              th:value="${option}"
              th:text="#{__${label_prefix}__.__${option}__}">
      </option>
    </select>
  </div>
</div>

<div th:fragment="enum_selector_with_default (label, field_name, options, label_prefix, default)">
  <div class="form-group">
    <label th:for="${field_name}" class="control-label" th:text="${label}"></label>
    <select th:name="${field_name}" th:id="${field_name}" class="form-control input-lg">
      <option th:each="option : ${options}"
              th:value="${option}"
              th:text="#{__${label_prefix}__.__${option}__}"
              th:selected="${option == default}">
      </option>
    </select>
  </div>
</div>

<div th:fragment="entity_selector (label, field_name)">
  <div class="form-group">
    <label th:for="${field_name}" class="control-label" th:text="${label}"></label>
    <select th:name="${field_name}" th:id="${field_name}" class="form-control input-lg">
    </select>
  </div>
</div>

<div th:fragment="list_selector (label, option_map, field_name)">
  <div class="form-group">
    <label th:for="${field_name}" class="control-label" th:text="${label}">Label</label>
    <select th:name="${field_name}" th:id="${field_name}" class="form-control input-lg">
      <option th:each="option, iter: ${option_map}"
              th:value="${option.key}"
              th:text="${option.value}">
      </option>
    </select>
  </div>
</div>

<div th:fragment="list_selector_with_default (label, option_map, field_name, default_key)">
  <div class="form-group">
    <label th:for="${field_name}" class="control-label" th:text="${label}">Label</label>
    <select th:name="${field_name}" th:id="${field_name}" class="form-control input-lg">
      <option th:each="option, iter: ${option_map}"
              th:value="${option.key}"
              th:text="${option.value}"
              th:selected="${option.key == default_key}">
      </option>
    </select>
  </div>
</div>

<div th:fragment="submit_cancel_buttons (submit_label, cancel_url)">
  <div class="form-group pull-right top-buffer">
    <a th:href="${cancel_url}" role="button" class="btn default-button btn-neutral">Cancel</a>
    <button id="submitButton" type="submit" th:text="${submit_label}" class="btn default-button">Submit</button>
  </div>
</div>

<div th:fragment="collapse_header_title (title, target_id)">
  <div class="form-group">
    <a data-toggle="collapse" th:href="${target_id}" th:text="${title}" class="collapse-label">
      Add article text<i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
  </div>
</div>

<div th:fragment="text_area (haslabel, label, rows, maxlength, placeholder, field_name)">
  <div class="form-group">
    <label th:if="${haslabel}" th:for="${field_name}" class="control-label" th:text="${label}">Label</label>
    <textarea th:name="${field_name}" th:id="${field_name}" th:rows="${rows}" th:maxlength="${maxlength}" class="form-control input-lg"
              th:placeholder="${placeholder}"></textarea>
  </div>
</div>

<div th:fragment="date_picker (label, field_name)">
  <div class="form-group">
    <label for="datepicker" class="control-label" th:text="${label}">Deadline:</label>
    <div class="input-group date" id="datepicker">
      <input th:name="*{field_name}" type="text" class="form-control input-lg" />
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
  </div>
</div>

<div th:fragment="member-picker (label, field_name)" class="form-group" th:id="${field_name}">
  <label class="control-label" th:text="${label}"></label>
  <div class="radio">
    <label class="radio-inline radio-inline-lg"><input name="assignmentType" type="radio" value="group" id="wholeGroup" />The whole group</label>
    <label class="radio-inline radio-inline-lg"><input name="assignmentType" type="radio" value="members" id="pickMembers" />Pick members</label>
    <h5 id="pickedMemberCount">Number of members picked</h5>
  </div>
</div>

<div th:fragment="member-picker-modal (title, list_name, modal_id, prefilled_members)">
  <div class="modal fade" th:id="${modal_id}" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button id="dismissMemberModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="memberModalLabel" th:text="${title}">Pick members</h4>
        </div>
        <div class="modal-body">
          <div th:unless="${#lists.isEmpty(prefilled_members)}" class="list-group checked-list-box">
            <li class="list-group-item"
                th:each="member, iterStat: ${prefilled_members}">
              <label>
                <input type="checkbox" th:field="*{prefilled_members[__${iterStat.index}__].selected}" class="list-checkbox"/>
                <input type="hidden" th:field="*{prefilled_members[__${iterStat.index}__].userUid}" />
                <span th:text="${member.nameToDisplay}" class="list-checkbox-label">Name</span>
              </label>
            </li>
          </div>
          <div th:if="${#lists.isEmpty(prefilled_members)}" id="dynamicMemberPicker" class="list-group checked-list-box">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn default-button" id="membersPicked">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- todo : add in aria attributes -->
<div th:fragment="confirm_cancel_modal (modal_id, header, text, uidFieldName, uidValue, action)">
  <div class="modal fade" th:id="${modal_id}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" th:text="${header}" th:id="${modal_id + 'Label'}">Cancel meeting</h4>
        </div>
        <form th:action="@{${action}}" method="post">
          <input type="hidden" th:id="${uidFieldName}" th:name="${uidFieldName}" th:value="${uidValue}" />
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label" th:text="${text}">Are you sure? Cancelling a meeting cannot be undone.</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- note: expects whatever URL it is given to return a map that is literally 'uid' as key and 'name' as value -->
<div th:fragment="entity_selector_fill (csrf_header, csrf_token, field_name, url)">
  <script th:inline="javascript">

    $(document).ready(function() {

      var header = /*[[${csrf_header}]]*/ 'header';
      var token = /*[[${csrf_token}]]*/ 'token';
      var url = /*[[${url}]]*/ 'url';
      var field_name = /*[[${field_name}]]*/ 'header';

      $.bind("ajaxSend", function(elm, xhr, s) {
        xhr.setRequestHeader(header, token);
      });

      var select = $('#' + field_name);
      $.getJSON(url, function ( data ) {
        // adding this in for some debugging (differences btw prod and local)
        console.log(JSON.stringify(data));
        var listItems = '';
        $.each(data, function(index, entry) {
          listItems += '<option value=\'' + entry.uid + '\'>' + entry.name + '</option>';
        });
        // console.log("listItems = " + listItems);
        select.append(listItems);
      });

    });

  </script>
</div>

</body>
</html>