<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>

  <section th:fragment="std_header(title, subtitle)" class="top-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <h2 class="text-center header-content-title"><span class="bold-title" th:text="${title}">Title</span></h2>
          <h4 class="text-center header-content-subtitle" th:text="${subtitle}"></h4>
        </div>
      </div>
    </div>
  </section>

  <section th:fragment="std_header_back(title, back_text, back_url)" class="top-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <h2 class="text-center header-content-title"><span class="bold-title" th:text="${title}">Title</span></h2>
          <h4 class="text-center header-content-subtitle">
            <a th:href="@{${back_url}}" th:text="${back_text}">Back</a>
          </h4>
        </div>
      </div>
    </div>
  </section>

  <div th:fragment="block_row(fieldname, label, text)" class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="row detail-row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <label class="grassroot-sidebar" th:for="${fieldname}" th:text="${label}">Subject</label>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <p class="description" th:text="${text}">Text</p>
        </div>
      </div>
    </div>
  </div>

  <div th:fragment="block_row_modal(fieldname, label, text, btn_text, modal_name)" class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="row detail-row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <label class="grassroot-sidebar" th:text="${label}" th:for="${fieldname}"></label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p th:id="${fieldname}" class="description" th:text="${text}"></p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <button type="button" class="btn default-button full-width-button" data-toggle="modal"
                  th:attr="data-target=${modal_name}" th:text="${btn_text}">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <div th:fragment="member-picker (messageKey)" class="form-group" >
    <label class="control-label" th:text="#{__${messageKey}__}"></label>
    <div class="radio">
      <label class="radio-inline radio-inline-lg"><input th:field="*{assignmentType}" type="radio" value="group" id="wholeGroup" />The whole group</label>
      <label class="radio-inline radio-inline-lg"><input th:field="*{assignmentType}" type="radio" value="members" id="pickMembers" />Pick members</label>
      <h5 id="pickedMemberCount">Number of members picked</h5>
    </div>
  </div>

  <div th:fragment="member-picker-modal" class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button id="dismissMemberModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="memberModalLabel">Pick members</h4>
        </div>
        <div class="modal-body">
          <div th:if="${parentSpecified}" class="list-group checked-list-box">
            <li class="list-group-item"
                th:each="member, iterStat: *{memberPicker.getListOfMembers()}">
              <label>
                <input type="checkbox" th:field="*{memberPicker.listOfMembers[__${iterStat.index}__].selected}" class="list-checkbox"/>
                <input type="hidden" th:field="*{memberPicker.listOfMembers[__${iterStat.index}__].userUid}" />
                <span th:text="${member.nameToDisplay}" class="list-checkbox-label">Name</span>
              </label>
            </li>
          </div>
          <div th:unless="${parentSpecified}" id="dynamicMemberPicker" class="list-group checked-list-box">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn default-button" id="membersPicked">Done</button>
        </div>
      </div>
    </div>
  </div>

  <form th:fragment="payment-form (accountUid, action)" id="cardForm" th:action="${action}" th:object="${method}" method="POST" class="form-vertical">
    <input type="hidden" name="accountUid" th:value="${accountUid}" />
    <div class="form-group">
      <label class="control-label">1. Name</label>
      <input type="text" th:field="*{cardHolder}" id="cardHolder" class="form-control input-lg"/>
    </div>

    <div class="form-group">
      <label class="control-label">2. Credit Card Number And Type</label>
      <input type="text" th:field="*{cardNumber}" id="cardNumber" class="form-control input-lg"/>
    </div>
    <div class="form-group">
      <label class="radio-inline input-lg"><input type="radio" th:field="*{cardBrand}" id="cardBrandVisa" value="VISA">Visa</label>
      <label class="radio-inline input-lg"><input type="radio" th:field="*{cardBrand}" id="cardBrandMaster" value="MASTER">Mastercard</label>
    </div>

    <div class="form-group">
      <label class="control-label">3. Expiry Date</label>
      <div class="row no-padding">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <select th:field="*{expiryMonth}" class="form-control input-lg">
            <option value="0">Month</option>
            <option value="01">Jan (01)</option>
            <option value="02">Feb (02)</option>
            <option value="03">Mar (03)</option>
            <option value="04">Apr (04)</option>
            <option value="05">May (05)</option>
            <option value="06">June (06)</option>
            <option value="07">July (07)</option>
            <option value="08">Aug (08)</option>
            <option value="09">Sep (09)</option>
            <option value="10">Oct (10)</option>
            <option value="11">Nov (11)</option>
            <option value="12">Dec (12)</option>
          </select>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
          <select th:field="*{expiryYear}" class="form-control input-lg">
            <option value="17">2017</option>
            <option value="18">2018</option>
            <option value="19">2019</option>
            <option value="20">2020</option>
            <option value="21">2021</option>
            <option value="22">2022</option>
            <option value="23">2023</option>
            <option value="24">2024</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">4. CVV (3 digits on back)</label>
      <div class="row no-padding">
        <div class="col-md-4 col-sm-4 col-xs-6">
          <input maxlength="3" type="text" th:field="*{securityCode}" id="securityCode" autocomplete="off" class="form-control input-lg"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn default-button full-width-button btn-xl"><i class="fa fa-arrow-right" aria-hidden="true"></i> NEXT</button>
    </div>
  </form>

  <!-- todo : move into JS file? -->
  <script th:fragment="form-script" th:inline="javascript">
      $(document).ready(function() {
          var cardNumInput = $("#cardNumber");
          var brandSelected = false;

          cardNumInput.attr("placeholder", "Credit/Debit Card Number");
          $("#cardHolder").attr("placeholder", "Cardholder's name");
          $("#securityCode").val("");

          $("#cardForm").validate({
              rules: {
                  cardHolder: {
                      required: true
                  },
                  cardNumber: {
                      required: true,
                      creditcard: true
                  },
                  expiryMonth: {
                      min: 1
                  },
                  securityCode: {
                      required: true,
                      minlength: 3,
                      maxlength: 3
                  }
              },
              errorClass: "error-text"
          });

          $("input:radio[name='cardBrand']").click(function() {
              brandSelected = true;
          });

          cardNumInput.keyup(function() {
              var enteredNo = $(this).val();
              if (!brandSelected || enteredNo.length < 3) { // only run algorithm when editing first couple digits (or no brand selected, in case copy & paste)
                  if (enteredNo[0] == '4') {
                      $("#cardBrandVisa").prop('checked', true);
                      brandSelected = true;
                  } else if (enteredNo[0] == '5') {
                      $("#cardBrandMaster").prop('checked', true);
                      brandSelected = true;
                  }
              }
          });

      });
  </script>

  <!-- todo : probably find a way to put this in a JS file -->
  <script th:fragment="member-picker-script (parentType, selectByDefault)" th:inline="javascript">

    $(document).ready(function() {

        var groupSelect = $("#groupSelect");
        var parentType = /*[[${parentType}]]*/ 'GROUP';
        var selectByDefault = /*[[${selectByDefault}]]*/ true;

        var assignedMemberCount = $("#pickedMemberCount");
        assignedMemberCount.hide();

        var wholeGroupRadio = $('#wholeGroup');
        var pickMemberRadio = $('#pickMembers');
        var memberModal = $('#memberModal');

        var wholeGroupPicked = true;
        var membersPicked = false;

        pickMemberRadio.click(function(){
            memberModal.modal("show");
        });

        wholeGroupRadio.click(function() {
            assignedMemberCount.hide();
            wholeGroupPicked = true;
            membersPicked = false;
        });

        $('#dismissMemberModal').click(function() {
            wholeGroupRadio.prop("checked", wholeGroupPicked);
            pickMemberRadio.prop("checked", membersPicked);
            memberModal.modal("hide");
        });

        $('#membersPicked').click(function() {
            var membersSelected = memberModal.find('input[type="checkbox"]:checked').length;
            var countText = "You've assigned " + membersSelected + ((membersSelected == 1) ? " member" : " members") + " to this task";

            assignedMemberCount.text(countText);
            assignedMemberCount.show();
            wholeGroupRadio.prop("checked", false);

            wholeGroupPicked = false;
            membersPicked = true;

            memberModal.modal('hide');
        });

        if (groupSelect.length > 0) {
            grassrootJS.setUpAjax($("meta[name='_csrf']"), $("meta[name='_csrf_header']"));
            grassrootJS.fetchParentMemberList(parentType, selectByDefault, groupSelect.val(), addMembersToModal);
            groupSelect.change(function() {
                wholeGroupRadio.prop("checked", true);
                pickMemberRadio.prop("checked", false);
                $('#pickedMemberCount').hide();
                grassrootJS.fetchParentMemberList(parentType, selectByDefault, groupSelect.val(), addMembersToModal);
            });
        }

        function addMembersToModal(returnedObject) {
            var listBox = $("#dynamicMemberPicker");
            listBox.empty();
            var memberList = returnedObject.data.listOfMembers;
            for (var i = 0; i < memberList.length; i++) {
                listBox.append(constructItem(memberList[i], i));
            }

            function constructItem(member, index) {
                // this is a bit of a hack to engineer the list to look like Thymeleaf when it creates an entity
                var listFieldName = "memberPicker.listOfMembers";
                var selectedField = listFieldName + "[" + index + "].selected";
                var userUidField = listFieldName + "[" + index + "].userUid";

                var tickbox = JSON.parse(member.selected) ? "checked" : "";

                return "<li class=\"list-group-item\">" +
                    "<label>" +
                    "<input type=\"checkbox\" class='list-checkbox' " + tickbox + " name='" + selectedField + "'/>" +
                    "<input type='hidden' name='" + userUidField + "' value='" + member.userUid + "'/>" +
                    "<span class='list-checkbox-label'>" + member.nameToDisplay + "</span></label>";
            }
        }

    });

  </script>

</body>
</html>