<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
<head>
  <title>Some form fragments</title>
</head>

<body>

<div th:fragment="daySelector">
    <option th:each="i : ${#numbers.sequence(1, 5)}"
            th:value="${i}"><span th:text="${i}">1</span> days</option>
</div>

<div th:fragment="dateTimeInput">
  <script>

  $( document ).ready(function() {
    $( "#datepicker" ).simpleMask({
      nextInput : true,
      'mask': ['####-##-## ##:##','####-##-## ##:##']
      });
  });

</script>
</div>

</body>
</html>