<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>GrassRoot - Create Group</title>
</head>
<body>

<div layout:fragment="header">
    <h2>Start a Group</h2>
</div>
<div layout:fragment="overview">Start a Meeting Group and invite members</div>

<div layout:fragment="content">
    <div layout:fragment="messages"></div>
    <div class="well">

        <form  th:object="${group}" th:action="@{/groups/start-group}" method="post" autocomplete="off" class="form-horizontal">
            <div class="form-group">
                <label for="groupName" class="col-lg-2 control-label">Group Name</label>

                <div class="col-lg-4">
                    <input th:field="*{groupName}" type="text" class="form-control" id="groupName" placeholder="Group Name"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <!--<button class="btn btn-default">Cancel<div class="ripple-wrapper"></div></button>-->
                    <button type="submit" class="btn btn-primary">Create Group</button>
                </div>
            </div>
        </form>


    </div>
</div>

<div class="header-container" layout:fragment="script-container">

</div>
</body>
</html>