<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>GrassRoot Platform</title>
    <meta property="og:title" content="grassroot.org.za"/>
    <meta property="og:image" content="/img/grass.png"/>
    <meta property="og:description" content="The GrassRoot Platform."/>
</head>

<body>

<div layout:fragment="header">
    <!--<h2 th:text="#{home.welcome.message}">welcome headline</h2>-->
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <!-- Central text header -->
  <div class="well">
    <div class="row">
      <h1 th:text="#{web.home.banner}" class="text-center">Meet, vote, act</h1>
      <!-- Insert user's name -->
      <h2 th:text="#{web.home.welcome(${currentUser.firstName})}" class="text-center">Welcome to GrassRoot, Luke</h2>
    </div>
  </div>

  <!-- This page only exists if the user has no groups, so just tell them how to create or join a group -->

  <div class="well">
    <div class="row row-centered">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="text-center">Get started by creating or joining a group</h4>
        <h4 class="text-center"><a th:href="@{/group/create}">Create a new group</a>, or search
          for one by name (if it is public) or joining code:</h4>
      </div>
    </div>
    <div class="row row-centered">
      <div class="col-md-6 col-md-offset-3 ">
        <form th:action="@{/group/search}" method="post">
          <div class="input-group">
            <input type="text" name="searchTerm" class="form-control" id="searchTerm" placeholder="Enter join code or name to search" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Search for groups</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>
</body>
</html>