<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Grassroot Platform</title>

    <meta property="og:title" content="grassroot.org.za"/>
    <meta property="og:image" content="/img/grass.png"/>
    <meta property="og:description" content="The GrassRoot Platform."/>

  <style>
    .just-padding {
    padding: 15px;
    }

    .list-group.list-group-root {
    padding: 0;
    overflow: hidden;
    }

    .list-group.list-group-root .list-group {
    margin-bottom: 0;
    }

    .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
    }

    .list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
    }

    .list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
    }

    .list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
    }
  </style>
</head>

<body>

<div layout:fragment="header">
    <!--<h2 th:text="#{home.welcome.message}">welcome headline</h2>-->
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <!-- Central text header -->

  <div class="row">
    <div class="col-md-12">
      <h1 th:text="#{web.home.banner}" class="text-center">Meet, vote act</h1>
      <!-- Insert user's name -->
      <h4 th:text="#{web.home.welcome(${currentUser.firstName})}" class="text-center">Welcome back to Grassroot, Luke</h4>
    </div>
  </div>

  <div th:if="${not #lists.isEmpty(meetingRsvps)}">

    <div class="well">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h4><b>Meeting called: Will you attend?</b></h4>
          <ul class="list-group">
            <li th:each="event : ${meetingRsvps}" class="list-group-item" >
              <div class="row">
                <div class="col-md-9">
                  <span th:text="${event.appliesToGroup.getName('')}">group name</span>, meeting about
                  "<span th:text="${event.name}" class="mark">Meeting subject</span>", on
                  <span th:text="${#calendars.format(event.getEventStartDateTime(),'dd MMMM')}">date and time</span>
                  at <span th:text="${event.eventLocation}">meeting location</span>.
                </div>
                <div class="col-md-3 pull-right">
                  <button class="btn btn-primary btn-sm" type="submit" name="yes">Yes</button>
                  <button class="btn btn-danger btn-sm" type="submit" name="no">No</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div th:if="${not #lists.isEmpty(votesToAnswer)}">

    <div class="well">
      <div class="row">
        <div class="col-md-12">
          <h3>These votes have been called. What is your vote?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div th:each="event : ${votesToAnswer}" class="bs-component">
            <form class="list-group" th:action="@{vote/answer}" method="post">
              <input type="hidden" name="eventId" th:value="${event.id}" />
              <div class="list-group-item">
                <div class="row">
                  <div class="col-md-4">
                    <h4>
                      <p class="list-group-item-heading">Group: <span th:text="${event.appliesToGroup.getName('')}">group name</span></p>
                      <p class="list-group-item-heading">Issue: <span th:text="${event.name}">Meeting subject</span><br/></p>
                      <p class="list-group-item-heading">Closing date: <span th:text="${event.dateTimeString}">date and time</span></p>
                    </h4>
                    <div class="least-content">
                      Vote called by <span th:text="${event.createdByUser.nameToDisplay()}">meeting caller</span>.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <p class="list-group-item-heading">
                      <button class="btn btn-primary" type="submit" name="answer" value="yes">Yes</button>
                      <button class="btn btn-danger" type="submit" name="answer" value="no">No</button>
                      <button class="btn btn-info" type="submit" name="answer" value="maybe">Abstain</button>
                    </p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- List of user's groups, if they have any -->

  <!-- form to allow joining a group, if it is flagged as discoverable -->
  <div class="well">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form th:action="@{/group/search}" method="post" class="form-vertical">
          <div class="input-group">
            <input type="text" name="searchTerm" class="form-control" id="searchTerm" placeholder="Enter join code or name to search" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Search for groups</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div th:if="${not #lists.isEmpty(userGroups)}">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-3">
          <h4><b>Your groups</b></h4>
        </div>
        <div class="col-md-2 pull-right">
          <a th:href="@{/group/create}" role="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New group
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li th:each="group,iterStat : ${userGroups}" class="list-group-item">
              <a th:href="@{/group/view(groupId=${group.getId()})}">
                <span th:text="${group.getDisplayName('')}"></span></a>
              <span class="badge">
                <span th:text="${group.getGroupMembers()}"></span> Members
              </span>
              <small class="clearfix">
                Est. <span th:text="${#calendars.format(group.getCreatedDateTime(),'d MMM yyyy')}">13 May 2011</span>
              </small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- Trying out the group tree view idea - sql version -->

  <!-- <div th:if="${not #lists.isEmpty(groupTreesSql)}">
    <div class="well">
      <div class="just-padding">
        <h3>Groups in tree view:</h3>
        <div class="list-group list-group-root well">
          <div th:each="groupTreeSql: ${groupTreesSql}" class="list-group-item">
            <span th:text="${groupTreeSql.groupName}">Group name</span>
            <ul th:fragment="fragment_nodeSql(groupTreeSql)">
              <li th:each="subGroupSql : ${groupTreeSql.Subgroups}" th:inline="text" class="list-group-item">
                [[${subGroupSql.groupName}]] ([[${subGroupSql.level}]])
                <ul th:replace="this::fragment_node(${subGroupSql})" th:unless="${groupTreeSql.isTerminal()}"></ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div th:fragment="fragment_node(node)">
    <li th:each="subGroup : ${node.Subgroups}" th:text="${subGroup.groupName}">
      <span layout:include="this :: fragment_node(${subGroup})"></span>
    </li>
  </div> -->

</div>

<!-- <div class="header-container" layout:fragment="script-container">
  <script>
    $('#unsubModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var group = button.data('id'); // Extract info from data-* attributes
      var modal = $(this);
      modal.find('#groupId').val(group);
    })
  </script>
</div> -->

</body>
</html>