<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>GrassRoot - Home</title>
</head>
<body>

  <div layout:fragment="header"></div>
  <div layout:fragment="overview"></div>

  <div layout:fragment="content">

      <div class="jumbotron">
          <div class="cover-container">
              <div class="inner cover">
                  <h1 class="cover-heading text-center">The GrassRoot Platform</h1>
                  <p class="lead text-center">A NATION SELF-ORGANIZING</p>
                  <p class="lead text-center text-muted" style="font-style: italic;">*120*1994#</p>
                  <p class="lead text-center" >
                      <a href="http://www.grassroot.org.za" target="_blank" class="btn btn-lg btn-primary">Learn more</a>
                  </p>
                  <p class="lead text-center">
                      <a href="/signin" class="btn btn-lg btn-primary">Sign in</a>
                  </p>
              </div>

          </div>
      </div>

  </div>

</body>
</html>
