<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
<head>
  <title>Layout</title>
  <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/material-fullpalette.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/ripples.min.css}" />

  <script th:inline="javascript">
        var baseUrl = /*[[@{/}]]*/ '../static/';
  </script>
</head>
<body>
  <script type="text/javascript">
    // Work around Google font rendering issues in webkit browsers on Windows 7
    if (navigator.userAgent.indexOf("NT 6.1") != -1) {
      document.body.style.WebkitTextStroke = "0.5px";
    }
  </script>
  <div class="viewport">
    <header class="navbar header--navbar desktop-only">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="spring-logo--container">
            <a class="spring-logo" th:href="@{/}" href="/"><span></span></a>
          </div>
          <ul class="nav pull-right">
            <li th:class="na">
              <a th:href="x" >Xxx</a>
            </li>


          </ul>
        </div>
      </div>

    </header>

    <div class="header--container" layout:fragment="header-container">
      <div class="header--content" layout:fragment="header-content">
        <div class="row-fluid container-fluid">
          <div class="span8">
            <h1 class="header--content-title" layout:fragment="header">
              First Last
            </h1>
            <p class="header--content-subtitle" layout:fragment="overview">
              Subttitle Ligula Risus Tristique Pharetra
            </p>
          </div>
          <div class="span4">
            <div layout:fragment="header-sidebar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" layout:fragment="top-content"></div>
    <div layout:fragment="full-width--layout"></div>
    <main class="body--container container-fluid " layout:fragment="content">
      <div id="footer-push-down"></div>
    </main>

    <footer class="footer">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span8">
            <div class="navbar">
              <div class="container">
                <ul class="nav">
                  <li><a th:href="@{/grassrot}">GrassRoot</a></li>

                </ul>
              </div>
            </div>
            &copy; <span th:text="${#calendars.format(#calendars.createToday(),'yyyy')}">2015</span> <a href="http://www.grassroot.org.za/">GrassRoot</a>. All Rights Reserved.

            <span id='authentication' sec:authorize="isFullyAuthenticated()">
              [<a th:href="@{/signout}">Sign out</a>]
            </span>
          </div>
          <div class="span4 footer-newsletter--wrapper pull-right">
            <div class="footer-newsletter--container invisible">
              <label>
                Subscribe to our newsletter
              </label>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div id="scrim"></div>
  </div>

  <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/material.min.js}"></script>
  <script th:src="@{/js/ripples.min.js}"></script>
  <script>
    $.material.init();
  </script>

</body>
</html>
