<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Grassroot</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

  <link th:href="@{/images/favicon.ico}" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/app_v1.3.css}" />
</head>

<body>
  <script type="text/javascript">
    // Work around Google font rendering issues in webkit browsers on Windows 7
    if (navigator.userAgent.indexOf("NT 6.1") != -1) {
      document.body.style.WebkitTextStroke = "0.5px";
    }
  </script>

  <!-- Navigation -->
  <div layout:fragment="navigation">
    <div class="navbar navbar-colour">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:void(0)" th:href="@{/home}">
            <img th:src="@{/images/grassroot-logo-navbar.png}" alt="Grassroot">
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-left menu">
            <li>
              <a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/group/create}">Start Group</a></li>
            <li>
              <a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/meeting/create}">Call Meeting</a></li>
            <li>
              <a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/vote/create}">Take Vote</a></li>
            <li>
              <a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/todo/create}">Create to-do</a></li>
            <li>
              <a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/location}">Around Me</a></li>
            <li sec:authorize="hasRole('ROLE_LIVEWIRE_USER')">
              <a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/livewire/user}">LiveWire</a>
            </li>

            <li th:if="${@environment.getProperty('grassroot.accounts.active')}" sec:authorize="!hasAnyRole('ROLE_SYSTEM_ADMIN', 'ROLE_ACCOUNT_ADMIN')">
              <a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/account/signup}">Grassroot Extra</a></li>

            <li sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN', 'ROLE_ACCOUNT_ADMIN')" class="dropdown">
              <a href="javascript:void(0)" data-target="#" class="dropdown-toggle gr-navbar-link" data-toggle="dropdown" aria-expanded="false">
                Grassroot Extra <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a th:href="@{/messaging/freeform}">Send custom message</a></li>
                <li><a th:href="@{/account}">Manage account</a></li>
              </ul>

            </li>

            <li sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')">
              <a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/admin/home}">System admin</a></li>
          </ul>

          <ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right menu">
            <li>
              <a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/login}">
                <i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
            <li>
              <a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/signup}">
                <i class="fa fa-sign-in" aria-hidden="true"></i>Sign up</a></li>
          </ul>

          <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right menu">
            <li><a class="gr-navbar-link" href="javascript:void(0)" th:href="@{/home}">Home</a></li>
            <li class="dropdown">
              <a href="javascript:void(0)" data-target="#" class="dropdown-toggle gr-navbar-link" data-toggle="dropdown" aria-expanded="false">
                My Profile <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" th:href="@{/user/settings}">Settings</a></li>
                <li><a href="javascript:void(0)" th:href="@{/user/password}">Change password</a></li>
                <li><a href="javascript:void(0)"  class="user-logout" id="user-logout" th:href="@{/logout}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
  </div>

    <!-- Messages / Snackbar -->
  <section layout:fragment="messages" class="snackbar-container">
    <div class="container" th:if="${snackbarMessage}">
      <div role="alert" class="row text-center alert alert-dismissible grassroot-alert col-md-10 col-md-offset-1"
          th:classappend="${successMessage} ? 'alert-success' : (${infoMessage} ? 'alert-info' : 'alert-warning')">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p th:utext="${snackbarMessage}" class="alert-lg"></p>
      </div>
    </div>
  </section>

    <!-- header fragment -->
  <section layout:fragment="header" class="top-container" >
    <div class="container">
      <div class="row">
        <h1 class="text-center header-content-title">Title</h1>
        <h4 class="text-center header-content-subtitle"></h4>
      </div>
    </div>
  </section>

  <main layout:fragment="content" class="body-container container-fluid ">
    <div id="footer-push-down"></div>
  </main>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span8">
          <!-- // might use for copyright or terms of use in future -->
        </div>
      </div>
    </div>
  </footer>

  <div id="scrim"></div>

  <div sec:authorize="isAuthenticated()" >
    <form id="logoutForm"  th:action="@{/logout}" method="post">
      <fieldset>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      </fieldset>
    </form>
  </div>

  <script th:src="@{/js/lib/jquery-2.2.4.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap.min.js}"></script>
  <script th:src="@{/js/grassroot_methods_v1.2.js}"></script>

  <div layout:fragment="script-container">

  </div>

<script>
  $(document).ready(function(){
    $('.user-logout').click(function(){
      document.getElementById("logoutForm").submit();
    });
  });
</script>

</body>
</html>
