<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GrassRoot Administration Site</title>
</head>
<body>
<div>
    <strong>Welcome to the GrassRoot user site.</strong>
</div>

<div>
    <form action="start" method=post>
        <p>Please enter the phone number you use for GrassRoot:</p>
        <input type="text" name="input_number" />
        <p>Please enter the web password for your GrassRoot user:</p>
        <input type="password" name="user_pass" />
        <p><button type="submit">Start!</button></p>
    </form>
</div>

</body>
</html>