<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{app.name}"></title>
</head>
<body>
<div layout:fragment="navigation"></div>
<div layout:fragment="header"></div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <div layout:fragment="messages"></div>


</div>

<div class="header-container" layout:fragment="script-container">
    <script>
        $(document).ready(function () {

        });
    </script>
</div>
s
</body>
</html>