<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{app.name} +' - ' + #{web.signin.title}"></title>
    <style>
        .card-signin {
           /* margin: 100px auto 25px;*/
        }
    </style>
</head>
<body>
<div layout:fragment="navigation"></div>
<div layout:fragment="header"></div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <div layout:fragment="messages"></div>
    <div class="card-signin">
        <div class="row">
            <div class="col-lg-8">
                <div class="well bs-component">

                    <form id="signin-form" class="form-horizontal" th:action="@{/login}"  method="post">

                        <fieldset>
                            <legend th:text="#{web.signin.title}"></legend>
                        </fieldset>
                        <div th:class="${error}? '  alert alert-danger alert-dismissable' : ' hide'">
                            <p th:if="${error}">Invalid GrassRoot ID or password. Please try again. <span th:text="${error}"></span></p>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-lg-2 control-label" th:text="#{web.signin.username}">User Name</label>

                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="mobile-number" name="mobile-number" placeholder="Mobile Number"/>
                                <input type="hidden" class="form-control" id="username" name="username" placeholder="Mobile Number"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-lg-2 control-label">Password</label>

                            <div class="col-lg-10">
                                <input type="password" class="form-control"  id="password" name="password" placeholder="Password"/>
                            </div>
                        </div>

                        <fieldset>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        </fieldset>


                        <div class="row ">
                            <div class="col-lg-8 col-md-offset-2">
                                <button class="btn btn-lg btn-primary btn-block" id="signin" type="submit">Sign in</button>
                            </div>
                            <div class="col-lg-8 col-md-offset-2 text-center">
                                <p><a th:href="@{/accounts/recovery}" href="">Need Help?</a> </p>
                            </div>
                            <div class="col-lg-8 col-md-offset-2">
                                <p><a th:href="@{/signup}" href="">Sign up</a></p>
                            </div>

                        </div>

                    </form>


                </div>
            </div>
        </div>
        <div class="row col-lg-8">
            <div class="pull-right">
                <p>New to GrassRoot? <a  th:href="@{/signup}" href="">Sign Up</a></p>
            </div>
        </div>
    </div>

</div>

<div class="header-container" layout:fragment="script-container">
    <script>
        $(document).ready(function () {

            $("#mobile-number").intlTelInput({
                onlyCountries: ["za"],
                utilsScript: "../js/intl-tel-input-utils.js"
            });

            $( "#signin" ).click(function() {

                $("#username").val( $("#mobile-number").intlTelInput("getNumber").replace("+","") );

                $( "#signin-form" ).submit();
            });
        });
    </script>
</div>


</body>
</html>