<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layout}">

<head>
    <title>Sign up</title>
</head>

<body>

<section layout:fragment="header" class="logo-container">
  <div class="container">
    <div class="row">
      <div class="jumbotron col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        <h3 class="text-center welcome-text">Welcome to</h3>
        <img th:src="@{/images/horizontal-logo-2.png}" class="img-responsive central-logo" alt="Grassroot">
        <hr>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">
  <section class="grassroot-form">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            <form name="userRegistration" th:action="@{/signup}" th:object="${userRegistration}" method="post" id="register-form">
              <input th:if="${accountType}" type="hidden" name="accountType" th:value="${accountType}" />
              <div class="form-group" th:class="${#fields.hasErrors('displayName')} ? 'form-group has-error': 'form-group'">
                <label for="displayname" class="control-label">Your name (what people know you by):</label>
                <input type="text" th:field="*{user.displayName}" class="form-control input-lg" id="displayname" placeholder="Siya" maxlength="25" />
              </div>

              <div class="form-group" th:class="${#fields.hasErrors('username')} ? 'form-group has-error' : 'form-group'">
                <label for="mobile-number" class="control-label">Your mobile number:</label>
                <input type="text" class="form-control input-lg" id="mobile-number"
                       placeholder="South African numbers only" />
                <input type="hidden" id="full-mobile-number" th:field="*{user.phoneNumber}" />
              </div>

              <div class="form-group">
                <label for="email-address" class="control-label">Or your email address:</label>
                <input type="text" th:field="*{user.emailAddress}" class="form-control input-lg" id="email-address" />

              </div>

              <div class="form-group" th:class="${#fields.hasErrors('password')} ? 'form-group has-error': 'form-group'">
                <label for="password" class="control-label">Set a password:</label>
                <input type="password" th:field="*{user.password}" class="form-control input-lg" id="password" name="password"
                       placeholder="Password" />
              </div>

              <button class="btn btn-primary btn-block btn-cta top-buffer-lg" id="register" type="submit">
                <i class="fa fa-sign-in" aria-hidden="true"></i>Sign Up</button>

            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center top-buffer">
            <a th:href="@{/login}" class="text-left form-link">
              <span>Already have an account? Click here to Login</span>
            </a>
          </div>
        </div>

      </div>
    </section>

    <section class="google-play">
      <div class="container">
        <div class="row top-buffer google-container">
          <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-12">
            <a href="https://play.google.com/store/apps/details?id=za.org.grassroot.android&amp;utm_source=global_co&amp;utm_medium=prtnr&amp;utm_content=Mar2515&amp;utm_campaign=PartBadge&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="blank">
              <img class="img-responsive google-logo" alt="Get it on Google Play" th:src="@{/images/en_badge_web_generic.png}">
            </a>
          </div>
        </div>
      </div>
    </section>

</main>

<div class="header-container" layout:fragment="script-container">
    <script>
        $(document).ready(function () {

          $( "#register" ).click(function() {
            var phone = $("#mobile-number").val();
            var user = phone.trim().replace(/\s/g, '');
            if (user.charAt(0) == '0') {
              user = user.replace("0", "27");
            }

            $("#full-mobile-number").val(user);
            // console.log("And username now : " + $("#full-mobile-number").val());
            $( "#register-form" ).submit();
          });
        });
    </script>
</div>


</body>
</html>