<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorry, we couldn't find you</title>
</head>
<body>
<div>
    <strong>Sorry!</strong>
</div>
<div>
    <p>We couldn't find a GrassRoot user who matched that phone number. You entered: {{ input_number }}.
        What would you like to do now?</p>
</div>
<div>
    <table>
        <tr><td><form action="create_user">
            <input type="hidden" name="input_number" value="{{input_number}}">
            <button type="submit">Create a new user with this number</button>
        </form></td></tr>
        <tr><td><form action="login">
            <button type="submit">Go back and re-enter phone number</button>
        </form></td></tr>
    </table>
</div>
</body>
</html>