# Java Compiled Files #
*.class

# Java Package Files #
*.jar
*.war
*.ear

# General temp files
*.tmp
*.bak
*.swp
tmp/

bin/

### Eclipse template
*.pydevproject
.metadata
.gradle
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.buildpath
.target
.texlipse

### JetBrains template
*.iml
*.ipr
*.iws

## Plugin-specific files:
out/
.idea/
.idea_modules/
atlassian-ide-plugin.xml

## Maven build folder
.target/
target/
