<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{html/fragments :: header}"></head>
<body th:with="hasDescription=${not #strings.isEmpty(description)}">
<h3>
  GRASSROOT LIVEWIRE FLASH ALERT
</h3>
<p>
  <b th:text="#{livewire.instant.preamble.1(${contactName}, ${contactNumber})}"></b><span th:text="#{livewire.instant.preamble.2}">
  Sandile, contact number 010 555 9123, has issued a flash alert with the headline:</span>
</p>
<blockquote>
  <p th:text="${headline}">
    Enter headline here
  </p>
</blockquote>
<p th:text="#{livewire.instant.groupdetails(${contactName}, ${numberMembers}, ${lengthTime}, ${numberTasks})}">
  Sandile is the organizer of a group of X people, which has been active on Grassroot since Y, and has
  met or acted Z times in the last year.
</p>
<p th:if="${hasLocation}" th:text="#{livewire.instant.location(${groupLocation}, ${groupAddress}, ${alertLocation}, ${alertAddress})}">
  The group is located at (coordinates), approximately (area), and declared that the alert is located at
  (some other coord).
</p>
<p th:if="${hasDescription}">
  <i>More details (from the user generating the alert):</i>
</p>
<p th:if="${hasDescription}" th:utext="${#strings.replace(#strings.escapeXml(description),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}" >
  Description
</p>
<span style="line-height: 5px; font-size: 5px;">&nbsp;<br></span>
<span style="line-height: 5px; font-size: 5px;">&nbsp;<br></span>
<p class="footer">
  You are receiving this mail as part of Grassroot's LiveWire service. LiveWire connects community organizers
  to the media by enabling users of the Grassroot app to generate media alerts. Click here for
  <a th:href="${infoLink}">more information</a> or to <a th:href="${unsubLink}">unsubscribe</a>.
</p>
</body>
</html>