<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{html/fragments :: header}"></head>
<body>
<h3>
  GRASSROOT LIVEWIRE ALERT: PUBLIC GATHERING
</h3>
<p>
  <b th:text="#{livewire.meeting.preamble.1(${contactName}, ${contactNumber})}"></b><span th:text="#{livewire.meeting.preamble.2}">
  <b>Sandile</b>, contact number <b>010 555 9123</b>, has issued a LiveWire alert about an upcoming gathering,
  with the description:</span>
</p>
<blockquote>
  <p th:text="${description}">
    Enter description here
  </p>
</blockquote>
<p th:text="#{livewire.meeting.details(${mtgLocation}, ${dateTime}, ${mtgSubject})}">
  The gathering will be taking place at (location), on (date and time). The subject to members is (subject).
</p>
<p th:text="#{livewire.meeting.groupdetails(${numberMembers}, ${lengthTime}, ${numberTasks})}">
  The group that is meeting has X people, has been active on Grassroot since Y, and has met or
  acted Z times in the last year.
</p>
<p th:if="${hasLocation}" th:text="#{livewire.meeting.location(${groupLocation}, ${groupAddress}, ${mtgLocation}, ${mtgAddress})}">
  The group that is meeting is located at (coordinates), approximately (area), and declared that the meeting
  is taking place at (some other coord).
</p>
<span style="line-height: 5px; font-size: 5px;">&nbsp;<br></span>
<span style="line-height: 5px; font-size: 5px;">&nbsp;<br></span>
<p class="footer">
  You are receiving this mail as part of Grassroot's LiveWire service. LiveWire connects community organizers
  to the media by enabling users of the Grassroot app to generate media alerts. Click here for
  <a th:href="${infoLink}">more information</a> or to <a th:href="${unsubLink}">unsubscribe</a>.
</p>
</body>
</html>