/*  NOTE: this is not actually used in production emails (which can't do stylesheets) -- for that, the fragment inclusion
    is used, i.e., change the style definition in fragments -> header. This is used for testing purposes when opening
    templates locally.
 */

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

blockquote a {
    text-decoration: none;
    color: black;
}

h3 {
    color: #207A34;
    font-size: 1.2em;
    font-weight: bolder;
    font-family: sans-serif;
}