<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Grassroot - Mark action completed</title>
<script>



</script>
</head>
<body>

<div layout:fragment="header">
  <h2 class="text-center">Mark action completed</h2>
</div>
<div layout:fragment="overview">
  <h4 class="text-center">Mark as completed the action, <span th:text="${entry.message}">description</span></h4>
</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <div class="col-md-6 col-md-offset-3">
    <form th:action="@{complete-do}" method="post" autocomplete="off" class="form-vertical">
      <input type="hidden" name="logBookUid" th:value="${entry.uid}" />
      <div class="form-group">
        <label class="control-label">Action description:
          <span th:text="${entry.message}">Message</span></label>
      </div>

      <div class="form-group" th:if="${hasAssignedUser}">
        <label for="userAssigned" class="control-label">Assigned to member:</label>
        <h5 id="userAssigned"><span th:text="${assignedUser.nameToDisplay()}"></span></h5>
      </div>

      <div class="checkbox" th:if="${hasAssignedUser}">
        <label for="completedByAssigned" class="col-md-2 control-label">Completed by assigned member?
          <input name="completedByAssigned" type="checkbox" id="completedByAssigned" checked="checked" />
        </label>
      </div>

      <div class="checkbox" th:unless="${hasAssignedUser}">
        <label>
          <input name="designateCompletingUser" type="checkbox" id="designateCompletingUser" />
          Designate which user completed the action?
        </label>
      </div>

      <div class="form-group hidden" id="completingUserPicker">
        <label for="completingUser" class="control-label">Select member:</label>
        <select name="completingUserUid" id="completingUser" class="form-control">
            <option th:each="member: ${assignedMembers}"
                    th:value="${member.uid}"
                    th:text="${member.nameToDisplay()}">Member name</option>
        </select>
      </div>

      <div class="checkbox">
        <label>
          <input name="specifyCompletedDate" type="checkbox" id="setCompletedDate" />
          Specify date completed (default is today)?
        </label>
      </div>

      <div class="form-group hidden" id="completedDatePicker">
        <div th:fragment="date-picker">
          <label for="datepicker" class="control-label">Date completed:</label>
            <div class="input-group date" id="datepicker">
              <input name="completedOnDate" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
      </div>

      <!-- todo: figure out if we want to have the possibility of marking the replicated/sub-group entries marked all at once -->

      <div class="form-group">
        <button type="submit" class="btn btn-default">Mark completed</button>
      </div>

    </form>
    </div>
  </div>
</div>

<!-- todo: make datetimepicker just date -->
<div class="header-container" layout:fragment="script-container">
  <script th:inline="javascript">

    $(document).ready(function() {

      var actionByDate = new Date(/*[[${#dates.formatISO(entry.getActionByDate())}]]*/);
      var nowToTheHour = new Date();
      nowToTheHour.setHours(nowToTheHour.getHours() + Math.round(nowToTheHour.getMinutes()/60));
      nowToTheHour.setMinutes(0);

      var defDate = Math.max(nowToTheHour, actionByDate);
      console.log("Date for default: " + defDate);

      $('#datepicker').datetimepicker({
        format: 'DD/MM/YYYY h:mm A',
        widgetPositioning: {
          horizontal: 'right'
        },
        sideBySide:true,
        defaultDate: defDate
      });

      $('#completedByAssigned').change(function(){
        $('#completingUserPicker').toggleClass('hidden show');
      });

      $('#designateCompletingUser').change(function(){
        $('#completingUserPicker').toggleClass('hidden show');
      });

      $('#setCompletedDate').change(function(){
        $('#completedDatePicker').toggleClass('hidden show');
      });

    });
  </script>

</div>

</body>
</html>