<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Grassroot - Confirm action todo</title>
<script>



</script>
</head>
<body>

<div layout:fragment="header">
  <h2 class="text-center">Complete entry</h2>
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="container">
    <form th:object="${entry}" th:action="@{/log/record}" method="post" autocomplete="off" class="form-vertical">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="row form-group">
            <label class="control-label col-md-3">Group:</label>
            <p class="col-md-6"><span th:text="*{parentName}">group name</span></p>
            <input type="hidden" th:field="*{parentUid}" />
            <input type="hidden" th:field="*{parentEntityType}" />
          </div>
          <div class="row form-group">
            <label class="control-label col-md-3">Summary:</label>
            <p class="col-md-6"><span th:text="*{message}">Entry</span></p>
            <input type="hidden" th:field="*{message}" />
          </div>
          <div class="row form-group">
            <label class="control-label col-md-3">Due date:</label>
            <p class="col-md-6"><span th:text="${#temporals.format(entry.getActionByDate(), 'EEE d MMM')}"></span></p>
            <input type="hidden" th:field="*{actionByDate}" />
          </div>
          <div class="row form-group">
            <label class="control-label col-md-3">Reminder:</label>
            <p class="col-md-6"><span th:text="${#temporals.format(entry.getScheduledReminderTime(), 'EEE d MMM')}">Reminder date</span></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group">
            <h4><b>Further details:</b></h4>
          </div>
          <div th:unless="*{replicateToSubGroups}" class="form-group">
            <label class="control-label">Who is assigned to complete the action?</label>
            <select th:field="*{assignmentType}" class="form-control" id="assignmentOption">
              <option value="group">The whole group</option>
              <option value="members">Designate members</option>
            </select>
          </div>
          <div class="form-group">
            <label>Notes (longer description):</label>
            <textarea class="form-control" rows="2" maxlength="250"></textarea>
          </div>
          <div class="form-group" th:if="*{replicateToSubGroups}">
            <div class="col-md-2 control-label">Subgroup replication:</div>
            <div class="col-md-4">
              <p>This logbook entry will be replicated for <span th:text="${numberSubGroups}">X</span> subgroups, involving
                <span th:text="${numberMembers}">Y</span> members.</p>
            </div>
            <input type="hidden" name="subGroups" value="1" />
          </div>

          <div class="form-group pull-right">
            <button class="btn btn-default">Back</button>
            <button type="submit" class="btn btn-primary">Record action</button>
          </div>
        </div>
      </div>

      <!-- todo : turn this into a Thymeleaf fragment, and use a member wrapper of some form -->
      <div th:unless="*{replicateToSubGroups}" class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="memberModalLabel">Assign members to action</h4>
            </div>
            <div class="modal-body">
              <div class="list-group checked-list-box">
                <li class="list-group-item checkbox"
                    th:each="member, iterStat: *{memberPicker.getListOfMembers()}">
                  <label>
                    <input type="checkbox" th:field="*{memberPicker.listOfMembers[__${iterStat.index}__].selected}" class="pull-right"/>
                    <input type="hidden" th:field="*{memberPicker.listOfMembers[__${iterStat.index}__].userUid}" />
                    <span th:text="${member.nameToDisplay}">Name</span>
                  </label>
                </li>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>


<div class="header-container" layout:fragment="script-container">
  <script>

    $(document).ready(function() {

      $('#assignmentOption').change(function(){
        var option = $('#assignmentOption').val();
        if (option == 'members') {
          $('#memberModal').modal({
            show: true
          });
        }
      });

    });
  </script>

</div>

</body>
</html>