<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layout}">
<head>
  <title>Change password</title>
</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title" th:text="${sessionUser.nameToDisplay()}">User name</h2>
        <h4 class="text-center header-content-subtitle"><a th:href="@{settings}">Change settings</a> | <a th:href="@{/home}">Back home</a></h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
          <form id="pwd_input">
            <div class="form-group">
              <label class="control-label" for="newPassword">Enter new password (minimum 5 characters)</label>
              <input name="newPassword" id="newPassword" type="password" autocomplete="off" class="form-control required" placeholder=""/>
            </div>
            <div class="form-group">
              <label class="control-label" for="passwordConfirm">Confirm password</label>
              <input name="passwordConfirm" id="passwordConfirm" type="password" autocomplete="off" class="form-control required" placeholder=""/>
            </div>
            <div class="form-group pull-right">
              <button type="submit" class="btn btn-primary">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="confirmModalLabel">
            Enter verification code
          </h4>
        </div>
        <form th:action="@{password}" method="post">
          <div class="modal-body">
            <div class="form-group">
              <label for="otp_field" class="control-label">Enter one time PIN sent to your phone:</label>
              <input type="text" class="form-control" id="otp_field" name="otp_entered" autocomplete="off" />
              <input type="hidden" name="password" id="finalPassword" />
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/jquery.validate.min.js}"></script>

  <script th:inline="javascript">

    /*<![CDATA[*/

    var userPhone = /*[[${sessionUser.phoneNumber}]]*/ 'phonenumber';

    $(document).ready(function() {
      console.log("document ready! phone number = " + userPhone);
      $('#pwd_input').validate({
        errorClass: "has-error",
        rules: {
          newPassword:{
            required:true,
            minlength: 5
          },
          passwordConfirm: {
            required: true,
            equalTo: "#newPassword",
            minlength: 5
          }
        }, messages: {
          newPassword: 'Password must be at least five characters',
          passwordConfirm: 'Passwords must match each other'
        }, submitHandler: function(form) {
          $.ajax({ url:"/grass-root-verification/" + userPhone });
          $('#otpModal').modal('show');
        }
      });

      $('#otpModal').on('show.bs.modal', function(event) {
        var enteredPassword = $('#pwd_input').find('#passwordConfirm').val();
        console.log('Entered passed = ' + enteredPassword);
        $(this).find('#finalPassword').val(enteredPassword);
      })
    });

    /*]]>*/

  </script>
</div>

</body>
</html>