<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="layout">
<head>
    <title>Grassroot - Password Recovery</title>
</head>
<body>


<div layout:fragment="header">
    <h2 class="text-center">Account recovery</h2>
</div>

<div layout:fragment="overview">
  <h4 class="text-center">Password Reset</h4>
</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

    <div class="row top-buffer-lg">
      <div class="col-md-6 col-md-offset-3">

        <form class="form-vertical" th:object="${userAccountRecovery}" th:action="@{/user/recovery}" method="post"
              id="accountRecoveryForm" autocomplete="off">

          <div>
            <h2 th:text="#{web.signin.username}">Grassroot Name</h2>
            <section>
              <div class="form-group">
                <label for="mobileNumber" class="control-label" th:text="#{web.user.account.recovery.password.reset.message}">Use your phone number to reset your password.</label>
                <input id="mobileNumber" class="form-control input-lg required" placeholder="0721234567"/>
              </div>
              <input th:field="*{username}" type="hidden" id="username"/>
            </section>

            <h2>New password</h2>
            <section>
              <div class="form-group">
                <label class="control-label" for="newPassword">Password (minimum 5 characters)</label>
                <input th:field="*{newPassword}"  id="newPassword" name="newPassword" type="password" autocomplete="off"
                       class="form-control input-lg required" placeholder=""/>
              </div>
              <div class="form-group">
                  <label class="control-label" for="passwordConfirm">Confirm password</label>
                  <input th:field="*{passwordConfirm}" id="passwordConfirm" name="passwordConfirm" type="password" autocomplete="off"
                         class="form-control input-lg required" placeholder=""/>
              </div>
            </section>


            <h2>Verification</h2>
            <section>
              <p>A verification code has been sent to your phone. Please enter the code for verification.</p>
              <div class="form-group">
                <label class="control-label" for="verificationCode">Verification Code</label>
                <div class="">
                  <input th:field="*{verificationCode}" id="verificationCode" class="form-control required" placeholder="12345" autocomplete="off"/>
                </div>
              </div>
              <a  id="sendVerification" class="text-info">Resend code</a>
            </section>

        </div>
      </form>
      </div>
    </div>


</div>


<div class="header-container" layout:fragment="script-container">
  <script>
    $(document).ready(function () {

      var form = $("#accountRecoveryForm");

      form.validate({
        rules: {
            newPassword:{
                required:true,
                minlength: 5
            },
            passwordConfirm: {
                required: true,
                equalTo: "#newPassword",
                minlength: 5
            }
        }
      });

      form.children("div").steps({
          headerTag: "h2",
          bodyTag: "section",
          transitionEffect: "slideLeft",
          onStepChanging: function (event, currentIndex, newIndex) {
              form.validate().settings.ignore = ":hidden";
              return form.valid();
          },
          onStepChanged: function (event, currentIndex, priorIndex) {

              if(priorIndex==0) {
                var phone = $("#mobileNumber").val();
                var user = phone.trim().replace(/\s/g, '');
                if (user.charAt(0) == '0') {
                  user = user.replace("0", "27");
                }

                $("#username").val(user);
              }

              if(priorIndex==1) {
                  $.ajax({ url:"/grass-root-verification/" + $("#username").val()})
              }
          },

          onFinishing: function (event, currentIndex) {
              form.validate().settings.ignore = ":hidden";
              return form.valid();
          },
          onFinished: function (event, currentIndex) {
              form.submit();
          }
      });

      $( "#sendVerification" ).click(function(event) {

          event.preventDefault();

          $.ajax({
              url: "/grass-root-verification/" + $("#username").val(),
              context: document.body
          }).done(function() {
              $.snackbar({content: "Verification code sent"});
          });
      });

    });

  </script>
</div>


</body>
</html>