<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
    <title>Password Recovery</title>
</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Account recovery</h2>
        <div class="top-lines-container">
          <span class="top-lines"></span>
          <h4 class="text-center header-content-subtitle top-lines">Password Reset</h4>
          <span  class="top-lines"></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section layout:fragment="content" class="grassroot-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <form id="msform" th:object="${userAccountRecovery}" th:action="@{/user/recovery}" method="post" autocomplete="off">
          <!-- progressbar -->
          <ul id="progressbar" class="list-unstyled">
            <li class="active">. Phone Number</li>
            <li>. New Password</li>
            <li>. Verification</li>
          </ul>

          <div class="step-form-wrapper">
            <fieldset class="form-group">
              <h3 class="fs-subtitle" th:text="#{web.user.account.recovery.password.reset.message}">Use your mobile phone number to reset your password.</h3>
              <input type="text" name="mobileNumber" id="mobileNumber" class="form-control input-lg required" placeholder="&#xf095;   Mobile number you use for login."/>
              <div id="numberInvalid" class="error-label"></div>
              <input type="button" name="previous" class="previous-disabled action-button" value="Previous" />
              <input type="button" name="next" id="btn-next-phone" class="next action-button" value="Next" />
              <input th:field="*{username}" type="hidden" id="username"/>
              <!-- error bar -->
            </fieldset>
            <fieldset class="form-group">
              <label class="control-label" for="newPassword">Password (minimum 5 characters)</label>
              <input id="newPassword" th:field="*{newPassword}" type="password" autocomplete="off" class="form-control input-lg required" placeholder="&#xf023;    Write a password you will remember." value=""/>
              <label class="control-label input-lg required" for="passwordConfirm">Confirm password</label>
              <input id="passwordConfirm" th:field="*{passwordConfirm}" type="password" autocomplete="off" class="form-control input-lg required" placeholder="&#xf023;    Write again your password." value=""/>
              <div id="passInvalid" class="error-label"></div>
              <input type="button" name="previous" class="previous action-button" value="Previous" />
              <input type="button" name="next" id="btn-next-pass" class="next action-button" value="Next" />
            </fieldset>
            <fieldset class="form-group">
              <h3 class="fs-subtitle">A verification code has been sent to your phone. Please enter the code for verification.</h3>
              <label class="control-label" for="verificationCode">Verification Code</label>
              <input id="verificationCode" th:field="*{verificationCode}" class="form-control required input-lg required" placeholder="&#xf084;    Please enter the code you received." autocomplete="off" value=""/>
              <div id="otpInvalid" class="error-label"></div>
              <a  id="sendVerification" class="text-info">Resend code</a>
              <input type="button" name="previous" class="previous action-button" value="Previous" />
              <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<div class="header-container" layout:fragment="script-container">

  <script th:src="@{/js/lib/jquery.validate.min.js}"></script>
  <script th:src="@{/js/lib/snackbar.min.js}"></script>
  <script th:src="@{/js/lib/additional-methods.min.js}"></script>
  <script th:src="@{/js/lib/jquery.easing.min.js}"></script>

  <script th:src="@{/js/user_recovery.js}"></script>
</div>


</body>
</html>