<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Call a vote</title>
</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2 class="text-center header-content-title">Call a vote</h2>
      <h4 class="text-center header-content-subtitle">Set who is voting, by when, on what</h4>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="grassroot-form" th:with="groupSpecified=${group != null}">
    <div class="container">
      <div class="row vertical-padding" th:if="${groupSpecified and eventsLeft < 5}">
        <div class="alert grassroot-alert alert-warning col-md-8 col-md-offset-2">
          <p class="alert-lg">
            Note: this group has only <span th:text="${eventsLeft}">X</span> meetings left this month.
            <span th:if="${thisGroupPaidFor and accountAdmin}">You can increase the limit by
              <a th:href="@{/account/type}">upgrading your Grassroot
                Extra account.</a></span>
            <span th:if="${not thisGroupPaidFor and accountAdmin}">You can increase the limit by adding this group
              to <a th:href="@{/account}">your Grassroot Extra account.</a></span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">

          <form id="voteForm" th:object="${vote}" th:action="@{/vote/create}" method="post">

            <div class="form-group">
              <label for="group" class="control-label">Group which is voting</label>
              <select th:unless="${groupSpecified}" name="selectedGroupUid" id="selectedgroup" class="form-control input-lg">
                <option th:each="group: ${possibleGroups}"
                        th:value="${group.uid}"
                        th:text="${group.getName('')}">Groupname</option>
              </select>
              <input th:if="${groupSpecified}" class="form-control input-lg" readonly="true" th:placeholder="${group.groupName}" id="group" />
            </div>

            <div class="form-group">
              <label for="name" class="control-label">Subject for the vote?</label>
              <input th:field="*{title}" type="text" class="form-control input-lg" id="name" placeholder="The issue for the vote" maxlength="35" data-toggle="tooltip"
                       title="Issue description may not be longer than 35 characters. "/>
            </div>

            <div class="form-group">
              <label for="type" class="control-label">Type of vote?</label>
              <select th:field="*{type}" id="type" class="form-control input-lg">
                <option th:each="option: ${T(za.org.grassroot.webapp.enums.VoteType).values()}"
                        th:value="${option}"
                        th:text="#{web.vote.creation.type.__${option}__}">
                </option>
              </select>
            </div>

            <div class="input-group" id="vote-option-0">
              <input id="options-input-0" name="options[0]" type="text" class="form-control input-lg option-input" autocomplete="off" placeholder="Enter the vote option">
              <span class="input-group-addon add-option-btn" onclick="addOptionRow(0)"><i class="fa fa-plus" aria-hidden="true"></i></span>
            </div>

            <div class="form-group">
              <label for="datepicker" class="control-label">Vote closing date and time</label>
              <div class="input-group date" id="datepicker">
                <input th:field="*{eventDateTime}" type="text" class="form-control input-lg" />
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="control-label">Longer description of vote (optional)</label>
              <textarea th:field="*{description}" class="form-control input-lg" rows="2" maxlength="250"
              placeholder="Add any additional information about the vote (only Internet or Android users can view)"></textarea>
            </div>

            <div class="form-group pull-right top-buffer">
                <a th:if="${groupSpecified}"
                   th:href="@{/group/view(groupUid=${group.Uid})}" role="button" class="btn btn-default">Cancel</a>
                <a th:if="${not groupSpecified}"
                   th:href="@{/home}" role="button" class="btn btn-default btn-lg">Cancel</a>
                <button type="submit" class="btn btn-primary btn-lg">Call vote</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </section>
</main>

<div class="header-container" layout:fragment="script-container">

  <script th:src="@{/js/lib/moment.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
  <script th:src="@{/js/lib/jquery.validate.min.js}"></script>

  <script>

    var voteForm = $("#voteForm");

    $(document).ready(function() {

      voteForm.validate({
          errorClass: 'error-text',
          rules: {
              title: {
                  required: true,
                  minlength: 2,
                  maxlength: 35
              }
          }, messages: {
              title: 'Please enter a vote subject (less than 35 characters)',
          }
      });

      interceptEnterOnVoteOption(0);
      $("#vote-option-0").hide();

      $("#type").change(function() {
        var selectedOption = $("#type").find("option:selected").val();
        var voteOptions = $("[id^=vote-option-]");
        if (selectedOption === "MULTI_OPTION") {
          voteOptions.show();
          voteOptions.each(function() {
            $(this).find('input[type=text]').rules('add', voteOptionRules);
          });
        } else {
          voteOptions.hide();
          voteOptions.each(function() {
            $(this).find('input[type=text]').rules('remove');
          });
        }
      });

      $("#customReminder").hide();


      var defTime = new Date();
      defTime.setTime(defTime.getTime() + 5*60*1000);

      $('#datepicker').datetimepicker({
        format: 'DD/MM/YYYY h:mm A',
        widgetPositioning: {
          horizontal: 'right'
        },
        sideBySide:true,
        minDate: defTime
      });

      $('#reminderType').change(function() {
        var selected = $("#reminderType").find("option:selected").val();
        console.log("Selected option: " + selected);
        if (selected === "CUSTOM") {
          $("#customReminder").show();
        } else {
          $("#customReminder").hide();
        }
      });

    });

    var lastOption = 0;

    function addOptionRow(afterIndex) {
      var currentInput = $("#vote-option-" + afterIndex);
      currentInput.find('input[type=text]').rules("add", voteOptionRules);
      if (voteForm.valid()) {
        if (lastOption !== afterIndex) {
          incrementOptionIndices(afterIndex);
        } else {
          lastOption++;
        }
        currentInput.after(assembleOptionRow(afterIndex + 1));
        if (afterIndex === 0) {
          insertRemoveButton(afterIndex);
        }
        insertRemoveButton(afterIndex + 1);
        interceptEnterOnVoteOption(afterIndex + 1);
      }
    }

    function removeOptionRow(removeIndex) {
      var inputGroupToRemove = $("#vote-option-" + removeIndex);
      inputGroupToRemove.remove();
      reduceOptionIndices(removeIndex);
    }

    function incrementOptionIndices(forIndex) {
      for (i = lastOption; i > forIndex; i--) {
        var thisRow = $("#vote-option-" + i);
        var newIndex = i + 1;
        console.log("changing " + i + " to " + newIndex);
        thisRow.find('input[type=text]').attr({
          id: "options-input-" + newIndex,
          name: "options[" + newIndex + "]"
        });
        thisRow.find('.add-option-btn').attr('onClick', 'addOptionRow(' + newIndex + ')');
        thisRow.attr('id', 'vote-option-' + newIndex);
      }
    }

    function reduceOptionIndices(untilIndex) {
      console.log("removing rows above index " + untilIndex);
      for (i = untilIndex + 1; i <= lastOption; i++) {
        var thisRow = $("#vote-option-" + i);
        var newIndex = i - 1;
        console.log("changing " + i + " to " + newIndex);
        thisRow.find('input[type=text]').attr({
          id: "options-input-" + newIndex,
          name: "options[" + newIndex + "]"
        });
        thisRow.find('.add-option-btn').attr('onClick', 'addOptionRow(' + newIndex + ')');
        thisRow.find('.rem-option-btn').attr('onClick', 'removeOptionRow(' + newIndex + ')');
        thisRow.attr("id", "vote-option-" + newIndex);
      }

      lastOption--;
    }

    function insertRemoveButton(rowIndex) {
      var row = $("#vote-option-" + rowIndex);
      if (row.find('.rem-option-btn').length === 0) {
        row.find('.add-option-btn').after(
          "<span class=\"input-group-addon rem-option-btn\" " +
          "onclick='removeOptionRow(" + rowIndex + ")'>" +
          "<i class=\"fa fa-minus\" aria-hidden=\"true\"></i></span>")
      }
    }

    function assembleOptionRow(thisIndex) {
      // note : we do not add validation to this so user can submit with a blank last option (just ignored)
      return "<div class='input-group top-padding-sm' id='vote-option-" + thisIndex + "'>" +
        "<input id=\"options-input-" + thisIndex + "\" name=\"options[" + thisIndex + "]\" " +
        "type=\"text\" class=\"form-control input-lg\" autocomplete='off' placeholder=\"Enter the vote option\"> " +
        "<span class=\"input-group-addon add-option-btn\" onclick='addOptionRow(" + thisIndex + ")'>" +
        "<i class=\"fa fa-plus\" aria-hidden=\"true\"></i></span>" +
        "</div>";
    }

    function interceptEnterOnVoteOption(index) {
      $("#vote-option-" + index).find('input[type=text]').on('keypress', function(e) {
        if (e.keyCode === 13) {
          e.preventDefault();
          addOptionRow(index);
          $("#vote-option-" + (index + 1)).find('input[type=text]').focus();
          return false;
        }
      });
    }

    // note: the abomination that is JS is making this fail, so am commenting out above -- todo: return to it
    var voteOptionRules = {
      required: true,
      minlength: 1,
      maxlength: 20,
      messages: {
        required: 'Please enter a vote option before adding another',
        minlength: 'Please enter a vote option before adding another',
        maxlength: 'Vote options can be a maximum of 20 characters'
      }
    }

  </script>

</div>

</body>
</html>