<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - System Admin</title>
</head>
<body>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="well">
    <div class="row">
      <h2>List of all groups in GrassRoot</h2>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
        <th></th>
        <th>Group name</th>
        <td>Creating user</td>
        <td>Number of members</td>
        <td>Created date time</td>
        <td>Last active</td>
        </thead>
        <tbody>
        <tr th:each="group, iterStat : ${groupList}">
          <td><span th:text="${iterStat.count + __${countBase}__}">1</span></td>
          <td><a th:href="@{view(groupId=${group.id})}"><span th:text="${group.getName('')}"></span></a></td>
          <td><span th:text="${group.createdByUser.nameToDisplay()}"></span></td>
          <td><span th:text="${group.getGroupMembers().size()}"></span></td>
          <td><span th:text="${#calendars.format(group.getCreatedDateTime(),'dd MMMM yyyy')}"></span></td>
          <td>TBD</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div th:if="${paginated}" class="row">
      <div class="col-lg-4"><a th:href="@{home?page=-1}">Full view</a></div>
      <div class="col-lg-4" th:unless="${previousPage == -1}"><a href="" th:href="@{home(page=${previousPage})}">Previous page</a></div>
      <div class="col-lg-4" th:unless="${nextPage == -1}"><a href="" th:href="@{home(page=${nextPage})}">Next page</a></div>
      <div class="col-lg-4"></div>
    </div>
    <div th:unless="${paginated}" class="row">
      <div class="col-lg-4"><a th:href="@{home?page=0}">Paginated view</a></div>
    </div>
    <a href="" th:href="@{filter}">Filter groups</a>
    <a href="" th:href="@{roles/reset-select}">Reset roles on multiple groups</a>
  </div>


  </div>


</body>
</html>