<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="layout">
<head>
  <title>Grassroot- System Admin</title>
</head>
<body>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="well">
    <div class="row text-center">
      <h2>Search for a group</h2>
    </div>
    <div class="row text-center">
      <form th:action="@{search}" method="get">
        <input type="text" name="searchTerm" />
        <input type="submit" value="Search" />
      </form>
    </div>
  </div>

</div>


</body>
</html>