<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Grassroot - Admin View Group</title>
</head>
<body>

<div layout:fragment="header">
  <h2>Group: <span  th:text="${group.groupName}">Group</span></h2>
</div>
<div layout:fragment="overview">View group</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <!-- Major todo: add in user permissions about changing names & groups &c. -->
  <div class="well">
      <div class="row">
      <h2>Group members</h2>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
        <th>Member</th>
        <th>Phone number</th>
        <th>Role</th>
        <th></th>
        </thead>
        <tbody>
        <tr th:each="member, iterStat : ${members}">

          <form  th:action="@{/admin/groups/roles/change}" method="post" autocomplete="on" class="form-horizontal">
            <input type="hidden" name="groupId" th:value="${group.id}" />
            <input type="hidden" name="userId" th:value="${member.user.id}" />

            <td><span th:text="${member.user.displayName}"></span></td>
            <td><span th:text="${member.user.phoneNumber}"></span></td>

            <td>
              <select name="roleName">
                <option th:each="role : ${roles}"
                        th:value="${role[0]}"
                        th:text="${role[1]}"
                        th:selected="${#strings.equals(member.roleName, role[0])}"></option>
              </select>
            </td>

            <td>
              <button type="submit" class="btn btn-info" aria-label="Change role">Change role</button>
            </td>
          </form>

        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <form th:action="@{/admin/groups/roles/reset}" method="post">
        <input type="hidden" name="groupId" th:value="${group.id}" />
        <button type="submit" class="btn btn-default">Reset all roles to default</button>
      </form>
    </div>

    <!-- Scratch, holder

    <option value="">Not set</option>
                <option value="ROLE_GROUP_ORGANIZER">Group organizer</option>
                <option th:selected="${#strings.equals(member.roleName, 'ROLE_COMMITTEE_MEMBER')}" value="ROLE_COMMITTEE_MEMBER">Committee member</option>
                <option value="ROLE_ORDINARY_MEMBER">Ordinary member</option> -->

    <!-- <form th:action="@{modify}" method="post">
      <input type="hidden" name="groupId" th:value="${groupModifier.id}" />
      <div class="row">
        <div class="col-lg-2" th:switch="${openToken}">
          </div>
        <div class="col-lg-4">
          <button type="submit" name="group_modify" class="btn btn-warning">Add and modify group members</button>
        </div>
        <div class="col-lg-4">
          <button type="sumit" name="group_language" class="btn btn-info">Change group language</button>
        </div>
        <div class="col-lg-4">
          <button type="submit" name="group_delete" class="btn btn-warning">Delete group (only within 48 hours)</button>
        </div>
    </div>
    </form> -->
  </div>

  <!-- todo: add button that will get all users from subgroups too and display them in one list -->

  <!-- <div class="well" th:if="${not hasParent}">
    <div class="row"><div class="col-md-12">
      <a href="" th:href="@{/group/parent(groupId=${group.id})}"><button class="btn btn-info">Link this group to a parent</button></a>
    </div></div>
  </div> -->

  <!-- list subgroups -->
  <!-- todo: create a fragment to display a list of groups, to be used in a bunch of places -->
  <!-- <div th:if="${not #lists.isEmpty(subGroups)}">
    <div class="well">
      <div class="row">
        <div class="col-md-12">
          <h2>Subgroups</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div th:each="subgroup, iterStat : ${subGroups}" class="bs-component">
            <div class="list-group">
              <div class="list-group-item">
                <div class="row-content">
                  <h4  class="list-group-item-heading">
                    <a th:href="@{/group/view(groupId=${subgroup.id})}"><span th:text="${subgroup.groupName}"></span></a>
                  </h4>
                  <div class="least-content"><span th:text="${subgroup.getGroupSize().size()}"></span> Members</div>
                  <p class="list-group-item-text">Est. <span th:text="${#calendars.format(subgroup.getCreatedDateTime(),'dd MMMM yyyy')}">13 May 2011</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>


</body>
</html>