<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Import group members</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>

  <section layout:fragment="header" class="top-container">
    <h2 class="text-center header-content-title">Upload Members</h2>
    <h4 class="text-center header-content-subtitle">Import a list of members from Excel</h4>
  </section>

  <main layout:fragment="content">

    <section class="grassroot-form">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div id="add_file">
              <div class="form-group">
                <span class="btn default-button full-width-button fileinput-button">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  <span id="file_btn_text">Add file</span>
                  <input id="fileupload" type="file" name="file" />
                </span>
              </div>
            </div>

            <!-- form populated by response from controller with columns, etc -->
            <div id="step_2">
              <form th:action="@{confirm}" method="post" id="file_options">
                <input type="hidden" id="tmpFilePath" name="tempPath" />
                <input type="hidden" name="groupUid" th:value="${groupUid}" />
                <div class="form-group">
                  <label class="radio-inline"><input type="radio" name="header" value="yes" th:checked="true">Sheet has a header row</label>
                  <label class="radio-inline"><input type="radio" name="header" value="no">No header row</label>
                </div>
                <div class="form-group">
                  <label for="nameColumn" class="control-label">Column with member names:</label>
                  <select name="nameColumn" id="nameColumn" class="form-control input-lg column-selector">
                  </select>
                </div>
                <div class="form-group">
                  <label for="phoneColumn" class="control-label">Column with phone numbers:</label>
                  <select name="phoneColumn" id="phoneColumn" class="form-control input-lg column-selector">
                  </select>
                </div>
                <div class="form-group">
                  <label for="roleColumn" class="control-label">Column with roles: (optional)</label>
                  <select name="roleColumn" id="roleColumn" class="form-control input-lg column-selector">
                    <option value="-1">None</option>
                  </select>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block btn-cta">Next</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div layout:fragment="script-container">

    <script th:src="@{/js/lib/jquery.ui.widget.min.js}"></script>
    <script th:src="@{/js/lib/jquery.iframe-transport.min.js}"></script>
    <script th:src="@{/js/lib/jquery.fileupload.min.js}"></script>

    <script th:inline="javascript">
      $(document).ready(function() {
        $("#step_2").hide();

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $('#fileupload').fileupload({
          url: /* [[@{'analyze'}]] */ "analyze",
          dataType: 'JSON',
          beforeSend: function(xhr) {
            xhr.setRequestHeader(header, token);
          },
          done: function (e, data) {
            $('#file_btn_text').text("Change file");
            addHeadersToSelect(data.result)
          }
        });

        function addHeadersToSelect(dataResult) {
          /*console.log("passed this as dataResult: " + JSON.stringify(dataResult));
          console.log("and extracted strings: " + dataResult['firstRowCells']);*/

          var colOptions = '';
          var i = 0;

          $("#tmpFilePath").val(dataResult['tmpFilePath']);
          console.log("Set file path as: " + $("#tmpFilePath").val());

          $.each(dataResult['firstRowCells'], function() {
            colOptions += '<option value="' + i + '">' + this + '</option>';
            i++;
          });

          $(colOptions).appendTo($(".column-selector"));

          console.log("Showing the second step ...");
          $("#step_2").show();

        }

      });
    </script>
  </div>

</body>
</html>