<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Consolidate groups</title>
</head>
<body>

<div layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Confirm merge</h2>
      </div>
    </div>
  </div>
</div>

<main layout:fragment="content">
  <section class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
          <form th:action="@{/group/consolidate/do}" method="post">
            <input type="hidden" name="groupInto" th:value="${groupInto.uid}" />
            <input type="hidden" name="groupFrom" th:value="${groupFrom.uid}" />
            <input type="hidden" name="leaveActive" th:value="${leaveActive}" />
            <div class="form-group">
              <p class="form-text-lg">
                You are merging <span th:text="${numberFrom}">X</span> members from
                "<span th:text="${groupFrom.getName('')}">group name</span>", into
                "<span th:text="${groupInto.getName('')}">group name</span>".
                <span th:unless="${leaveActive}">
                  After the merge, <span th:text="${groupFrom.getName('')}">group name</span> will be deactivated.
                </span>.
                To confirm, please type "merge" below.</small>
              </p>
              <input type="text" class="form-control input-lg" id="confirm_field" name="confirm_field" autocomplete="off" />
            </div>
            <div clas="form-group pull-right button-md-align">
              <a th:href="@{/group/view(groupUid=${groupFrom.Uid})}" role="button" class="btn default-button btn-neutral">Cancel</a>
              <button type="submit" class="btn default-button">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

</body>
</html>