<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Link to parent</title>
</head>
<body>

<!-- Major todo: A lot of error handling, permissions, sending requests to controlling users, etc -->

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title" th:text="${group.name}">Group name</h2>
        <h4 class="text-center header-content-subtitle">Link this group to a parent</h4>
        <h4 class="text-center group-info">
          <a th:href="@{/group/view(groupUid=${group.uid})}">Back to group</a>
        </h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">
  <section class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <form th:action="@{/group/link}" method="post" autocomplete="off">
            <input type="hidden" name="groupUid" th:value="${group.uid}" />
            <div class="form-group">
              <label class="control-label">Select the parent group:</label>
              <select name="parentUid" id="parentGroup" class="form-control">
                <option th:each="parent : ${possibleParents}"
                        th:value="${parent.getUid()}"
                        th:text="${parent.groupName}">Another parent</option>
              </select>
            </div>
            <div class="form-group">
              <div class="pull-right">
                <a th:href="@{/group/view(groupUid=${group.uid})}" class="btn default-button btn-neutral">Back</a>
                <button type="submit" class="btn default-button">Link</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

</body>
</html>