
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Grassroot Platform</title>
</head>

<body>

<div layout:fragment="header">
  <h2 class="text-center">Grassroot Admin Console: Users</h2>
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
  <div class="well">

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
      <h4 class="text-center">Manage user</h4>
        <form th:action="@{view}" method="post" class="form-vertical">
          <input type="hidden" name="lookup_field" th:value="phoneNumber" />
          <div class="form-group">
            <label for="phoneNumber" class="control-label">Enter a phone number or display name:</label>
            <input type="text" id="phoneNumber" class="form-control" name="lookup_term" />
          </div>
          <div class="form-group">
            <button id="submitButton" type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h4>Total number of users in the platform: <span th:text="${totalUserCount}">X</span> people.</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4" style="width:600px;height:250px;" id="graph"></div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <table class="table table-striped">
          <thead>
            <th>Interval (end point)</th>
            <th>Number users</th>
          </thead>
          <tbody>
            <tr th:each="row : ${histogramData}">
              <td th:text="${row.key}">Key</td>
              <td th:text="${row.value}">Value</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>

<div class="header-container" layout:fragment="script-container">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script th:inline="javascript">

    /*<![CDATA[*/

    var x = [];
    var y = [];
    var fromTh = [[${histogramData}]];
    for (entry in fromTh) {
      if (fromTh[entry] != 0) {
        x.push(entry);
        y.push(fromTh[entry]);
      }
    }

    var data = [
      {
        x: x,
        y: y,
        type: 'bar'
      }
    ];
    Plotly.newPlot('graph', data);

    /*]]>*/

  </script>
</div>

</body>
</html>