<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>GrassRoot Platform</title>

    <meta property="og:title" content="grassroot.org.za"/>
    <meta property="og:image" content="/img/grass.png"/>
    <meta property="og:description" content="The GrassRoot Platform."/>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<div layout:fragment="header">
    <!--<h2 th:text="#{home.welcome.message}">welcome headline</h2>-->
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <!-- Central text header -->
  <div class="well">
    <div class="row">
      <h1>GrassRoot admin console</h1>
      <!-- Insert user's name -->
      <h2>Administer users</h2>
    </div>
  </div>

  <div class="well">
    <div class="row">
      Total number of users in the platform: <span th:text="${totalUserCount}">X</span> people.
    </div>
    <div class="row">
      <form th:action="@{view}" method="post" class="form-horizontal">
        <input type="hidden" name="lookup_field" th:value="phoneNumber" />
        <div class="form-group">
          <label for="phoneNumber" class="col-lg-2 control-label">Enter a phone number:</label>
          <div class="col-lg-4">
            <input type="text" id="phoneNumber" class="form-control" name="lookup_term" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-4">
            <button id="submitButton" type="submit" class="btn btn-primary">Confirm</button>
            <a href="" th:href="@{/admin/home}"><button class="btn btn-warning">Cancel</button></a>
          </div>
        </div>
      </form>
    </div>

    <div class="well">
      <div class="well" style="width:600px;height:250px;" id="graph"></div>
      <table>
        <thead>
          <th>Interval (end point)</th>
          <th>Number users</th>
        </thead>
        <tbody>
          <tr th:each="row : ${histogramData}">
            <td th:text="${row.key}">Key</td>
            <td th:text="${row.value}">Value</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>

<div class="header-container" layout:fragment="script-container">

  <script th:inline="javascript">

    /*<![CDATA[*/

    var x = [];
    var y = [];
    var fromTh = [[${histogramData}]];
    for (entry in fromTh) {
      if (fromTh[entry] != 0) {
        x.push(entry);
        y.push(fromTh[entry]);
      }
    }

    var data = [
      {
        x: x,
        y: y,
        type: 'bar'
      }
    ];
    Plotly.newPlot('graph', data);

    /*]]>*/

  </script>
</div>

</body>
</html>