<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Grassroot Platform</title>
</head>

<body>

<div layout:fragment="header">
    <!--<h2 th:text="#{home.welcome.message}">welcome headline</h2>-->
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <!-- Central text header -->
  <div class="well">
    <div class="row">
      <h1>Grassroot admin console</h1>
      <!-- Insert user's name -->
      <h2>Administer users</h2>
    </div>
  </div>

  <div class="well">
    <div class="row">
      Total number of users in the platform: <span th:text="${totalUserCount}">X</span> people.
    </div>
    <div class="row">
      <div class="row">
        <table class="table table-striped">
          <thead>
          <th>Member</th>
          <td>Phone number</td>
          </thead>
          <tbody>
          <tr th:each="user : ${userList}">
            <td><span th:text="${user.displayName}"></span></td>
            <td><span th:text="${user.phoneNumber}"></span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
</body>
</html>