<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - View Meeting</title>
</head>
<body>

<div layout:fragment="header">
  <h2>Meeting: <span  th:text="${user.nameToDisplay()}">Meeting</span></h2>
</div>
<div layout:fragment="overview">View user details and perform basic actions</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="well">
    <div class="row">
      User details:
      <table>
        <tr>
          <td>First Name</td>
          <td><span th:text="${user.firstName}">Joe</span></td>
        </tr>
        <tr>
          <td>Surname</td>
          <td><span th:text="${user.lastName}">Bloggs</span></td>
        </tr>
        <tr>
          <td>Display name</td>
          <td><span th:text="${user.nameToDisplay()}">Joe Bloggs</span></td>
        </tr>
        <tr>
          <td>Phone number</td>
          <td><span th:text="${user.phoneNumber}">0815550000</span></td></t>
        </tr>
        <tr>
          <td>Language</td>
          <td><span th:text="${user.languageCode}">isiZulu</span></td>
        </tr>
        <tr>
          <td>User created:</td>
          <td><span th:text="${user.createdDateTime}">10 February 2015</span></td>
        </tr>
        <tr>
          <td>Last time used system:</td>
          <td><span>To create this feature</span></td>
        </tr>
        <tr>
          <td>Has a web profile:</td>
          <td><span th:text="${user.webProfile}">Yes</span></td>
        </tr>
        <tr>
          <td>Number of groups a part of:</td>
          <td><span th:text="${user.groupsPartOf.size()}">254</span></td> <!-- turn this into a link -->
        </tr>
      </table>
    </div>
    <div class="row">

      <a href="@{add_group(userId=${user.id})}">Add this user to a group</a>
      <a href="@{language}">Change this user's language</a>
      <a href="@{password}">Reset this user's password</a>

    </div>
  </div>-->
    </div>
  </div>
</div>

</body>
</html>