<!--
  TODO 3 - Move radius location?
  TODO 4 - Calculate initial position - not use always the default
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Locations Map</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta property="og:title" content="grassroot.org.za"/>
  <meta property="og:image" content="/img/horizontal-logo.png"/>
  <meta property="og:description" content="The Grassroot Platform"/>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- Leaflet Scale: https://github.com/nerik/leaflet-graphicscale -->
  <link rel="stylesheet" th:href="@{/assets/leaflet-css/leaflet.css}"/>
  <link rel="stylesheet" th:href="@{/assets/leaflet-css/Leaflet.GraphicScale.min.css}"/>
  <link rel="stylesheet" th:href="@{/assets/bootleaf.css}"/>

  <script th:src="@{/js/lib/leaflet.js}"></script>
  <script th:src="@{/js/lib/Leaflet.GraphicScale.min.js}"></script>
  <script th:src="@{/js/lib/jquery-2.2.4.min.js}"></script>

</head>
<body>

<section layout:fragment="header" class="top-container">
</section>

<main layout:fragment="content" class="map-container" style="position: fixed; outline: none; overflow: visible;">
  <div class="container map-container" id="map_container" style="overflow: visible;padding-left: 0px;padding-bottom: 150px;">
    <div id="sidebar" style="width: auto;">
      <div class="sidebar-wrapper" id="filter">
        <div class="panel panel-default" id="features">
          <div class="panel-heading">
            <h3 class="panel-title">Points of Interest
              <button type="button" class="btn btn-xs btn-default pull-right" id="sidebar-hide-btn"><i class="fa fa-chevron-left"></i></button>
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-8 col-md-8">
                <input type="text" class="form-control search" placeholder="Filter" />
              </div>
              <div class="col-xs-4 col-md-4">
                <button type="button" class="btn btn-primary pull-right sort" data-sort="feature-name" id="sort-btn"><i class="fa fa-sort"></i>&nbsp;&nbsp;Sort</button>
              </div>
            </div>
          </div>
          <div class="sidebar-table">
            <table class="table table-hover" id="feature-list">
              <thead class="hidden">
              <tr>
                <th>Icon</th>
              <tr>
              <tr>
                <th>Name</th>
              <tr>
              <tr>
                <th>Chevron</th>
              <tr>
              </thead>
              <tbody class="list"></tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Button to show sidebar -->
      <div class="sidebar-wrapper" id="show-sidebar" style="width: 22px;" hidden>
        <div class="panel panel-default">
          <button type="button" class="btn btn-xs btn-default pull-left" id="sidebar-show-btn"><i class="fa fa-chevron-right"></i></button>
        </div>
      </div>
    </div>

    <!-- <form th:object="${filter}">
      <input type="checkbox" name="groupSize" /> Filter by group size
      <input type="checkbox" name="groupLength" /> Filter by length of group
      <input type="checkbox" name="numberTasks" /> Filter by number of tasks
      <button type="submit">Filter</button>
    </form> -->

    <!-- The Map -->
    <div id="map" style="height: 100%;"></div>
  </div>

  <!-- <div id="loading">
    <div class="loading-indicator">
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-info progress-bar-full"></div>
      </div>
    </div>
  </div> -->

  <script type='text/javascript' th:inline="javascript">
    /*<![CDATA[*/
    console.log("loading map ...");

    // Get parameters
    var latitude = [[${location.latitude}]];
    var longitude = [[${location.longitude}]];

    // Radius in Km
    var originalRadius = [[${radius}]];
    if (originalRadius == null) originalRadius = 2;

    // Try to calculate a zoom, if needed
    var maxZoom = 18;
    var zoom = [[${zoom}]];

    if (zoom == null) zoom = maxZoom - originalRadius;

    // Create map
    var map = L.map('map').setView([latitude, longitude], zoom);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: maxZoom,
      attributionControl: false
    }).addTo(this.map);

    // setup a marker group
    var markersLayer = L.layerGroup();

    // Radius in Km, convert to meters
    var radius = originalRadius * 1000.0;

    // Draw a radius in meters
    L.circle([latitude, longitude], radius, {fill: true}).addTo(this.map);

    // Draw the scale
    var graphicScale = L.control.graphicScale({
      doubleLine: false
      ,fill: 'fill'
      ,showSubunits: false
    }).addTo(this.map);

    // Function to create the markers into map
    function CreateMarkers(markers) {
      // First clear old markers
      this.map.removeLayer(this.markersLayer);

      // Create all marks
      for (var i=0; i < markers.length; ++i)
      {
        // Get data
        var m = markers[i];

        // Create marker
        var marker = L.marker([m.latitude, m.longitude]);
        marker.bindPopup('<a href="' + m.url + '" target="_blank">' + m.name + '</a> <br><br>' + m.description);

        // Add marker
        this.markersLayer.addLayer(marker);
      }

      // Add the group to the map
      // for more see https://github.com/Leaflet/Leaflet.markercluster
      this.map.addLayer(this.markersLayer);
    }

    // Add to map the 'moveend' event
    function LoadMarkers() {
      var url = '/api/location';
      // Get bounding box
      var min = this.map.getBounds().getSouthWest();
      var max = this.map.getBounds().getNorthEast();
      var data = {
        min: { latitude: min.lat, longitude: min.lng },
        max: { latitude: max.lat, longitude: max.lng }
      };
      // Add security
      var csrfHeader = $("meta[name='_csrf_header']").attr("content");
			var csrfToken = $("meta[name='_csrf']").attr("content");
      var headers = {
        "Content-Type": "application/json"
      };
			headers[csrfHeader] = csrfToken;
      // Load new data
      $.ajax({
        url: url,
        type: 'post',
        dataType: 'json',
        data: JSON.stringify(data),
        headers: headers,
        success: function(response) {
          console.log("done");
          CreateMarkers(response.data);
        },
        error: function(jqxhr, status, error) {
          var err = status + ", " + error;
          console.log( "Request Failed: " + err );  
        }
	    });
	  }

    // Do the job whem ready
    $(document).ready(function() {
      // -------------------------
      // Add callbacks to buttons
      // -------------------------
      map.on('moveend', function(e) {
        LoadMarkers();
      });
      // Hide sidebar
      $('#sidebar-hide-btn').click(function () {
          $('#filter').hide();
          $('#show-sidebar').show();
      });

      // Show sidebar
      $('#sidebar-show-btn').click(function () {
          $('#filter').show();
          $('#show-sidebar').hide();
      });

      // Load initial markers
      LoadMarkers();
    });
  /*]]>*/
  </script>

</main>

</body>
</html>
