<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Create LiveWire subscriber</title>
</head>
<body>

<section layout:fragment="header" class="top-container" th:switch="${groupCreator.hasParent}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2>Create a LiveWire subscriber</h2>
      </div>
    </div>
  </div>
</section>


<div layout:fragment="content">
  <section class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <form th:action="@{create}" method="post">
            <div class="form-group col-md-12 input-block">
              <label for="display_name" class="control-label">Subscriber name:</label>
              <input name="displayName" id="display_name" type="text" class="form-control input-lg" />
            </div>
            <div class="form-group col-md-12 input-block">
              <label for="primary_email" class="control-label">Primary email:</label>
              <input name="primaryEmail" id="primary_email" type="text" class="form-control input-lg" />
            </div>
            <div class="form-group col-md-12 checkbox-block">
              <label class="checkbox-inline">
                <input type="checkbox" checked="true" name="addToPushEmails" id="addToPushMail" /><span>
                Add primary email to list of addresses for push alerts</span>
              </label>
            </div>
            <div class="form-group col-md-12 input-blocl">
              <label for="push_emails" class="control-label">Other emails for push subscriber:</label>
              <input name="emailsForPush" id="push_emails" type="text" class="form-control input-lg" />
            </div>
            <div class="form-group col-md-12 checkbox-block">
              <label class="checkbox-inline">
                <input type="checkbox" checked="true" name="active" id="active" /><span>
                Make account active</span>
              </label>
            </div>
            <div class="form-group">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-lg default-button">Create Subscriber</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

</body>
</html>