<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="layout">
<head>
  <title>Grassroot - Record an action</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>

<div layout:fragment="header">
  <h2 class="text-center">Record an action</h2>
</div>

<div layout:fragment="overview">
  <h4 class="text-center">Record a decision and to-do for the group</h4>
</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="well">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <form th:object="${actionTodo}" th:action="@{/todo/record}" id="createForm" method="post" class="form-vertical">
          <input type="hidden" th:field="*{parentEntityType}" />

          <div class="form-group">
            <label for="group" class="control-label">Group:</label>
            <div th:unless="${parentSpecified}">
              <select th:unless="${parentSpecified}" th:field="*{parentUid}" id="groupSelector" class="form-control input-lg">
                <option th:each="group: ${possibleGroups}"
                        th:value="${group.Uid}"
                        th:text="${group.getName('')}"
                        th:attr="data-mins=#{web.meeting.reminder.group.__${group.reminderMinutes}__}">Groupname</option>
              </select>
              <input type="hidden" th:value="${userUid}" id="userUid" />
            </div>
            <div th:if="${parentSpecified}">
              <input class="form-control input-lg" readonly="true" th:placeholder="${parent.name}" id="group" />
              <input type="hidden" th:field="*{parentUid}" th:value="${parent.uid}" />
            </div>
            <p class="grassroot-body" id="remainingText">
              This group has X todos left this month
            </p>
          </div>

          <div class="form-group">
            <label for="name" class="control-label">Title:</label>
            <input th:field="*{message}" type="text" class="form-control input-lg" maxlength="35" data-toggle="tooltip"
                     title="Description may not be longer than 35 characters." id="name"
                   placeholder="A short summary of the action or decision to record" />
          </div>

          <div class="form-group">
            <label for="datepicker" class="control-label">Deadline:</label>
            <div class="input-group date" id="datepicker">
              <input th:field="*{actionByDate}" type="text" class="form-control input-lg" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Notes? Please enter any further description:</label>
            <textarea class="form-control input-lg" rows="1" maxlength="250"
                      placeholder="This will not be sent with the SMS, but will be seen by app and web users"></textarea>
          </div>

          <div class="form-group">
            <label class="control-label">Send a reminder:</label>
            <select th:field="*{reminderType}" class="form-control input-lg" id="reminderType">
              <option th:if="${parentSpecified}" value="GROUP_CONFIGURED" selected="true">
                Group default (<span th:text="#{web.meeting.reminder.group.__${parent.reminderMinutes}__}">X</span> ahead)
              </option>
              <option th:unless="${parentSpecified}" value="GROUP_CONFIGURED" id="groupOption">
                Group default (<span id="groupReminderTime">X ahead</span>)
              </option>
              <option value="CUSTOM">Set custom</option>
            </select>
            <div class="radio" id="customReminder">
              <label class="radio-inline"><input type="radio" th:field="*{reminderMinutes}" value="-60"/>On due date</label>
              <label class="radio-inline"><input type="radio" th:field="*{reminderMinutes}" value="-1440"/>One day before</label>
              <label class="radio-inline"><input type="radio" th:field="*{reminderMinutes}" value="-2880"/>Two days before</label>
              <lable class="radio-inline"><input type="radio" th:field="*{reminderMinutes}" value="-10080"/>One week before</lable>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Who has responsibility for completing the action?</label>
            <div class="radio">
              <label class="radio-inline radio-inline-lg"><input type="radio" th:field="*{assignmentType}" value="group" id="wholeGroup" />The whole group</label>
              <label class="radio-inline radio-inline-lg"><input type="radio" th:field="*{assignmentType}" value="members" id="pickMembers" />Pick members</label>
              <h5 id="pickedMemberCount">Number of members picked</h5>
            </div>
          </div>


          <div class="form-group pull-right">
            <!-- todo : add a view traffic director to handle the links below for non-group parents -->
              <a th:if="${parentSpecified}"
                 th:href="@{/group/view(groupUid=${parent.uid})}" role="button" class="btn btn-default btn-lg">Cancel</a>
              <a th:if="${not parentSpecified}"
                 th:href="@{/home}" role="button" class="btn btn-default btn-lg">Cancel</a>
              <button type="submit" class="btn btn-primary btn-lg">Record</button>
          </div>

          <div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="memberModalLabel">Assign members to action</h4>
                </div>
                <div class="modal-body">
                  <div th:if="${parentSpecified}" class="list-group checked-list-box">
                    <li class="list-group-item checkbox"
                        th:each="member, iterStat: *{memberPicker.getListOfMembers()}">
                      <label>
                        <input type="checkbox" th:field="*{memberPicker.listOfMembers[__${iterStat.index}__].selected}" class="pull-right"/>
                        <input type="hidden" th:field="*{memberPicker.listOfMembers[__${iterStat.index}__].userUid}" />
                        <span th:text="${member.nameToDisplay}">Name</span>
                      </label>
                    </li>
                  </div>
                  <div th:unless="${parentSpecified}" id="dynamicMemberPicker" class="list-group checked-list-box">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="limitModal" tabindex="-1" role="dialog" aria-labelledby="limitModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                  <h4 class="modal-title" id="limitModalLabel">Group has reached its todo limit</h4>
                </div>
                <div class="modal-body">
                  <p class="grassroot-body">
                    <!-- todo : alter text if, say, user has an account with space for this group -->
                    Sorry, you have reached the maximum number of todos this group can call per month. To increase the limit,
                    sign up for or upgrade your account (or add it to your account).
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
                  <a th:href="@{/account/index}" class="btn btn-default btn-lg">Go to account</a>
                </div>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>

<div class="header-container" layout:fragment="script-container">

  <script th:src="@{/js/grassroot-methods.js}"></script>

  <script th:inline="javascript">

    /*<![CDATA[*/

    var groupSelect = $("#groupSelector");
    var token = $("meta[name='_csrf']");
    var header = $("meta[name='_csrf_header']");

    var todosRemaining = true;
    var remainderLabel = $("#remainingText");

    $(document).ready(function() {

      console.log("Document loaded");

      grassrootJS.setUpAjax(token, header);

      var defTime = new Date();
      defTime.setTime(defTime.getTime() + 5*60*1000);

      var reminderSelect = $("#reminderType");
      var assignedMemberCount = $("#pickedMemberCount");

      // if the group selector exists, do the ajax call to populate the member picker & bind refresh to its change function
      if (groupSelect.length > 0) {
        fetchTodosRemaining(groupSelect.find("option:selected").val());
        fetchParentMemberList(true);

        reminderSelect.changeGroupMinutes();
        groupSelect.change(function() {
          fetchTodosRemaining(groupSelect.find("option:selected").val());
          reminderSelect.changeGroupMinutes();
          $('#wholeGroup').prop("checked", true);
          $('#pickedMemberCount').hide();
          fetchParentMemberList(false);
        });
      } else {
        fetchTodosRemaining($("#parentUid").val());
      }

      $('#datepicker').datetimepicker({
        format: 'DD/MM/YYYY h:mm A',
        widgetPositioning: {
          horizontal: 'right'
        },
        sideBySide:true,
        minDate: defTime
      });

      $('#pickMembers').click(function(){
        $('#memberModal').modal({
            show: true
        });
      });

      assignedMemberCount.hide();
      $('#wholeGroup').click(function() {
        $('#pickedMemberCount').hide();
      });

      $('#memberModal').on('hidden.bs.modal', function() {
        var membersSelected = $('#memberModal').find('input[type="checkbox"]:checked').length;
        var countText = "You've assigned " + membersSelected + ((membersSelected == 1) ? " member" : " members") + " to this task";
        assignedMemberCount.text(countText);
        assignedMemberCount.show();
      });

      $("#customReminder").hide();
      reminderSelect.change(function() {
        var selected = reminderSelect.find("option:selected").val();
        if (selected == "CUSTOM") {
          $("#customReminder").show();
        } else {
          $("#customReminder").hide();
        }
      });

      $("#createForm").submit(function(event) {
        if (todosRemaining) {
          return;
        } else {
          $("#limitModal").modal('show');
          event.preventDefault();
        }
      });

    });

    jQuery.fn.extend({
      changeGroupMinutes: function() {
        var groupSelected = groupSelect.find("option:selected").data("mins");
        var text = "Group default (" + groupSelected + ")"; // todo: i18n at some point
        $(this).find("#groupOption").text(text);
      }
    });


    function fetchTodosRemaining(groupUid) {
      $.getJSON("/ajax/group/limit/todos", { groupUid: groupUid }, function(data) {
        // add link to account sign up / upgrade
        var hasTodosLeftText = "This group has " + data["todos_left"] + " todos left this month";
        var noTodosLeftCanAddToAccount = "This group has used up its todos this month. Add this group to your account to add more";
        var noTodosLeftCannotAdd = "This group has no todos left and your account is full. To add more, upgrade your account";
        var noTodosLeftNoAccount = "This group has no todos left. To add more, sign up for an account";

        remainderLabel.text("This group has " + data["todos_left"] + " todos left this month");
        todosRemaining = Number(data["todos_left"]) > 0;
        console.log("return data: " + JSON.stringify(data));
        if (!todosRemaining) {
          remainderLabel.addClass("error-text");

        } else {
          remainderLabel.removeClass("error-text");
        }
      });
    }

    function fetchParentMemberList(selectedByDefault) {

      var data = {};
      data["parentEntityType"] = "GROUP";
      data["selectedByDefault"] = selectedByDefault;
      data["parentUid"] = $("#groupSelector").val();
      data["userUid"] = $("#userUid").val();

      $.ajax({
        type : "POST",
        contentType : "application/json",
        url : "/ajax/members/list",
        dataType : "json",
        data : JSON.stringify(data),
        timeout : 100000,
        beforeSend : function(xhr) { // need to retain this since the set ajax method seems to only work for getJSON
          xhr.setRequestHeader(header.attr("content"), token.attr("content"));
        },
        success : function(data) {
          addMembersToModal(data);
        },
        error : function(xhr, textStatus, errorThrown) {
          console.log("ERROR! : " + errorThrown);
          console.log("Status : " + textStatus);
          console.log("xhr: " + xhr.status);
          // display(errorThrown);
        }
      });

    }

    function addMembersToModal(returnedObject) {
      $("#dynamicMemberPicker").empty();
      var memberList = returnedObject.data.listOfMembers;
      for (var i = 0; i < memberList.length; i++) {
        $("#dynamicMemberPicker").append(constructItem(memberList[i], i));
      };

      function constructItem(member, index) {
        // this is a bit of a hack to engineer the list to look like Thymeleaf when it creates an entity
        var listFieldName = "memberPicker.listOfMembers";
        var selectedField = listFieldName + "[" + index + "].selected";
        var userUidField = listFieldName + "[" + index + "].userUid";

        var tickbox = JSON.parse(member.selected) ? "checked" : "";

        return "<li class=\"list-group-item checkbox\">" +
                "<label>" +
                "<input type=\"checkbox\" class='pull-right' " + tickbox + " name='" + selectedField + "'/>" +
                "<input type='hidden' name='" + userUidField + "' value='" + member.userUid + "'/>" +
                member.nameToDisplay + "</label>";
      }
    }

    /*]]>*/

  </script>

</div>

</body>
</html>