<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Record an action</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Record an action</h2>
        <h4 class="text-center header-content-subtitle">record a decision or todo for the group</h4>
      </div>
    </div>
  </div>
</section>

<div layout:fragment="messages"></div>

<main layout:fragment="content">
  <section class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">

          <form th:object="${actionTodo}" th:action="@{/todo/record}" id="createForm" method="post">

            <input type="hidden" th:field="*{parentEntityType}" />
            <div class="form-group">
              <label for="groupSelect" class="control-label">Group:</label>
              <div th:unless="${parentSpecified}">
                <select th:unless="${parentSpecified}" th:field="*{parentUid}" id="groupSelect" class="form-control input-lg">
                  <option th:each="group: ${possibleGroups}"
                          th:value="${group.Uid}"
                          th:text="${group.getName('')}"
                          th:attr="data-mins=#{web.meeting.reminder.group.__${group.reminderMinutes}__}">Groupname</option>
                </select>
                <input type="hidden" th:value="${userUid}" id="userUid" />
              </div>
              <div th:if="${parentSpecified}">
                <input class="form-control input-lg" readonly="true" th:placeholder="${parent.name}" id="group" />
                <input type="hidden" th:field="*{parentUid}" th:value="${parent.uid}" />
              </div>
              <p class="grassroot-body" id="remainingText">
              </p>
            </div>

            <div class="form-group">
              <label for="name" class="control-label">Title:</label>
              <input th:field="*{message}" type="text" class="form-control input-lg" maxlength="35" data-toggle="tooltip"
                       title="Description may not be longer than 35 characters." id="name"
                     placeholder="A short summary of the action or decision to record" />
            </div>

            <div class="form-group">
              <label for="datepicker" class="control-label">Deadline:</label>
              <div class="input-group date" id="datepicker">
                <input th:field="*{actionByDate}" type="text" class="form-control input-lg" />
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Notes? Please enter any further description:</label>
              <textarea class="form-control input-lg" rows="1" maxlength="250"
                        placeholder="This will not be sent with the SMS, but will be seen by app and web users"></textarea>
            </div>

            <div class="form-group">
              <label class="control-label">Send a reminder:</label>
              <select th:field="*{reminderType}" class="form-control input-lg" id="reminderType">
                <option th:if="${parentSpecified}" value="GROUP_CONFIGURED" selected="true">
                  Group default (<span th:text="#{web.meeting.reminder.group.__${parent.reminderMinutes}__}">X</span> ahead)
                </option>
                <option th:unless="${parentSpecified}" value="GROUP_CONFIGURED" id="groupOption">
                  Group default (<span id="groupReminderTime">X ahead</span>)
                </option>
                <option value="CUSTOM">Set custom</option>
              </select>
              <div class="radio" id="customReminder">
                <label class="radio-inline"><input type="radio" th:field="*{reminderMinutes}" value="60"/>On due date</label>
                <label class="radio-inline"><input type="radio" th:field="*{reminderMinutes}" value="1440"/>One day before</label>
                <label class="radio-inline"><input type="radio" th:field="*{reminderMinutes}" value="2880"/>Two days before</label>
                <lable class="radio-inline"><input type="radio" th:field="*{reminderMinutes}" value="10080"/>One week before</lable>
              </div>
            </div>

            <div th:replace="~{fragments :: member-picker(messageKey='web.todo.create.memberpick')}"></div>

            <div class="form-group pull-right">
              <!-- todo : add a view traffic director to handle the links below for non-group parents -->
                <a th:if="${parentSpecified}"
                   th:href="@{/group/view(groupUid=${parent.uid})}" role="button" class="btn default-button btn-neutral">Cancel</a>
                <a th:if="${not parentSpecified}"
                   th:href="@{/home}" role="button" class="btn default-button btn-neutral">Cancel</a>
                <button type="submit" class="btn default-button">Record</button>
            </div>

            <div th:replace="~{fragments :: member-picker-modal}"></div>

          </form>

        </div>
      </div>

    </div>

  </section>

  <div class="modal fade" id="limitModal" tabindex="-1" role="dialog" aria-labelledby="limitModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
          <h4 class="modal-title" id="limitModalLabel">Group has reached its todo limit</h4>
        </div>
        <div class="modal-body">
          <p class="grassroot-body">
            <!-- todo : alter text if, say, user has an account with space for this group -->
            Sorry, you have reached the maximum number of todos this group can call per month. To increase the limit,
            sign up for or upgrade your Grassroot Extra account (or add this group to your account).
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
          <a th:href="@{/account/index}" class="btn btn-default btn-lg">Go to account</a>
        </div>
      </div>
    </div>
  </div>

</main>

<div class="header-container" layout:fragment="script-container">

  <script th:src="@{/js/lib/moment.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>

  <script th:replace="~{fragments :: member-picker-script(parentType='GROUP', selectByDefault=false)}"></script>

  <script th:src="@{/js/create_todo.js}"></script>

</div>

</body>
</html>