<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="layout">
<head>
  <title>Grassroot: View Action</title>
</head>
<body>

<div layout:fragment="header">
  <h2 class="text-center"><span th:text="${entry.message}">Todo title</span></h2>
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <ul class="list-group border-green">
          <li class="list-group-item" th:classappend="${isComplete} ? list-group-item-success : list-group-item-warning">
            <h4>Action: "<span th:text="${entry.message}"></span>".</h4>
          </li>
          <li class="list-group-item" th:if="${not isComplete}">
            <h4>Action not done yet, due date is <span th:text="${#dates.format(entry.actionByDate, 'dd MMM yyyy')}">Date</span></h4>
          </li>
          <li class="list-group-item">
            <h4>Recorded on date: <span th:text="${#dates.format(entry.createdDateTime, 'dd MMM yyyy, HH:mm')}"></span></h4>
          </li>
          <li class="list-group-item">
            <h4>Recorded by: <span th:text="${creatingUser.nameToDisplay()}"></span></h4>
          </li>
          <li class="list-group-item" th:if="${isComplete}">
            <h4>Original deadline was <span th:text="${#dates.format(entry.actionByDate, 'dd MMM yyyy')}">Date</span></h4>
          </li>
          <li class="list-group-item" th:if="${assignedToUser != null}">
            <h4>Action was assigned to member <mark class="text-primary" th:text="${assignedToUser.nameToDisplay()}">Name</mark></h4>
          </li>
        </ul>
      </div>

      <div class="row vertical-padding">
        <div class="btn-group button-md-align pull-right" th:unless="${isComplete}"> <!-- redundancy here but putting unless clase in <a> or <button> not working -->
          <a th:href="@{complete(todoUid=${entry.uid})}"><button class="btn btn-lg btn-primary">Mark as complete</button></a>
          <a th:if="${canModify}" th:href="@{modify(todoUid=${entry.uid})}"><button class="btn btn-lg btn-default">Modify to-do</button></a>
          <a th:href="@{view(groupUid=${entry.parent.uid})}"><button class="btn btn-lg btn-info">Back to group</button></a>
        </div>
        <div class="button-md-align pull-right" th:if="${isComplete}">
          <a th:href="@{view(groupUid=${entry.parent.uid})}"><button class="btn btn-lg btn-default">Back to group</button></a>
        </div>
      </div>

    </div>
  </div>

</div>

</body>
</html>