<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Grassroot - Modify action todo</title>
</head>
<body>

<div layout:fragment="header">
  <h2 class="text-center"><span th:text="${todo.message}">Todo title</span></h2>
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">

      <form th:object="${todo}" th:action="@{/todo/modify}" method="post" autocomplete="off" class="form-vertical">
        <input type="hidden" th:field="*{uid}" th:value="*{uid}" />
        <div class="form-group">
          <label for="group" class="control-label">Group: </label>
          <span th:text="${todo.ancestorGroup.name}" id="group">Group name</span>
        </div>
        <div class="form-group">
          <label for="name" class="control-label">Message</label>
          <input th:field="*{message}" type="text" class="form-control" id="name" />
        </div>
        <div class="form-group">
          <label for="datepicker" class="control-label">Deadline for action to be completed</label>
          <div class="input-group date" id="datepicker">
            <input th:field="*{actionByDate}" th:value="*{actionByDate}" type="text" class="form-control"/>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>

        <!-- todo : restore the reminder settings -->

        <!-- todo : restore member assignment -->

        <div class="form-group">
          <div class="col-md-8">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cancelTodo">Cancel todo</button>
            <button type="submit" class="btn btn-primary">Modify action</button>
          </div>
        </div>
      </form>

      <div class="modal fade" id="cancelTodo" tabindex="-1" role="dialog" aria-labelledby="cancelLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="cancelLabel">Cancel action</h4>
            </div>
            <form th:action="@{/todo/cancel}" method="post">
              <input type="hidden" name="todoUid" th:value="${todo.uid}" />
              <input type="hidden" name="parentUid" th:value="${todo.parent.uid}" />
              <div class="modal-body">
                <div class="form-group">
                  <label class="control-label">Are you sure? Cancelling an action cannot be undone.</label>
                  <p class="small">Once cancelled, no reminders will be sent out</p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No, don't cancel</button>
                <button type="submit" class="btn btn-danger">Yes, confirm cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="header-container" layout:fragment="script-container">

  <script th:inline="javascript">

    $(document).ready(function() {

      var defTime = new Date(/*[[${todo.actionByDate}]]*/);

      /*$('#datepicker').datetimepicker({
        format: 'DD/MM/YYYY h:mm A',
        widgetPositioning: {
          horizontal: 'right'
        },
        sideBySide:true,
        defaultDate: defTime
      });*/

      $('#assignToUser').change(function(){
        $('#assignMemberPicker').toggleClass('hidden show');
      });

    });

  </script>

</div>

</body>
</html>