<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>View Action</title>
</head>
<body>

<section layout:fragment="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center">
          <p class="group-title">Todo: </p><p class="group-name" th:text="${todo.message}">Todo title</p>
        </h2>
        <h4 class="text-center header-content-subtitle" th:if="${fromGroup}">
          <a th:href="@{/group/view(groupUid=${todo.parent.uid})}">Back to group</a>
        </h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section th:if="${canModify and not todo.completed}" class="task-buttons">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
          <div class="button-group text-center">
            <button type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#dateTimeChange">Extend</button>
            <button type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#cancelTodo">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="dateTimeChange" tabindex="-1" role="dialog" aria-labelledby="changeDateTimeLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="changeDateTimeLabel">Change due date</h4>
          </div>
          <form th:action="@{/todo/changeduedate}" method="post">
            <input type="hidden" name="todoUid" th:value="${todo.uid}" />
            <div class="modal-body">
              <div class="form-group top-buffer">
                <label for="datepicker" class="control-label">Revised date and time:</label>
                <div class="input-group date" id="datepicker">
                  <input name="actionByDate" type="text" class="form-control" />
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button">Change</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="cancelTodo" tabindex="-1" role="dialog" aria-labelledby="cancelLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="cancelLabel">Cancel meeting</h4>
          </div>
          <form th:action="@{/todo/cancel}" method="post">
            <input type="hidden" name="todoUid" th:value="${todo.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label">Are you sure? Cancelling an action cannot be undone.</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">No, don't cancel</button>
              <button type="submit" class="btn default-button btn-negative">Yes, confirm cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>

  <section class="grassroot-form">
    <div class="container task-details">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">

          <div class="row detail-row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Status</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12" th:if="${todo.completed}">
              <p class="description complete">Complete (confirmed by <span th:text="${todo.countCompletions()}">X</span> members)</p>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12" th:unless="${todo.completed}">
              <p class="description incomplete">Not done yet, due by <span th:text="${#dates.format(todo.actionByDate, 'dd MMM yyyy')}">Date</span></p>
            </div>
          </div>

          <div class="row detail-row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Dates</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <p class="description">
                Due by <span th:text="${#dates.format(todo.actionByDate, 'dd MMM yyyy, HH:mm')}"></span>. It was recorded on
                <span th:text="${#dates.format(todo.createdDateTime, 'dd MMM yyyy, HH:mm')}"></span>,
                by <span th:text="${todo.createdByUser.nameToDisplay()}"></span>
              </p>
            </div>
          </div>

          <div class="row detail-row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Assigned</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <p class="description" th:switch="${todo.isAllGroupMembersAssigned()}">
                <span th:case="true">All group members are assigned to this action.</span>
                <span th:case="false">
                  <span th:text="${todo.assignedMembers.size()}">X</span> group members are assigned to this action.</span>
                <a href="#memberModal" data-toggle="modal" data-target="#memberModal" th:if="${canModify}">Change assignment</a>
              </p>
            </div>
          </div>

          <div class="row top-buffer">
            <div class="btn-group button-md-align pull-right" th:unless="${todo.completed}">
              <a th:href="@{list(groupUid=${todo.parent.uid})}"><button class="btn default-button btn-neutral">Back to group</button></a>
              <a th:if="${isAssigned}" th:href="@{complete(todoUid=${todo.uid}, source='todoview')}"><button class="btn default-button btn-positive">Mark as complete</button></a>
            </div>
            <div class="button-md-align pull-right" th:if="${todo.completed}">
              <a th:href="@{list(groupUid=${todo.parent.uid})}"><button class="btn default-button btn-neutral">Back to group</button></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div th:if="${canModify}" class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="descriptionModalLabel">Change description</h4>
          </div>
          <form th:action="@{description}" method="post">
            <input type="hidden" name="todoUid" th:value="${todo.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label for="description" class="control-label">Set a description for the action (one to three sentences):</label>
              </div>
              <div class="form-group">
              <textarea name="description" th:text="${todo.description}" id="description" class="form-control input-lg" rows="2" maxlength="250">
              </textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div th:if="${canModify}" class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button id="dismissMemberModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="memberModalLabel">Member assignment</h4>
          </div>
          <form th:action="@{assignment}" th:object="${memberPicker}" method="post">
            <input type="hidden" name="todoUid" th:value="${todo.uid}" />
            <div class="modal-body">
              <div class="list-group checked-list-box">
                <li class="list-group-item" th:each="member, iterStat: *{listOfMembers}">
                  <label>
                    <input type="checkbox" th:field="*{listOfMembers[__${iterStat.index}__].selected}" class="list-checkbox"/>
                    <input type="hidden" th:field="*{listOfMembers[__${iterStat.index}__].userUid}" />
                    <span th:text="${member.nameToDisplay}" class="list-checkbox-label">Name</span>
                  </label>
                </li>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>
</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/moment.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>

  <script th:inline="javascript">

      $('#datepicker').datetimepicker({
          format: 'DD/MM/YYYY h:mm A',
          defaultDate: /*[[${#temporals.formatISO(todo.actionByDate)}]]*/,
          // minDate: new Date(),
          widgetPositioning: {
              horizontal: 'right'
          },
          sideBySide:true
      });

  </script>

</div>
</body>
</html>