<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>View todo</title>
</head>
<body>

<section layout:fragment="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center">
          <p class="group-title">Todo: </p><p class="group-name" th:text="${todo.message}">Todo title</p>
        </h2>
        <h4 class="text-center header-content-subtitle" th:if="${fromGroup}"> <!-- todo: restore -->
          <a th:href="@{/group/view(groupUid=${todo.parent.uid})}">Back to group</a>
        </h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section th:if="${canModify and not todo.completed}" class="task-buttons">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
          <div class="button-group text-center">
            <button type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#dateTimeChange">Extend</button>
            <button type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#descriptionModal">Change text</button>
            <button type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#cancelTodo">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="dateTimeChange" tabindex="-1" role="dialog" aria-labelledby="changeDateTimeLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="changeDateTimeLabel">Change due date</h4>
          </div>
          <form th:action="@{/todo/changeduedate}" method="post">
            <input type="hidden" name="todoUid" th:value="${todo.uid}" />
            <div class="modal-body">
              <div class="form-group top-buffer">
                <label for="datepicker" class="control-label">Revised date and time:</label>
                <div class="input-group date" id="datepicker">
                  <input name="actionByDate" type="text" class="form-control" />
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button">Change</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="cancelTodo" tabindex="-1" role="dialog" aria-labelledby="cancelLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="cancelLabel">Cancel meeting</h4>
          </div>
          <form th:action="@{/todo/cancel}" method="post">
            <input type="hidden" name="todoUid" th:value="${todo.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label">Are you sure? Cancelling an action cannot be undone.</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">No, don't cancel</button>
              <button type="submit" class="btn default-button btn-negative">Yes, confirm cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="descriptionModalLabel">Change description</h4>
          </div>
          <form th:action="@{explanation}" method="post">
            <input type="hidden" name="todoUid" th:value="${todo.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label for="explanation" class="control-label">Set an explanation for the todo:</label>
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-lg" id="explanation" name="explanation" th:value="${todo.message}" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>

  <section class="grassroot-form">
    <div class="container task-details">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">

          <div th:replace="~{fragments :: block_row('type', 'Type', #{web.todo.create.type.__${todo.type}__})}"></div>
          <div th:replace="~{fragments :: block_row('status', 'Status', ${todo.completed ? 'Complete' : 'Open'})}"></div>
          <div th:replace="~{fragments :: block_row('due_date', 'Due date', ${#dates.format(todo.actionByDate, 'dd MMM yyyy, HH:mm')})}"></div>

        </div>
      </div>
    </div>
  </section>

  <section class="group-members top-buffer" th:unless="${#lists.isEmpty(responses)}">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-2 col-xs-12">
          <h4 class="green-title">Responses</h4>
        </div>
        <div class="col-md-2 col-xs-12 text-right">
          <a href="" th:href="@{export(todoUid=${todo.uid})}" class="main-button btn-small">
            <i class="fa fa-download" aria-hidden="true"></i>Export</a>
        </div>
      </div>

      <div class="row group-members-list">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse2">
                    List of responses to todo
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse in">
                <table id="card-table" class="table group-members-table">
                  <thead>
                  <tr>
                    <th class="col-md-4">Name</th>
                    <th class="col-md-4">Phone number</th>
                    <th class="col-md-4">Response</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr th:each="response: ${responses}">
                      <td class="col-md-4" th:text="${response.user.name}"></td>
                      <td class="col-md-4" th:text="${response.user.phoneNumber}"></td>
                      <td class="col-md-4" th:text="${response.hasResponded + ', ' + response.responseText}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/moment.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>

  <script th:inline="javascript">

      $('#datepicker').datetimepicker({
          format: 'DD/MM/YYYY h:mm A',
          defaultDate: /*[[${#temporals.formatISO(todo.actionByDate)}]]*/,
          // minDate: new Date(),
          widgetPositioning: {
              horizontal: 'right'
          },
          sideBySide:true
      });

  </script>

</div>
</body>
</html>