<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>GrassRoot - Bulk Add Members</title>
</head>
<body>

<!-- Todo: for now, all, or almost all, elements are open, so this looks like create group, but need to adjust that in
future to close that off (need a way that mistakes can be corrected, but not to abuse) -->

<div layout:fragment="header">
    <h2>Add members to group: <span th:text="${group.groupName}">group</span></h2>
</div>
<div layout:fragment="overview">Paste a list of numbers inside the textbox below</div>

<div layout:fragment="content">
    <div layout:fragment="messages"></div>
    <div class="well">

        <form th:action="@{/group/add_members_do}" method="post"  class="form-horizontal">
            <div class="form-group">
            <div class="col-lg-8">
                <input type="hidden" name="groupId" th:value="${group.id}"/>
                <textarea name="list" rows = "20"  cols ="110"></textarea>
            </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8">
                <input type="checkbox" name="closed">Closed Group?</input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8">
                    <a th:href="@{view(groupId=${group.id})}" role="button" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Add Members</button>
                </div>
            </div>

        </form>

    </div>
</div>
</body>
</html>