<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layout}">
<head>
  <title>Modify Group</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}" />

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>

<section layout:fragment="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title" th:text="${groupModifier.groupName}">Group name</h2>
        <h4 class="text-center header-content-subtitle">Add and modify multiple members in a group</h4>
        <h4 class="text-center group-info">
          <a th:href="@{/group/view(groupUid=${groupModifier.group.uid})}">Back to group</a>
        </h4>
        <h4 class="text-center group-info">
          Note: you cannot change your own role in the group
        </h4>
      </div>
    </div>
  </div>

</section>

<main layout:fragment="content">

  <section class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-6 col-sm-offset-3 col-xs-12">
          <form id="member_entry" th:object="${groupModifier}" th:action="@{/group/change_multiple}" method="post" autocomplete="on">
            <input type="hidden" th:field="*{group.Uid}" th:value="${groupModifier.group.Uid}" />


            <div class="form-group inline-field">
              <div class="col-md-4 col-sm-4 col-xs-4"><label>Name</label></div>
              <div class="col-md-3 col-sm-3 col-xs-4"><label>Phone</label></div>
              <div class="col-md-4 col-sm-4 col-xs-4"><label>Role</label></div>
              <!--       <th th:if="${groupModifier.canRemoveMembers}"></th> -->
            </div>

            <div id="member-input">
              <div class="form-group member-row inline-field" th:each="member, iterStat: *{listOfMembers}"
                   th:with="thisUser = ${member.getPhoneNumberWithCCode() == currentUser.getUsername()}">
                <div class="col-md-4 col-xs-12">
                  <input type="text" th:field="*{listOfMembers[__${iterStat.index}__].displayName}" class="form-control input-lg"
                         th:readonly="${thisUser}" placeholder="Member's name" maxlength="35"/>
                </div>
                <div class="col-md-3 col-xs-12">
                  <div th:class="${#fields.hasErrors('listOfMembers[__${iterStat.index}__].phoneNumber')}? has-error">
                    <input type="text" th:field="*{listOfMembers[__${iterStat.index}__].phoneNumberWithoutCCode}" class="form-control input-lg"
                           th:errorclass="error" th:readonly="${thisUser}" placeholder="Phone number"/>
                    <span th:if="${#fields.hasErrors('listOfMembers[__${iterStat.index}__].phoneNumber')}" class="alert has-error">Error!</span>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12">
                  <select th:field="*{listOfMembers[__${iterStat.index}__].roleName}" class="form-control input-lg"
                          th:disabled="${(groupModifier.canUpdateDetails == false) or (thisUser)}">
                    <option th:each="role : ${T(za.org.grassroot.core.domain.BaseRoles).groupRoles}"
                            th:value="${role}"
                            th:text="#{web.group.role.__${role}__}"
                            th:selected="${#strings.equals(member.roleName, role)}"></option>
                  </select>
                </div>
                <div class="col-md-1 col-xs-12 text-center">
                  <i data:index="${iterStat.index}" th:id="'removeMember' + ${iterStat.index}" class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <button th:if="${groupModifier.canAddMembers}" type="button" name="addMember" id="add_member" class="btn-primary btn-block add-row default-button">
                  <i class="fa fa-plus" aria-hidden="true"></i>Add member</button>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:if="${groupModifier.canAddMembers}" th:href="@{add_bulk(groupUid=${groupModifier.group.Uid})}" role="button"
                   class="btn default-button btn-neutral full-width-button"><i class="fa fa-plus" aria-hidden="true"></i>Bulk Add Members
                </a>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <a th:href="@{view(groupUid=${groupModifier.group.Uid})}" class="btn default-button btn-neutral full-width-button">Cancel</a>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-lg default-button">Submit Changes</button>
              </div>
            </div>

          </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<div class="header-container" layout:fragment="script-container">

  <script th:src="@{/js/lib/jquery-ui.min.js}"></script>
  <script th:src="@{/js/lib/jquery.validate.min.js}"></script>
  <script th:src="@{/js/grassroot-methods.js}"></script>

  <script th:inline="javascript">

    /*<![CDATA[*/

    $(document).ready(function () {

      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      $.bind("ajaxSend", function(elm, xhr, s) {
        xhr.setRequestHeader(header, token);
      });

      var member_form = $('#member_entry');

      var member_table = $('#member-input');
      var member_rows = member_form.find('.member-row');
      var number_members = member_rows.length;

      $('[id^=removeMember]').click(function() {
        $(this).parent().parent().remove();
        grassrootJS.reduceIndices($(this).data('index'), member_table, number_members, true);
      });

      $('#add_member').click(function() {

        if (member_form.valid()) {
          member_table.find('.member-row:last').after(grassrootJS.assembleMemberRow("listOfMembers", number_members));
          var newLastRow = member_table.find('.member-row:last');
          var phoneInput = newLastRow.find('[name$="phoneNumber"]');
          var nameInput = newLastRow.find('[name$="displayName"]');
          phoneInput.rules('add', grassrootJS.phoneRules);
          nameInput.autocomplete(grassrootJS.memberAutoComplete(nameInput, phoneInput));

          newLastRow.find('#removeMember' + number_members).click(function () {
            newLastRow.remove();
            grassrootJS.reduceIndices($(this).data('index'), member_table, number_members, false);
          });

          number_members++;
        }
      });

      function removeRow(index) {
        var rowToRemove = member_form.find('.member-row')[index];
        rowToRemove.remove();
        grassrootJS.reduceIndices(index, member_table, number_members);
      }

      member_form.validate({
        errorClass: 'error-text'
      });

      $('[name$="phoneNumber"]').each(function () {
        $(this).rules('add', grassrootJS.phoneRules);
      });

    });

    /*]]>*/

  </script>
</div>

</body>
</html>