<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - Close a join code</title>
</head>
<body>

<div layout:fragment="header">
  <h2>Close token</h2>
</div>

<div layout:fragment="overview">Close and remove a group joining code</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
        <p>This token has the code: *134*1994*<span th:text="${group.groupTokenCode}"></span>#. It expires on
          <span th:text="${group.tokenExpiryDateTime}">date</span></p>
      </div>
    </div>
    <div class="row">
      <form th:action="@{/group/token}" method="post" class="form-horizontal">
        <input type="hidden" name="groupId" th:value="${group.id}" />
        <input type="hidden" name="action" value="close" />
        <div class="form-group">
          <label for="submitButton" class="col-lg-2 control-label">Are you sure you want to close this?</label>
          <div class="col-lg-4">
            <button id="submitButton" type="submit" class="btn btn-primary">Yes, close it</button>
            <a href="" th:href="@{/group/view(groupId=${group.id})}"><button class="btn btn-warning">No, cancel</button></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>