<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Consolidate groups</title>
</head>
<body>

<div layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Merge groups</h2>
        <h4 class="text-center header-content-subtitle">Consolidate two groups together</h4>
      </div>
    </div>
  </div>
</div>

<main layout:fragment="content">

  <section class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
          <form th:action="@{/group/consolidate/confirm}" method="post">
            <input type="hidden" name="groupUid1" th:value="${group1.uid}" />
            <div class="form-group">
              <p class="form-text-lg">You are about to merge "<mark th:text="${group1.name}">group name</mark>" with
                another group</p>
            </div>

            <div class="form-group">
              <label for="groupUid2" class="control-label">With which group do you want to merge this one?</label>
              <select name="groupUid2" id="groupUid2" class="form-control">
                  <option th:each="group: ${candidateGroups}"
                          th:value="${group.uid}"
                          th:text="${group.name}"></option>
              </select>
            </div>

            <div class="form-group">
              <label for="order" class="control-label">
                In what order do you want to consolidate?
              </label>
              <select name="order" id="order" class="form-control">
                  <option value="small_to_large">Add members from the smaller group to the larger group</option>
                  <option value="2_into_1">Add members from the second group (selected above) to the first group (last page)</option>
                  <option value="1_into_2">Add members from the first group (last page) to this group (selected above)</option>
              </select>
            </div>

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input name="leaveActive" id="leaveActive" type="checkbox" />
                  Leave second group active? If you leave this unticked, the group you've merged <em>from</em> will be deactivated.
                </label>
              </div>
            </div>

            <div class="form-group pull-right button-md-align">
                <a th:href="@{/group/view(groupUid=${group1.uid})}" role="button" class="btn default-button btn-neutral">Cancel</a>
                <button type="submit" class="btn default-button btn-neutral">Continue</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</main>

</body>
</html>