<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>GrassRoot - Create Group</title>
</head>
<body>

<div layout:fragment="header">
    <h2>Start a Group</h2>
</div>
<div layout:fragment="overview">Create a new group and add members</div>

<div layout:fragment="content">
    <div layout:fragment="messages"></div>
    <div class="well">

        <form  th:object="${group}" th:action="@{/group/create}" method="post" autocomplete="on" class="form-horizontal">
            <div class="form-group">
                <label for="groupName" class="col-lg-2 control-label">Group Name</label>

                <div class="col-lg-4">
                    <input th:field="*{groupName}" type="text" class="form-control" id="groupName" placeholder="Group Name"/>
                </div>
            </div>
            <div th:if="${hasParent}" class="form-group">
                <input name="parentId" type="hidden" th:value="${parentGroup.id}" />
                <p>Sub-group of: <span th:text="${parentGroup.groupName}">Parent group</span></p>
            </div>
            <div class="form-group col-lg-10 col-lg-offset-2">
                <table class="table col-md-8" id="member-input">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="member, iterStat: *{groupMembers}">
                            <td>
                                <input type="text" th:field="*{groupMembers[__${iterStat.index}__].displayName}" class="form-control" placeholder="Member's name"/>
                            </td>
                            <td>
                                <input type="text" th:field="*{groupMembers[__${iterStat.index}__].phoneNumber}" class="form-control" placeholder="Phone number"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <div class="col-lg-4">
                    <button type="submit" name="addMember" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Another member</button>
                </div>
                <div class="col-lg-8">
                    <!--<button class="btn btn-default">Cancel<div class="ripple-wrapper"></div></button>-->
                    <button type="submit" class="btn btn-primary">Create Group</button>
                </div>
            </div>
        </form>


    </div>
</div>

<!-- <div class="header-container" layout:fragment="script-container">
    <script>

        $(document).ready(function() {


            $counter = 2;
            $( "#add-row" ).click(function() {
                console.log("CLICKED THE BUTTON!");

                $counter++;
                $append_string = '<tr><td><input type="text" class="form-control" placeholder="Member name"/></td>' +
                      '<td><input type="text" class="form-control" placeholder="Phone Number"/></td></tr>';

                $("#member-input").append($append_string);

                // $("#member-input").append("<tr><td><input type='text' class='form-control' name='member_phone_" + $counter + "' /></td>"
                //    + "<td><input type='text' class='form-control' name='member_name_" + $counter + "' /></td></tr>");

            });
        });

    </script>

</div> -->
</body>
</html>