<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Grassroot - Create Group</title>
  <!-- todo: fix whatever is causing on-server glyphicons to not load; this is a temp fix -->

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" />
  <script th:src="@{/js/grassroot-methods.js}"></script>

</head>
<body>

<div layout:fragment="header" th:switch="${groupCreator.hasParent}">
  <h2 th:case="false" class="text-center">Start a new group</h2>
  <h2 th:case="true" class="text-center">Start a subgroup of: "<span th:text="${groupCreator.parentName}">parent</span>"</h2>
</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">

    <form th:object="${groupCreator}" th:action="@{/group/create}" method="post" autocomplete="on" class="form-horizontal" id="group_creator">
      <div th:if="*{hasParent}">
        <input th:field="*{parentId}" type="hidden" th:value="*{parentId}"/>
        <input th:field="*{hasParent}" type="hidden" th:value="*{hasParent}"/>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
          <label for="groupName" class="control-label">What's the group's name?</label>
          <input th:field="*{groupName}" type="text" class="form-control" id="groupName"
                 placeholder="Please keep to 35 characters or less" maxlength="20" data-toggle="tooltip"
                 title="Group name may not be longer than 35 characters and must not contain any symbols "/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
          <table class="table" id="member-input">
          <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Role</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="member, iterStat: *{listOfMembers}" class="member_input_row">
            <td>
              <input type="text" th:field="*{listOfMembers[__${iterStat.index}__].displayName}" class="form-control" placeholder="Member's name"/>
            </td>
            <td>
              <div class="form-group" th:class="${#fields.hasErrors('listOfMembers[__${iterStat.index}__].phoneNumber')}? has-error">
                <!-- todo: format / mask this as on sign-in page -->
                <input type="text" th:field="*{listOfMembers[__${iterStat.index}__].phoneNumber}" class="form-control" th:errorclass="error" placeholder="Phone number"/>
                <span th:if="${#fields.hasErrors('listOfMembers[__${iterStat.index}__].phoneNumber')}" class="alert has-error">Error!</span>
              </div>
            </td>
            <td>
              <select th:field="*{listOfMembers[__${iterStat.index}__].roleName}" class="form-control">
                <option th:each="role : ${T(za.org.grassroot.core.domain.BaseRoles).groupRoles}"
                        th:value="${role}"
                        th:text="#{web.group.role.__${role}__}"
                        th:selected="${#strings.equals(member.roleName, role)}"></option>
              </select>
            </td>
            <td>
              <button type="submit" name="removeMember" class="btn btn-default" aria-label="Remove"
                      th:value="${iterStat.index}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
          <button type="button" name="addMember" id="add_member" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add another member</button>
          <a href="#advancedOptions" class="btn btn-default" role="button" data-toggle="collapse">Advanced options</a>
        </div>
      </div>

      <div class="collapse" id="advancedOptions">
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <label for="groupTemplate" class="control-label">Who will be able to call meetings, events, etc?</label>
            <select name="groupTemplate" id="groupTemplate" class="form-control">
              <option th:each="template : ${T(za.org.grassroot.services.enums.GroupPermissionTemplate).values()}"
                      th:value="${template}"
                      th:text="#{web.group.permissions.__${template}__}"></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <label for="reminderMinutes" class="control-label">When will reminders be sent, by default?</label>
            <select name="reminderMinutes" id="reminderMinutes" class="form-control" th:field="*{reminderMinutes} ">
              <option th:each="option : ${T(za.org.grassroot.webapp.controller.BaseController).reminderMinuteOptions(false)}"
                      th:value="${option[0]}"
                      th:text="${option[1]}"></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <label for="groupDescription" class="control-label">Longer group description (optional):</label>
            <textarea th:field="*{groupDescription}" id="groupDescription" class="form-control" rows="2" maxlength="250">
              A longer description of the group (visible to web and Android users).
            </textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
          <a th:href="@{/home}" role="button" class="btn btn-default">Cancel</a>
          <button type="submit" class="btn btn-primary">Create Group</button>
        </div>
      </div>

    </form>

  </div>
</div>

<div class="header-container" layout:fragment="script-container">

  <script th:inline="javascript">

    /*<![CDATA[*/

    $(document).ready(function () {

      var creating_form = $('#group_creator');

      var member_table = $('#member-input');
      var member_rows = creating_form.find('.member_input_row');
      var number_members = member_rows.length;

      $('#add_member').click(function() {
        console.log('Add member clicked!');
        if (creating_form.valid()) {
          member_table.find('tr:last').after(grassrootJS.assembleMemberRow("listOfMembers", number_members));
          member_table.find('tr:last').find('[name$="phoneNumber"]').rules('add', grassrootJS.phoneRules);
          number_members++;
        }
      });

      creating_form.validate({
        errorClass: 'error-text',
        rules: {
          groupName: {
            required: true,
            minlength: 2,
            maxlength: 35
          }
        }, messages: {
          groupName: 'Please enter a name for the group (less than 35 characters)',
        }
      });

      $('[name$="phoneNumber"]').each(function () {
        $(this).rules('add', grassrootJS.phoneRules);
      });

    });

    /*]]>*/

  </script>
</div>

</body>
</html>