<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="layout">
<head>
  <title>Grassroot - Create Group</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}" />
  <script th:src="@{/js/grassroot-methods.js}"></script>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>

<div layout:fragment="header" th:switch="${groupCreator.hasParent}">
  <h2 th:case="false" class="text-center top-buffer-lg">Start a new group</h2>
  <h2 th:case="true" class="text-center top-buffer-lg">Start a subgroup of: "<span th:text="${groupCreator.parentName}">parent</span>"</h2>
</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="well">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form th:object="${groupCreator}" th:action="@{/group/create}" method="post" autocomplete="on" class="form-horizontal" id="group_creator">

        <div th:if="*{hasParent}">
          <input th:field="*{parentId}" type="hidden" th:value="*{parentId}"/>
          <input th:field="*{hasParent}" type="hidden" th:value="*{hasParent}"/>
        </div>

        <div class="form-group">
            <label for="groupName" class="control-label">What's the group's name?</label>
            <input th:field="*{groupName}" type="text" class="form-control input-lg" id="groupName"
                   placeholder="Please keep to 35 characters or less" maxlength="20" data-toggle="tooltip"
                   title="Group name may not be longer than 35 characters and must not contain any symbols "/>
        </div>
        <div th:if="${canAddToAccount}" class="form-group">
          <label class="checkbox-inline horizontal-paddding">
            <input type="checkbox" checked="true" class="big-checkbox" name="addToAccount" id="addToAccount" />Add this group to my account
          </label>
        </div>

        <div class="form-group">
            <table class="table" id="member-input">
            <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Role</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <tr th:each="member, iterStat: *{listOfMembers}" class="member_input_row">
            <td>
              <input type="text" th:field="*{listOfMembers[__${iterStat.index}__].displayName}" class="form-control input-lg" placeholder="Member's name" maxlength="35"/>
            </td>
            <td>
              <div class="form-group" th:class="${#fields.hasErrors('listOfMembers[__${iterStat.index}__].phoneNumber')}? has-error">
                <input type="text" th:field="*{listOfMembers[__${iterStat.index}__].phoneNumberWithoutCCode}" class="form-control input-lg" th:errorclass="error" placeholder="Phone number"/>
                <span th:if="${#fields.hasErrors('listOfMembers[__${iterStat.index}__].phoneNumber')}" class="alert has-error">Error!</span>
              </div>
            </td>
            <td>
              <select th:field="*{listOfMembers[__${iterStat.index}__].roleName}" class="form-control input-lg">
                <option th:each="role : ${T(za.org.grassroot.core.domain.BaseRoles).groupRoles}"
                        th:value="${role}"
                        th:text="#{web.group.role.__${role}__}"
                        th:selected="${#strings.equals(member.roleName, role)}"></option>
              </select>
            </td>
            <td>
              <button type="button" name="removeMember" class="btn btn-default btn-lg" aria-label="Remove"
                      th:value="${iterStat.index}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
          <button type="button" name="addMember" id="add_member" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add another member</button>
          <a href="#advancedOptions" class="btn btn-default btn-lg" role="button" data-toggle="collapse">Advanced options</a>
      </div>

      <div class="collapse" id="advancedOptions">
        <div class="form-group">
            <label for="groupTemplate" class="control-label">Who will be able to call meetings, events, etc?</label>
            <select name="groupTemplate" id="groupTemplate" class="form-control input-lg" th:field="*{permissionTemplate}">
              <option th:each="template : ${T(za.org.grassroot.services.enums.GroupPermissionTemplate).values()}"
                      th:value="${template}"
                      th:text="#{web.group.permissions.__${template}__}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="reminderMinutes" class="control-label">When will reminders be sent, by default?</label>
            <select name="reminderMinutes" id="reminderMinutes" class="form-control input-lg" th:field="*{reminderMinutes} ">
              <option th:each="option : ${T(za.org.grassroot.webapp.controller.BaseController).reminderMinuteOptions(false)}"
                      th:value="${option[0]}"
                      th:text="${option[1]}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="groupDescription" class="control-label">Longer group description (optional):</label>
            <textarea th:field="*{groupDescription}" id="groupDescription" class="form-control input-lg" rows="2" maxlength="250">
              A longer description of the group (visible to web and Android users).
            </textarea>
        </div>
      </div>

      <div class="form-group pull-right">
          <a th:href="@{/home}" role="button" class="btn btn-default btn-lg">Cancel</a>
          <button type="submit" class="btn btn-primary btn-lg">Create Group</button>
      </div>

    </form>
      </div>
    </div>
  </div>
</div>

<div class="header-container" layout:fragment="script-container">

  <script th:src="@{/js/lib/jquery-ui.min.js}"></script>

  <script th:inline="javascript">

    /*<![CDATA[*/

    $(document).ready(function () {

      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      $.bind("ajaxSend", function(elm, xhr, s) {
        xhr.setRequestHeader(header, token);
      });

      var creating_form = $('#group_creator');

      var member_table = $('#member-input');
      var member_rows = creating_form.find('.member_input_row');
      var number_members = member_rows.length;

      $('#add_member').click(function() {
        if (creating_form.valid()) {
          addRowToTable();
        }
      });

      function addRowToTable() {
        var thisRowIndex = number_members;

        member_table.find('tr:last').after(grassrootJS.assembleMemberRow("listOfMembers", thisRowIndex));
        var newRow = member_table.find('tr:last');
        var phoneInput = newRow.find('[name$="phoneNumber"]');
        var nameInput = newRow.find('[name$="displayName"]');
        phoneInput.rules('add', grassrootJS.phoneRules);
        nameInput.autocomplete(grassrootJS.memberAutoComplete(nameInput, phoneInput));

        newRow.find('#removeMember').click(function () {
          newRow.remove();
          reduceIndices(thisRowIndex);
        });
        
        number_members++;
      }

      function reduceIndices(removedRow) {
        console.log("reducing indices, from row = " + removedRow);
        var priorNumber = number_members;
        var displayName = "\\.displayName";
        var phoneNumber = "\\.phoneNumber";
        var roleName = "\\.roleName";

        for (i = removedRow; i < (number_members - 1); i++) {

          var selectorPrefix = "#listOfMembers" + (i + 1);
          var newPrefix = "listOfMembers[" + i;

          member_table.find(selectorPrefix + displayName).attr('name', newPrefix + "].displayName");
          member_table.find(selectorPrefix + displayName).attr('id', "listOfMembers" + i + ".displayName");

          member_table.find(selectorPrefix + phoneNumber).attr('name', "listOfMembers[" + i + "].phoneNumber");
          member_table.find(selectorPrefix + phoneNumber).attr('id', "listOfMembers" + i + ".phoneNumber");

          member_table.find(selectorPrefix + roleName).attr('name', "listOfMembers[" + i + "].roleName");
          member_table.find(selectorPrefix + roleName).attr('id', "listOfMembers" + i + ".roleName");
        }

        number_members--;
      }

      creating_form.validate({
        errorClass: 'error-text',
        rules: {
          groupName: {
            required: true,
            minlength: 2,
            maxlength: 35
          }
        }, messages: {
          groupName: 'Please enter a name for the group (less than 35 characters)',
        }
      });

      $('[name$="phoneNumber"]').each(function () {
        $(this).rules('add', grassrootJS.phoneRules);
      });

    });

    /*]]>*/

  </script>
</div>

</body>
</html>