<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title th:if="${group.discoverable}">Grassroot - Hide group</title>
  <title th:unless="${group.discoverable}">Grassroot - List group publicly</title>
</head>
<body>

<div layout:fragment="header">
  <h2 th:if="${group.discoverable}">Hide group</h2>
  <h2 th:unless="${group.discoverable}">List group publicly</h2>
</div>

<div layout:fragment="overview">
  Change whether the group "<mark th:text="${group.getName('')}">group name</mark>" can be found by non-members through searching.
</div>

<!-- todo: make this whole page a pop up -->

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="well" th:if="${group.discoverable}">
    <div class="row form-group">
      <div class="col-lg-12">
        <mark>Are you sure you want to hide the group from general members of the public? People who have the group's join code
        will still be able to join, but people who search for your group by name will not be able to find it.</mark>
      </div>
    </div>
    <div class="row form-group">
      <form th:action="@{/group/discoverable}" method="post" class="form-horizontal" autocomplete="off">
        <input type="hidden" name="groupId" th:value="${group.id}" />
        <div class="form-group">
          <div class="col-lg-4">
            <button id="submitButton" type="submit" class="btn btn-primary">Confirm</button>
            <a href="" th:href="@{/view(groupId=${group.id})}"><button class="btn btn-warning">Cancel</button></a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="well" th:unless="${group.discoverable}">
    <div class="row form-group">
      <div class="col-lg-12">
        <mark><span class="text-danger">Are you sure?</span> If you select this, anyone will be able to find and join your
        group just by searching for it by name.</mark>
        <p>Note: even if you do not make the group visible, people who are given your join code can still join it, and you
        can still add anyone to it yourself.</p>
      </div>
    </div>
    <div class="row">
      <form th:action="@{/group/discoverable}" method="post" class="form-horizontal" autocomplete="off">
        <input type="hidden" name="groupId" th:value="${group.id}" />
        <div class="form-group">
          <label for="confirm_field" class="col-lg-2 control-label">Type 'visible' to confirm:</label>
          <div class="col-lg-4">
            <input type="text" id="confirm_field" class="form-control" name="confirm_field" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-4">
            <button id="submitButton" type="submit" class="btn btn-primary">Confirm</button>
            <a href="" th:href="@{/view(groupId=${group.id})}"><button class="btn btn-warning">Cancel</button></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>