<div class="col-lg-6">
    <div class="row">
        <div class="col-lg-8">
            <h2>Group Events</h2>
        </div>
    </div>
    <!--                <div class="row">
                        <div class="col-lg-12">
                            <div  th:each="event,iterStat : ${userGroupEvents}" class="bs-component">
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <div class="row-action-primary">
                                            <i class="mdi-notification-event-busy"></i>
                                        </div>
                                        <div class="row-content">
                                            <div class="least-content">
                                                <span th:text="${event.eventLocation}"></span>
                                            </div>
                                            <h4  class="list-group-item-heading"><a href=""><span th:text="${event.appliesToGroup.groupName}"></span>:<span th:text="${event.name}"></span></a></h4>

                                            <p class="list-group-item-text"> <span th:text="${#calendars.format(event.getEventStartDateTime(),'dd MMMM yyyy')}">13 May 2011</span></p>
                                        </div>
                                    </div>
                                    <div class="list-group-separator"></div>
                                </div>
                            </div> -->

    <!--                        <div th:if="${#lists.isEmpty(userGroupEvents)}">

                                <div class="list-group">
                                    <div class="list-group-item">
                                        <div class="row-action-primary">
                                            <i class="mdi-notification-event-available"></i>
                                        </div>
                                        <div class="row-content" style="padding-top: 18px;">

                                            <p class="list-group-item-text">There are no Group events at this time.</p>
                                        </div>
                                    </div>
                                    <div class="list-group-separator"></div>
                                </div>
                            </div>
                        </div>-->