<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="layout">
<head>
  <title>Grassroot - View group records</title>
</head>
<body>

<div layout:fragment="header">
  <h2 class="text-center"><span th:text="${group.groupName}">Group name</span></h2>
</div>

<div layout:fragment="overview">
  <h4 class="text-center">Meetings, votes, actions and group changes</h4>
</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="row text-center vertical-padding bottom-buffer-lg">
    <div class="col-md-4 col-md-offset-4">
      <form class="form-vertical form-inline" th:action="@{/group/history}" method="post">
        <input type="hidden" name="groupUid" th:value="${group.uid}" />
          <div class="input-group" style="padding-right: 15px">
            <select id="month" name="monthToView" class="form-control input-lg">
              <option th:each="date : ${monthsToView}"
                      th:value="${date.getMonthValue() + '-' + date.getYear()}"
                      th:text="${#strings.capitalize(date.getMonth().toString().toLowerCase() + ' ' + date.getYear())}"
                      th:selected="${date == beginDate}">
              </option>
            </select>
          <span class="input-group-btn"><button type="submit" class="btn btn-primary btn-lg">Go</button></span>
          </div>
          <a th:href="@{/group/view(groupUid=${group.uid})}"><button class="btn btn-default btn-lg">Back to group</button></a>
          <div th:if="${param.monthToView != null}">
            <a class="btn btn-default btn-lg" th:href="@{/group/history(groupId=${group.id})}">View this month</a>
          </div>
      </form>
    </div>
  </div>


  <div class="row" th:unless="${#lists.isEmpty(eventsInPeriod)}">
    <div class="col-md-6 col-md-offset-3">
      <span class="list-header-new" th:if="${param.monthToView == null}">Meetings and votes held so far this month</span>
      <span class="list-header-new" th:unless="${param.monthToView == null}" th:value="${param.monthToView[0]}"></span>
      <table class="table table-striped">
        <thead>
          <th>Date held</th>
          <th>Type of call</th>
          <th>Subject</th>
          <th>Member who called</th>
        </thead>
        <tbody>
        <tr th:each="event : ${eventsInPeriod}">
          <td><span th:text="${#dates.format(event.eventStartDateTime, 'dd MMM yyyy')}">Date time</span></td>
          <td><span th:text="${event.eventType}"></span></td>
          <td>
            <a th:href="@{view_event(eventUid=${event.uid}, eventType=${event.eventType})}">
              <span th:text="${event.name}">Description</span>
            </a>
          </td>
          <td><span th:text="${event.createdByUser.nameToDisplay()}"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" th:unless="${#lists.isEmpty(todosInPeriod)}">
    <div class="col-md-6 col-md-offset-3">
      <span class="list-header-new">Actions ('to-dos') recorded in the month:</span>
      <table class="table table-striped">
        <thead>
        <th>Date entered</th>
        <th>Description</th>
        <th>Completed?</th>
        <th>Due date</th>
        <th></th>
        </thead>
        <tbody>
        <tr th:each="entry : ${todosInPeriod}">
          <td><span th:text="${#dates.format(entry.createdDateTime, 'dd MMM yyyy')}">Date time</span></td>
          <td><a th:href="@{/todo/details(todoUid=${entry.id})}"><span th:text="${entry.message}">Description</span></a></td>
          <td><span th:text="${entry.isCompleted(20.0)}">Complete or not</span></td> <!-- todo : probably want to use calc status with set threshold -->
          <td><span th:text="${#dates.format(entry.actionByDate, 'dd MMM yyyy')}">Due date</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" th:unless="${#lists.isEmpty(groupLogsInPeriod)}">
    <div class="col-md-6 col-md-offset-3">
      <span class="list-header-new">Changes to the group during this period:</span>
      <table class="table table-striped">
          <thead>
            <th>Date and time</th>
            <th>Type of change</th>
            <th>User that changed</th>
          </thead>
          <tbody>
          <tr th:each="entry : ${groupLogsInPeriod}">
            <td><span th:text="${#dates.format(entry.createdDateTime, 'dd MMM yyyy, HH:mm')}">Date time</span></td>
            <td>
              <span th:unless="${entry.groupLogType == null}" th:text="${#strings.capitalize(entry.groupLogType)}">Description</span>
            </td>
            <td><span th:text="${entry.user.nameToDisplay()}">User</span></td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>

</div>

</body>
</html>