<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - Assign a language to group members</title>
</head>
<body>

<div layout:fragment="header">
  <h2>Change the group language</h2>
</div>

<div layout:fragment="overview">Change the group language</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
        <p>Select a language:</p>
      </div>
    </div>
    <form th:action="@{/group/language}" method="post" class="form-horizontal">
      <input type="hidden" name="groupId" th:value="${group.id}" />
      <div class="row">
        <div class="form-group">
          <label for="daysExtension" class="col-lg-2 control-label">What language to set for current users?</label>
          <div class="col-lg-4">
            <select name="locale" id="daysExtension">
              <option th:each="language: ${languages}"
                      th:value="${language.key}"
                      th:text="${language.value}"/>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-12">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="" th:href="@{/group/view(groupId=${group.id})}"><button class="btn btn-link" role="link">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>