<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Copy or move members</title>
</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title" th:text="${group.groupName}">Group name</h2>
        <h4 class="text-center header-content-subtitle">Copy or move members</h4>
        <h4 class="text-center group-info">
          <a th:href="@{/group/view(groupUid=${group.Uid})}">Back to group</a>
        </h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="grassroot-form">
    <form th:action="@{copy}" th:object="${memberPicker}" method="post">
      <input type="hidden" name="originalGroupUid" th:value="${group.uid}" />
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="form-group">
              <label for="groupTarget" class="control-label">To which group?</label>
              <select name="targetGroupUid" id="groupTarget" class="form-control input-lg">
                <option th:each="group, iterStat: ${targetGroups}"
                        th:value="${group.Uid}"
                        th:text="${group.getName('')}">
                  Groupname
                </option>
                <option value="new_group">New group</option>
              </select>
            </div>
            <div class="form-group" id="newGroupBlock">
              <label for="groupName" class="control-label">Name for the new group:</label>
              <input type="text" class="form-control input-lg" id="groupName" name="groupName"
                     placeholder="Please keep to 35 characters or less" maxlength="20" data-toggle="tooltip"
                     title="Group name may not be longer than 35 characters and must not contain any symbols "/>
              <input type="hidden" name="newGroup" id="newGroupToggle" value="false" />
            </div>
            <div class="form-group">
              <table class="table table-striped group-role-table" id="member-input">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Select</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member, iterStat: *{listOfMembers}">
                  <td>
                    <span th:text="${member.nameToDisplay}" th:id="|name_${iterStat.index}|">Name</span>
                  </td>
                  <td>
                    <input type="hidden" th:field="*{listOfMembers[__${iterStat.index}__].userUid}" />
                    <input type="checkbox" th:field="*{listOfMembers[__${iterStat.index}__].selected}" />
                  </td>
                </tr>
                </tbody>
              </table>
              </div>
            <div class="form-group">
              <label class="grassroot-body">Move members (delete in this group) or copy them (leave in both)?</label>
              <div class="radio">
                <label class="radio-inline radio-inline-lg"><input name="moveType" type="radio" value="MOVE" id="moveMembers" checked="checked" />Move members</label>
                <label class="radio-inline radio-inline-lg"><input name="moveType" type="radio" value="COPY" id="copyMembers" />Copy members</label>
              </div>
            </div>
            <div class="form-group pull-right top-buffer">
              <a th:href="@{/group/view(groupUid=${group.Uid})}" role="button" class="btn default-button btn-neutral">Cancel</a>
              <button type="button" data-toggle="modal" data-target="#confirmModal" class="btn default-button">Continue</button>
            </div>
          </div>

        </div>
      </div>

      <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="confirmModalLabel">Confirm move?</h4>
            </div>
              <input type="hidden" name="groupUid" th:value="${group.getUid()}" />
              <input type="hidden" name="msisdn" id="msisdn" value="ABC" />
              <input type="hidden" name="new_role" id="new_role" value="ABC" />
              <div class="modal-body">
                <div class="form-group">
                  <p id="modalBodyText">
                    You are about to move or copy X members. Confirmed?
                  </p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn default-button btn-positive">Confirm</button>
              </div>
          </div>
        </div>
      </div>

    </form>
  </section>
</main>

<div layout:fragment="script-container">
  <script>

    $(document).ready(function() {

        var targetSelect = $("#groupTarget");
        var newGroupBlock = $("#newGroupBlock");
        var newGroupToggle = $("#newGroupToggle");

        var modalHeaderText = $("#confirmModalLabel");
        var modalBodyText = $("#modalBodyText");

        var moveCopyRadios = $("input[name=moveType]");
        var moveSelected = true;

        toggleNewGroupControl();
        targetSelect.change(function() {
            toggleNewGroupControl();
        });

        function toggleNewGroupControl() {
            var selectedUid = targetSelect.find("option:selected").val();
            console.log("selectedUid: " + selectedUid);
            if (selectedUid == 'new_group') {
                console.log("new group selected!");
                newGroupBlock.show();
                newGroupToggle.val("true");
            } else {
                newGroupBlock.hide();
                newGroupToggle.val("false");
            }
        }

        moveCopyRadios.change(function() {
            var selected = moveCopyRadios.filter(":checked").val();
            console.log("Checked valuue: " + selected);
            moveSelected = (selected == 'MOVE');
            modalHeaderText.text(moveSelected ? "Confirm move?" : "Confirm copy?");
        });

        $("#confirmModal").on("show.bs.modal", function(event) {
            modalBodyText.text(moveSelected ? "You're about to move " + countSelectedMembers() + " people from this group. " +
            "After the move they won't be members of this group anymore. Confirmed?" :
                "You're about to copy " + countSelectedMembers() + " people from this group. They'll stay members of this " +
                "group afterwards. Continue?");
        });

        function countSelectedMembers() {
            return $('input[type="checkbox"]:checked').length;
        }
    });

  </script>
</div>

</body>
</html>