<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8" />
  <title>Welcome messages</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
</head>
<body>

<section layout:fragment="header" class="top-container"
         th:replace="~{fragments :: std_header_back('Welcome messages', 'Back to group', ${backUrl})}">
</section>

<main layout:fragment="content">

  <section class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
          <form th:action="@{create}" method="post" th:with="hasTemplate=${existingTemplate != null}">
            <input type="hidden" name="groupUid" th:value="${groupUid}" />
            <input type="hidden" name="updatingTemplate" th:value="${hasTemplate}" />
            <input type="hidden" name="changedDelay" id="changed_delay" value="false" />
            <div class="form-group">
              <label for="message_1" class="form-text-lg">
                Please enter the first message (use __name__ to insert the person's name, and __date__ to
                insert the date they joined (both are optional)
              </label>
              <textarea name="messageText1" id="message_1" rows="3" maxlength="160" class="form-control input-lg"
                  th:text="${hasTemplate ? existingTemplate.smsTemplate1 : ''}"></textarea>
            </div>
            <div class="form-group">
              <label for="message_2" class="form-text-lg">
                Please enter the second text, if there is one (optional, adds an additional SMS per user to cost)
              </label>
              <textarea name="messageText2" id="message_2" rows="3" maxlength="160" class="form-control input-lg"
                        th:text="${hasTemplate ? existingTemplate.smsTemplate2 : ''}"></textarea>
            </div>
            <div class="form-group">
              <label for="message_3" class="form-text-lg">
                Please enter the third text, if there is one (optional, adds an additional SMS per user to cost)
              </label>
              <textarea name="messageText3" id="message_3" rows="3" maxlength="160" class="form-control input-lg"
                        th:text="${hasTemplate ? existingTemplate.smsTemplate3 : ''}"></textarea>
            </div>
            <div class="form-group">
              <label for="duration_quantity" class="form-text-lg">
                How long after the user joins should this be sent?
              </label>
              <select id="duration_quantity" class="form-control input-lg">
                <option th:each="i: ${#numbers.sequence(0, 12)}"
                    th:text="${i}" th:value="${i}">
              </select>
              <select id="duration_units" class="form-control input-lg">
                <option value="HOURS">Hours</option>
                <option value="DAYS">Days</option>
              </select>
              <input type="hidden" id="duration_millis" name="durationMillis" />
            </div>
            <div class="form-group pull-right top-buffer">
              <a th:if="${hasTemplate and hasChildren}" role="button" class="btn default-button btn-neutral"
                 data-toggle="modal" data-target="#cascade_modal">
                <span th:text="${existingTemplate.cascade ? 'Stop duplicate' : 'Duplicate'}">Duplicate</span>
              </a>
              <a th:if="${hasTemplate}" role="button" class="btn default-button btn-neutral"
                 data-toggle="modal" data-target="#deactivate_modal">Deactivate</a>
              <a th:href="${backUrl}" role="button" class="btn default-button btn-neutral">Cancel</a>
              <button type="submit" th:text="${hasTemplate ? 'Modify' : 'Create'}" class="btn default-button">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <div th:if="${existingTemplate != null}">
    <div th:replace="~{form_fragments :: confirm_cancel_modal('deactivate_modal',
    'Deactivate', 'Deactivate group welcome message?', 'groupUid', ${groupUid}, 'deactivate')}"></div>
  </div>

  <div th:if="${hasChildren and existingTemplate != null and existingTemplate.cascade}">
    <div th:replace="~{form_fragments :: confirm_cancel_modal('cascade_modal',
    'Stop duplicate', 'Stop duplicating welcome messages? People added to subgroups will not get messages',
    'groupUid', ${groupUid}, 'cascade/disable')}"></div>
  </div>

  <div th:if="${hasChildren and existingTemplate != null and not existingTemplate.cascade}">
    <div th:replace="~{form_fragments :: confirm_cancel_modal('cascade_modal',
    'Duplicate', 'Duplicate welcome messages for subgroups? People added to subgroups will get the messages',
    'groupUid', ${groupUid}, 'cascade/enable')}"></div>
  </div>

</main>

<div layout:fragment="script-container">
  <script th:inline="javascript">

    $(document).ready(function() {

      var isUpdating = /*[[${existingTemplate != null}]]*/ false;
      var currentDelayMillis = /*[[${existingTemplate != null ? existingTemplate.delayIntervalMillis : 0}]]*/ 0;

      var HOURS_MILLIS = 60 * 60 * 1000;
      var DAYS_MILLIS = 24 * HOURS_MILLIS;

      var quantSel = $("#duration_quantity");
      var unitSel = $("#duration_units");
      var longField = $("#duration_millis");
      var changedDelay = $("#changed_delay");

      longField.val(quantSel.val() * unitMillis()); // since may be reloading

      quantSel.change(function() {
        longField.val(quantSel.val() * unitMillis());
        changedDelay.val(true);
        console.log("millis = " + longField.val(), "changed delay = " + changedDelay.val());
      });

      unitSel.change(function() {
        longField.val(quantSel.val() * unitMillis());
        changedDelay.val(true);
        console.log("millis = " + longField.val(), "changed delay = " + changedDelay.val());
      });

      function unitMillis() {
        return $(unitSel).val() === 'DAYS' ? DAYS_MILLIS : HOURS_MILLIS;
      }

      if (isUpdating) {
        var isDayDelay = currentDelayMillis / DAYS_MILLIS;
        console.log("day/hour calc = " + isDayDelay);
        unitSel.val(isDayDelay >= 1 ? 'DAYS' : 'HOURS');
        quantSel.val(isDayDelay >= 1 ? (currentDelayMillis / DAYS_MILLIS) : (currentDelayMillis / HOURS_MILLIS));
      }

    })


  </script>
</div>

</body>
</html>