/* For various forms of viewing todos, tasks, etc */

.task-buttons {
  margin-bottom: 20px;
}

.task-details {

  .detail-row {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $light-green;
  }

  .description {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;

    &.complete {
      color: $dark-text;
    }

    &.incomplete {
      color: $orange;
    }

    a {
      color: $green;

      // as usual with CSS, this doesn't seem to actually work, but leaving here as a marker for future
      .external {
        color: blue;
      }
    }
  }

}

.task-member-list {
  font-size: 1.2em;

  .panel {
    box-shadow: none;
  }

  .panel-group .panel {
    border-radius: 0 !important;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .panel-title a i {
    position: absolute;
    right: 6px;
  }

  .panel-title > a,
  .panel-title > small,
  .panel-title > .small,
  .panel-title > small > a,
  .panel-title > .small > a {
    font-size: 1.5em;
    font-weight: 400;
    color: $green;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.todo-list {
  @extend .history-task-list;

}