<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Grassroot - Create an institutional account</title>
<script>



</script>
</head>
<body>

<div layout:fragment="header">
  <h2>Create a paid account</h2>
</div>
<div layout:fragment="overview">Create an account for paid group</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <div class="col-md-6 col-md-offset-3">
      <form th:action="@{/admin/accounts/create}" method="post" autocomplete="off" class="form-vertical">
        <div class="form-group">
          <label for="name" class="control-label">Account name</label>
          <input name="accountName" type="text" class="form-control" id="name" placeholder="The name of the account" />
        </div>
        <div class="form-group">
          <label for="email" class="control-label">Primay email</label>
          <input name="billingAddress" type="text" class="form-control" id="email" placeholder="The principal email address for account correspondence" />
        </div>
        <div class="form-group">
          <label for="type">Account type</label>
          <select id="type" name="accountType" class="form-control">
            <option th:each="type: ${T(za.org.grassroot.core.enums.AccountType).values()}"
                    th:text="#{web.account.type.__${type}__}"
                    th:value="${type}"></option>
          </select>
        </div>

        <div class="form-group pull-right">
          <button type="submit" class="btn btn-primary">Create account</button>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>