<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Grassroot - Create an account admin</title>
</head>
<body>

<div layout:fragment="header">
  <h2>Confirm adding admin to a paid account</h2>
</div>
<div layout:fragment="overview">Add an admin user to an institutional account</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <form th:action="@{/admin/accounts/designate_confirmed}" method="post" autocomplete="off" class="form-horizontal">
      <!-- todo: provide an option to over-write the current primary email when doing this -->
      <input type="hidden" name="accountUid" th:value="${account.uid}" />
      <input type="hidden" name="userUid" th:value="${userToDesignate.uid}" />
      <div class="form-group">
        You are about to make an administrator the user <span th:text="${userToDesignate.nameToDisplay()}">name</span>,
        with the phone number <span th:text="${userToDesignate.phoneNumber}">081XXX</span>. Are you sure?
      </div>
      <div class="form-group">
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary" name="confirm">Confirm</button>
          <button class="btn btn-warning">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>