<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Grassroot - Create an account admin</title>
<script>



</script>
</head>
<body>

<div layout:fragment="header">
  <h2>Add an admin to a paid account</h2>
</div>
<div layout:fragment="overview">Add an admin user to an institutional account</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <form th:action="@{/admin/accounts/designate}" method="post" autocomplete="off" class="form-horizontal">
      <!-- todo: provide an option to over-write the current primary email when doing this -->
      <input type="hidden" name="accountId" th:value="${account.id}" />
      <div class="form-group">
        <label for="searchNumber" class="col-md-2 control-label">User phone number</label>
        <div class="col-md-4">
          <input name="searchNumber" type="text" class="form-control" id="searchNumber" placeholder="The phone number of the user" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary">Find user</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>