<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layout}">
<head>
  <title>Manage accounts</title>
</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Manage accounts</h2>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="group-buttons">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a th:href="@{/admin/accounts/reset/dates}"><button class="white-button group-button">Reset billing dates</button></a>
        </div>
        <div class="col-md-4">
          <button data-toggle="modal" data-target="#triggerBillingModal" class="white-button group-button">Trigger billing</button>
        </div>
        <div class="col-md-4">
          <a th:href="@{/admin/accounts/reset/payments}"><button class="white-button group-button">Trigger payments</button></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a th:href="@{/admin/accounts/deposit}"><button class="white-button group-button">ETF accounts</button></a>
        </div>
        <div class="col-md-4">
          <a th:href="@{records/list}"><button class="white-button group-button">List bills for payment</button></a>
        </div>
        <div class="col-md-4">
          <a th:href="@{/admin/accounts/home}">All open accounts</a>
        </div>
      </div>
    </div>
  </section>

  <div class="grassroot-form">
    <div class="container" th:if="${not #lists.isEmpty(accounts)}">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <table class="table">
            <thead>
            <th>Account name</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Monthly</th>
            <th>Payment type</th>
            <th>Next bill</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
              <td>
                <a th:href="@{/admin/accounts/modify(accountUid=${account.uid})}" class="form-link"><span th:text="${account.accountName}">Account name</span></a>
              </td>
              <td><span th:text="${account.type}">Type</span></td>
              <td><a href="#adjustBalanceModal" data-toggle="modal" data-target="#adjustBalanceModal"
                     data:uid="${account.uid}" data:balance="${account.outstandingBalance}">
                <span th:text="${#numbers.formatDecimal(account.outstandingBalance / 100, 0, 'COMMA', 2, 'POINT')}"></span></a>
              </td>
              <td><a href="#adjustMonthlyFeeModal" data-toggle="modal" data-target="#adjustMonthlyFeeModal" data:uid="${account.uid}"
                     data:fee="${account.subscriptionFee}">
                <span th:text="${#numbers.formatDecimal(account.subscriptionFee / 100, 0, 'COMMA', 2, 'POINT')}"></span>
              </a></td>
              <td>
                <a href="#changePaymentTypeModal" data-toggle="modal" data-target="#changePaymentTypeModal" data:uid="${account.uid}"
                   data:type="${account.defaultPaymentType}">
                <span th:text="#{web.admin.accounts.payment.type.__${account.defaultPaymentType}__}">Credit card</span>
                </a>
              </td>
              <td>
                <a href="#changeBillingDateModal" data-toggle="modal" data-target="#changeBillingDateModal" data:uid="${account.uid}">
                  <span th:if="${account.isBillingActive()}" th:text="${#temporals.format(account.getNextBillingDateAtSAST(), 'd MMM yyyy')}"></span>
                  <span th:unless="${account.isBillingActive()}">None</span></a>
              </td>
              <td>
                <a th:href="${account.enabled} ? '#confirmDisableModal' : '#confirmEnableModal'" data-toggle="modal"
                   data:target="${account.enabled} ? '#confirmDisableModal' : '#confirmEnableModal'" data:uid="${account.uid}">
                  <span th:text="${account.enabled} ? 'Disable' : 'Enable'">Disable</span>
                </a>
              </td>
              <td>
                <a href="#generateBillModal" data-toggle="modal" data-target="#generateBillModal" data:uid="${account.uid}">
                  Generate bill
                </a>
              </td>
              <td>
                <a th:href="@{limits(accountUid=${account.uid})}">Adjust limits</a>
              </td>
              <td>
                <a th:href="@{records/list(accountUid=${account.uid})}">View bills</a>
              </td>
              <td>
                <a th:href="@{payments/stop(accountUid=${account.uid})}">Stop payments</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="changePaymentTypeModal" tabindex="-1" role="dialog" aria-labelledby="changePaymentTypeModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="changePaymentTypeModalLabel">Adjust subscription</h4>
        </div>
        <form th:action="@{/admin/accounts/change/payment/method}" method="post">
          <input type="hidden" name="accountUid" id="accountUidChangePaymentType" />
          <select id="paymentType" name="paymentType" class="form-control">
            <option th:each="type: ${T(za.org.grassroot.core.enums.AccountPaymentType).values()}"
                    th:text="#{web.admin.accounts.payment.type.__${type}__}"
                    th:value="${type}"></option>
          </select>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="generateBillModal" tabindex="-1" role="dialog" aria-labelledby="generateBillModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="generateBillModalLabel">Generate Bill</h4>
        </div>
        <form th:action="@{/admin/accounts/bill}" method="post">
          <input type="hidden" name="accountUid" id="accountUid" />
          <div class="modal-body">
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" name="generateStatement" /><span style="margin-left: 20px">Generate statement</span>
              </label>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" name="triggerPayment" /><span style="margin-left: 20px">Trigger payment</span>
              </label>
            </div>
            <div class="form-group">
              <label for="billAmount">Bill for a specific amount? If blank, default will be calculated</label>
              <input type="text" name="billAmount" id="billAmount" class="form-control"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="adjustBalanceModal" tabindex="-1" role="dialog" aria-labelledby="adjustBalanceModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="adjustBalanceModalLabel">Adjust balance</h4>
        </div>
        <form th:action="@{/admin/accounts/change/balance}" method="post">
          <input type="hidden" name="accountUid" id="accountUidBalance" />
          <div class="modal-body">
            <div class="form-group">
              <p>What should be the new account balance? Please enter it below (in cents)</p>
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="newBalance" name="newBalance" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="adjustMonthlyFeeModal" tabindex="-1" role="dialog" aria-labelledby="adjustMonthlyModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="adjustMonthlyModalLabel">Adjust subscription</h4>
        </div>
        <form th:action="@{/admin/accounts/change/subscription}" method="post">
          <input type="hidden" name="accountUid" id="accountUidFee" />
          <div class="modal-body">
            <div class="form-group">
              <p>What should be the new subscription fee? Please enter it below (in cents)</p>
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="newSubcriptionFee" name="newSubscriptionFee" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="changeBillingDateModal" tabindex="-1" role="dialog" aria-labelledby="changeBillingDateModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="changeBillingDateModalLabel">Change billing date</h4>
        </div>
        <form th:action="@{/admin/accounts/change/billingdate}" method="POST">
          <input type="hidden" name="accountUid" id="accountUidBillingDate" />
          <div class="modal-body">
            <div class="form-group">
              <p>Enter the new billing date below (or stop billing):</p>
            </div>
            <div class="input-group date" id="billingDatePicker">
              <input name="billingDateTime" type="text" class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  </span>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" name="stopBilling" /><span style="margin-left: 20px">Stop billing</span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmStopPaymentModal" tabindex="-1" role="dialog" aria-labelledby="confirmStopPaymentLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="confirmStopPaymentLabel">Adjust subscription</h4>
        </div>
        <form th:action="@{/admin/accounts/bill/payments/stop}" method="post">
          <input type="hidden" name="accountUid" id="accountUidStopPayment" />
          <div class="modal-body">
            <div class="form-group">
              <p>Confirmed to stop payments on this account?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmEnableModal" tabindex="-1" role="dialog" aria-labelledby="confirmEnableLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="confirmEnableLabel">Enable account</h4>
        </div>
        <form th:action="@{enable}" method="post">
          <input type="hidden" name="accountUid" id="accountUidEnable" />
          <div class="modal-body">
            <div class="form-group">
              <p>Confirmed to enable this account?</p>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" name="sendEmail" /><span style="margin-left: 20px">Send notification email</span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmDisableModal" tabindex="-1" role="dialog" aria-labelledby="confirmDisableLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="confirmDisableLabel">Disable account</h4>
        </div>
        <form th:action="@{disable}" method="post">
          <input type="hidden" name="accountUid" id="accountUidDisable" />
          <div class="modal-body">
            <div class="form-group">
              <p>Confirmed to disable this account?</p>
            </div>
          </div>
          <div class="form-group">
            <label class="checkbox-inline">
              <input type="checkbox" name="sendEmail" /><span style="margin-left: 20px">Send notification email</span>
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="triggerBillingModal" tabindex="-1" role="dialog" aria-labelledby="triggerBillingModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="triggerBillingModalLabel">Trigger billing</h4>
        </div>
        <form th:action="@{reset/billing}" method="post">
          <div class="modal-body">
            <div class="form-group">
              <p>Confirm to trigger billing for all accounts?</p>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" name="sendEmails" /><span style="margin-left: 20px">Send emails</span>
                <input type="checkbox" name="sendNotifications" /><span style="margin-left: 20px">Send notifications</span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/moment.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>

  <script>

      $(document).ready(function() {
          $('#generateBillModal').on('show.bs.modal', function(event) {
              var link = $(event.relatedTarget);
              var uid = link.data('uid');
              $(this).find('#accountUid').val(uid);
          });

          $('#changePaymentTypeModal').on('show.bs.modal', function(event) {
            var link = $(event.relatedTarget);
            var uid = link.data('uid');
            var type = link.data('type');
            $(this).find('#accountUidChangePaymentType').val(uid);
            $(this).find('#paymentType').val(type);
          });

          $('#adjustBalanceModal').on('show.bs.modal', function(event) {
              var link = $(event.relatedTarget);
              var uid = link.data('uid');
              var balance = link.data('balance');
              $(this).find('#accountUidBalance').val(uid);
              $(this).find('#newBalance').val(balance);
          });

          $('#adjustMonthlyFeeModal').on('show.bs.modal', function(event) {
              var link = $(event.relatedTarget);
              var uid = link.data('uid');
              var fee = link.data('fee');
              $(this).find('#accountUidFee').val(uid);
              $(this).find('#newSubcriptionFee').val(fee);
          });

          $('#changeBillingDateModal').on('show.bs.modal', function(event) {
              var link = $(event.relatedTarget);
              var uid = link.data('uid');

              $(this).find('#accountUidBillingDate').val(uid);
              $('#billingDatePicker').datetimepicker({
                  format: 'DD/MM/YYYY h:mm A',
                  minDate: new Date(),
                  widgetPositioning: {
                      horizontal: 'right'
                  },
                  sideBySide:true
              });
          });

          $('#confirmStopPaymentModal').on('show.bs.modal', function(event) {
              var link = $(event.relatedTarget);
              var uid = link.data('uid');
              $(this).find('#accountUidStopPayment').val(uid);
          });

          $('#confirmEnableModal').on('show.bs.modal', function(event) {
              var link = $(event.relatedTarget);
              var uid = link.data('uid');
              $(this).find('#accountUidEnable').val(uid);
          });

          $('#confirmDisableModal').on('show.bs.modal', function(event) {
              var link = $(event.relatedTarget);
              var uid = link.data('uid');
              $(this).find('#accountUidDisable').val(uid);
          });

      });

  </script>

</div>

</body>
</html>