<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - View an institutional account</title>
<script>



</script>
</head>
<body>

<div layout:fragment="header">
  <h2>View a paid account</h2>
</div>
<div layout:fragment="overview">View an account</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <!-- to do: Add stuff about the account in here -->
    <div class="row">
      Viewing account: <span th:text="${account.accountName}">account name</span>
      <table class="table table-striped">
        <thead>
        <th>Field</th>
        <th>Value</th>
        </thead>
        <tbody>
        <tr>
          <td>Account name</td>
          <td><span th:text="${account.accountName}">Account name</span></td>
        </tr>
        <tr>
          <td>Primary email</td>
          <td><span th:text="${account.primaryEmail}">Email</span></td>
        </tr>
        <tr>
          <td>Enabled</td>
          <td><span th:text="${account.enabled}">True</span></td>
        </tr>
        <!-- todo: add additional fields -->
        </tbody>
      </table>
      <!-- todo: add list of adminstrators and paid groups -->
      <div th:if="${not #lists.isEmpty(account.administrators)}" class="row">
        <div class="col-lg-4">
          Administrators designated so far:
        </div>
        <div class="col-lg-12">
        <table class="table table-striped">
          <thead>
          <th>Name</th>
          <th>Phone number</th>
          <!-- todo: should have emails for account admins, as well as 'admin since', or similar -->
          </thead>
          <tbody>
          <tr th:each="admin : ${account.administrators}">
            <td><span th:text="${admin.nameToDisplay()}">Name</span></td>
            <td><span th:text="${admin.phoneNumber}">Phone number</span></td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
      <div class="form-group">
        <!-- <input type="hidden" name="accountId" th:value="{account.id}"/> -->
        <div class="col-md-8">
          <a href="" th:href="@{designate(accountId=${account.id})}"><button type="submit" class="btn btn-primary">Add an administrator</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>