<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <title>Disabled account</title>
</head>

<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Enable account</h2>
        <h4 class="text-center header-content-subtitle" th:text="${account.accountName}"></h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="no-group-text">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" th:unless="${hasRequestedSponsorship}">
          <p class="text-justify">
            Your account has been disabled, pending payment. You can enter a new payment method below, or ask someone
            to sponsor the account.
          </p>
        </div>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" th:if="${hasRequestedSponsorship}">
          <p class="text-justify">
            Your sponsorship request has not been approved yet. You can switch to paying directly yourself, or send another
            sponsorship request. You can view your open requests <a href="#sponsorRequestModal" data-toggle="modal" data-target="#sponsorRequestModal">here.</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="no-group-buttons">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <button data-toggle="modal" data-target="#payNowModal" class="btn default-button full-width-button text-center">
            <i class="fa fa-credit-card" aria-hidden="true"></i> Pay now
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <a th:href="@{/account/sponsor/request(accountUid=${account.uid})}" class="btn default-button full-width-button text-center">
            <i class="fa fa-handshake-o" aria-hidden="true"></i> Request sponsorship
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <button data-toggle="modal" data-target="#contactModal" class="default-button full-width-button text-center">
            <i class="fa fa-envelope" aria-hidden="true"></i> Contact us</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <button data-toggle="modal" data-target="#closeAccModal" class="default-button full-width-button text-center">
            Close account</button>
        </div>
      </div>

    </div>
  </section>

  <div class="modal fade" id="payNowModal" tabindex="-1" role="dialog" aria-labelledby="payNowModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="payNowModalLabel">Choose payment method</h4>
        </div>
        <form th:action="@{/account/payment/trial}" method="get">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <p>Please select how you want to pay for the account:</p>
            </div>
            <select id="combinedPaymentOption" name="combinedPaymentOption" class="form-control input-lg">
              <option th:each="type: ${T(za.org.grassroot.webapp.enums.CombinedPaymentOption).values()}"
                      th:text="#{web.account.payment.combined.__${type}__}"
                      th:value="${type}"></option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-lg default-button btn-positive">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="sponsorRequestModal" tabindex="-1" role="dialog" aria-labelledby="sponsorRequestModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="sponsorRequestModalLabel">Sponsorship Requests</h4>
        </div>
        <div class="modal-body home-groups">
          <ul class="list-group">
            <li th:each="request : ${openSponsorshipRequests}" class="list-group-item no-vertical">
              <a th:href="@{/account/sponsor/request(accountUid=${account.uid}, requestUid=${request.uid})}" class="list-header no-vertical">
                Sent to: <span th:text="${request.destination.name}">Person</span>
              </a>
              <p>Sent on <span th:text="${#temporals.format(request.getCreationTimeAtSAST(),'d MMM yyyy')}"></span>. Your request has
                <span th:text="${request.status.name() == 'VIEWED' ? 'been viewed but not approved yet' :'not been viewed yet'}"></span>.
              </p>
            </li>
          </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-lg default-button btn-neutral" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="contactModalLabel">Contact us</h4>
        </div>
        <form th:action="@{/account/contact}" method="post">
          <div class="modal-body">
            <div class="form-group">
              <p>Please enter a message below, and we will respond as soon as possible</p>
            </div>
            <div class="form-group" th:if="${needEmailAddress}">
              <input type="text" name="emailAddress" class="form-control input-lg" />
            </div>
            <div class="form-group">
              <textarea name="message" class="form-control" rows="2"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-lg default-button btn-positive">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="closeAccModal" tabindex="-1" role="dialog" aria-labelledby="closeAccountLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="joiningModalLabel">Close account</h4>
        </div>
        <form th:action="@{/account/close}" method="post">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <p>Are you sure you want to close this account? If so, type "confirmed" below</p>
            </div>
            <div class="form-group">
              <input type="text" name="confirmText" class="form-control input-lg" id="confirmText" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-lg default-button btn-positive">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

</body>
</html>