<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Authorize Payment</title>
</head>

<body>

<div layout:fragment="header" class="top-container">
</div>

<div layout:fragment="content">
<form id="redirect" th:action="@{/account/payment/done}" method="POST" target="_top">

  <input type="hidden" name="paymentId" th:value="${paymentId}"/>
  <input type="hidden" name="paymentRef" th:value="${paymentRef}" />
  <input type="hidden" name="succeeded" th:value="${succeeded}" />
  <input type="hidden" name="failureDescription" th:value="${failureDescription}" />

</form>
</div>

<div layout:fragment="script-container">
  <script>
      $(document).ready(function() {
          $("#redirect").submit();
      });
  </script>
</div>

</body>
</html>