<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <title>Downgrade account</title>
</head>

<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Remove Groups</h2>
        <h4 class="text-center header-content-subtitle">You must remove groups to downgrade</h4>
        <h4 class="text-center group-info"><a th:href="@{/account/view(accountUid=${account.uid})}">Cancel</a></h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="home-groups">
    <div class="container">
      <div class="row narrow-vertical">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
          <div class="row">
            <p class="grassroot-body">
              You have too many groups on your account at the moment to downgrade. Please select
              at least <span th:text="${numberToRemove}">X</span> groups and then click confirm, or else cancel the downgrade</p>
            <p class="grassroot-body error-text text-center" id="groupCount">You have removed X groups. You must remove another Y.</p>
          </div>
          <div class="row top-buffer">
            <div class="panel-group">
              <div class="panel panel-default">
                <ul class="list-group">
                  <li th:each="paidGroup, iter: ${paidGroups}" class="list-group-item">
                    <span class="list-header" th:text="${paidGroup.group.name}"></span>
                    <span class="badge">
                        <input th:id="'paidGroup' + ${iter.index}" data:uid="${paidGroup.group.uid}" type="checkbox" />
                      </span>
                    <p>Est. <span th:text="${#temporals.format(paidGroup.group.createdDateTimeAtSAST,'d MMM yyyy')}">13 May 2011</span></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12 pull-right text-right">
              <a th:href="@{/account/view(accountUid=${account.uid})}" class="btn default-button btn-neutral">Cancel</a>
              <button id="finalizeButton" type="button" class="btn default-button" data-toggle="modal" data-target="#finalizeModal">Confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Finalize modal -->
  <div class="modal fade" id="finalizeModal" tabindex="-1" role="dialog" aria-labelledby="finalizeModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="finalizeModalTitle">Add groups</h4>
        </div>
        <form th:action="@{/account/type/change/remove}" method="post">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <input type="hidden" name="newType" th:value="${newType}" />
          <input type="hidden" name="groupUids" id="removalUids" />
          <div class="modal-body">
            <div class="form-group">
              <p id="removalDescriptionText">
                Are you sure? After you click confirm, all the groups you have selected will no longer be able to use
                the advanced features (larger size, additional todos, etc).
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <a th:href="@{/account/view(accountUid=${account.uid})}" class="btn default-button btn-neutral">Cancel</a>
            <button type="submit" class="btn default-button">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

<div class="header-container" layout:fragment="script-container">

  <script th:inline="javascript">

      $(document).ready(function() {
          console.log("ready!");
          var uidStore = {};
          var toRemove = /*[[${numberToRemove}]]*/ 7;

          var countText = $("#groupCount");
          var finalButton = $("#finalizeButton");
          countText.hide();
          finalButton.hide();

          $('[id^="paidGroup"]').change(function () {
              uidStore[$(this).data('uid')] = $(this).is(":checked");
              updateCounter();
          });

          $("#finalizeModal").on('show.bs.modal', function(event) {
              $(this).find("#removalUids").val(concatRemovedGroups());
          });

          function countRemovedGroups() {
              var counter = 0;
              $.each(uidStore, function (key, value) {
                  if (value) counter++;
              });
              return counter;
          }

          function updateCounter() {
              var removed = countRemovedGroups();
              var left = toRemove - removed;
              countText.show();
              var str;
              if (left > 0) {
                  str = "You have removed " + removed + " groups. You must remove another " + (toRemove - removed) + ".";
                  countText.text(str);
                  countText.addClass("error-text");
                  finalButton.hide();
              } else {
                  str = "You will remove " + removed + " groups.";
                  countText.text(str);
                  countText.removeClass("error-text");
                  finalButton.show();
              }
          }

          function concatRemovedGroups() {
              var uids = [];
              $.each(uidStore, function(key, value) {
                  if (value) uids.push(key);
              });
              return uids.join();
          }

      });

  </script>
</div>

</body>
</html>