<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - Call a vote</title>
  <style>
    .horizontal-padding {
      margin-right: 5px;
      margin-left: 5px;
    }
  </style>
  <!-- todo: fix whatever is causing on-server glyphicons to not load; this is a temp fix -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" />

</head>
<body>

<div layout:fragment="header">
  <h2 class="text-center">Call a vote</h2>
</div>

<div layout:fragment="overview">
  <h5 class="text-center">Specify who is voting, by when, and on what</h5>
</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="well">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <form th:object="${vote}" th:action="@{/vote/create}" method="post" class="form-vertical">

          <input th:field="*{id}" type="hidden" />
          <input th:field="*{rsvpRequired}" type="hidden" />

          <div class="form-group">
            <label for="group" class="control-label">Group which is voting</label>
            <select th:unless="${groupSpecified}" name="selectedGroupUid" id="selectedgroup" class="form-control">
              <option th:each="group: ${possibleGroups}"
                      th:value="${group.uid}"
                      th:text="${group.groupName}">Groupname</option>
            </select>
            <input th:if="${groupSpecified}" class="form-control" readonly="true" th:placeholder="${group.groupName}" id="group" />
          </div>
          <div class="form-group">
            <label for="name" class="control-label">Subject for the vote?</label>
            <small>Members will only be able to answer with "yes", "no" or "abstain"</small>
            <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="The issue for the vote" maxlength="35" data-toggle="tooltip"
                     title="Issue description may not be longer than 35 characters. "/>
          </div>

          <div class="form-group">
            <div th:fragment="date-picker">
              <label for="datepicker" class="control-label">Vote closing date and time</label>
              <div class="input-group date" id="datepicker">
                <input th:field="*{eventStartDateTime}" type="text" class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="control-label">Longer description of vote (optional)</label>
            <textarea th:field="*{description}" class="form-control" rows="2" maxlength="250"></textarea>
          </div>

          <!-- note: removing this for now, and setting votes to "no reminder" ... wire up manual trigger later

          <div class="form-group">
            <label class="control-label">Reminder:</label>
            <select th:field="*{reminderType}" class="form-control" id="reminderType">
              <option value="DISABLED">None</option>
              <option value="GROUP_CONFIGURED">Group default</option>
              <option value="CUSTOM">Set custom</option>
            </select>
            <div class="radio" id="customReminder">
              <label class="radio-inline" th:each="option, iterStat : ${reminderOptions}">
                <input type="radio" th:field="*{customReminderMinutes}" th:value="${option[0]}" />
                <span th:text="${option[1]}" >No reminder</span>
              </label>
            </div>
          </div> -->

          <div class="form-group">
            <label class="checkbox-inline">
              <input th:field="*{includeSubGroups}" type="checkbox" id="subgroups" th:checked="${true}" />
              Include subgroups?
            </label>
            <div class="btn-container pull-right">
              <a th:if="${groupSpecified}"
                 th:href="@{/group/view(groupUid=${group.Uid})}" role="button" class="btn btn-default horizontal-padding">Cancel</a>
              <a th:if="${not groupSpecified}"
                 th:href="@{/home}" role="button" class="btn btn-default">Cancel</a>
              <button type="submit" class="btn btn-primary horizontal-padding">Call vote</button>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>

<div class="header-container" layout:fragment="script-container">
  <script>

    $(document).ready(function() {

      $("#customReminder").hide();

      var defTime = new Date();
      defTime.setTime(defTime.getTime() + 5*60*1000);

      $('#datepicker').datetimepicker({
        format: 'DD/MM/YYYY h:mm A',
        widgetPositioning: {
          horizontal: 'right'
        },
        sideBySide:true,
        minDate: defTime
      });

      $('#reminderType').change(function() {
        var selected = $("#reminderType option:selected").val();
        console.log("Selected option: " + selected);
        if (selected == "CUSTOM") {
          $("#customReminder").show();
        } else {
          $("#customReminder").hide();
        }
      });

    });
  </script>

</div>

</body>
</html>