<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Vote</title>
</head>
<body>

<section layout:fragment="header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center">
          <p class="group-title">Vote: </p>
          <p class="group-name" th:text="${vote.name}">Vote</p>
        </h2>
        <h4 class="text-center header-content-subtitle" th:if="${fromGroup}">
          <a th:href="@{/group/view(groupUid=${vote.parent.uid})}">Back to group</a>
        </h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="grassroot-form">
    <div class="container task-details">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="row detail-row" th:unless="${fromGroup}">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Group</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <p class="description">
                <a th:href="@{/group/view(groupUid=${vote.parent.uid})}" th:text="${vote.parent.name}">Parent name</a></p>
            </div>
          </div>

          <div class="row detail-row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Description</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12" th:unless="${#strings.isEmpty(vote.description)}">
              <p class="description">
                <span th:text="${vote.description}">Description</span>
                <a href="#descriptionModal" data-toggle="modal" data-target="#descriptionModal" th:if="${canModify}">Change description</a>
              </p>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12" th:if="${#strings.isEmpty(vote.description) and canModify}">
              <p class="description">There are no notes for this vote.
                <a href="#descriptionModal" data-toggle="modal" data-target="#descriptionModal">Add a description for it?</a>
                This will be visible to Android and web users.</p>
            </div>
          </div>

          <div class="row detail-row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Closing date and time</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <p class="description">
                <span th:text="${#temporals.format(vote.eventDateTimeAtSAST, 'h:mm a, dd MMMM')}">Date</span>.
                <a th:if="${canModify}" href="#closingTimeModal" data-toggle="modal" data-target="#closingTimeModal">Extend vote.</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row top-buffer task-member-list">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 no-padding">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse">
                    Results
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapse" class="panel=collapse collapse in">
                <table class="table table-responsive" id="resultsTable">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Votes</th>
                      <th>% of votes</th>
                      <th>% of group</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="option: ${voteTotals}">
                      <td><span th:text="${option.key}">Option</span></td>
                      <td><span th:text="${option.value}">X</span></td>
                      <td><span th:text="${#numbers.formatDecimal((option.value * 100.0) / replied, 0, 0)}">X</span>%</td>
                      <td><span th:text="${#numbers.formatDecimal((option.value * 100.0) / possible, 0, 0)}">Y</span>%</td>
                    </tr>
                    <tr>
                      <td>No reply</td>
                      <td><span th:text="${noReply}">X</span></td>
                      <td>N/A</td>
                      <td><span th:text="${#numbers.formatDecimal((noReply * 100.0) / possible, 0, 0)}">X</span>%</td>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td><span th:text="${possible}"></span></td>
                      <td>100%</td>
                      <td>100%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div th:if="${canModify}" class="modal fade" id="closingTimeModal" tabindex="-1" role="dialog" aria-labelledby="changeClosingTimeLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="changeClosingTimeLabel">Change vote closing time</h4>
        </div>
        <form th:action="@{/vote/changedatetime}" method="post">
          <input type="hidden" name="eventUid" th:value="${vote.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <label for="datepicker" class="control-label">When will the vote close?</label>
              <div class="input-group date" id="datepicker">
                <input name="closingDateTime" type="text" class="form-control" />
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal" id="cancel-change">Cancel</button>
            <button type="submit" class="btn default-button">Change</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div th:if="${canModify}" class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="changeDescriptionLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="changeDescriptionLabel">Change vote description</h4>
        </div>
        <form th:action="@{/vote/description}" method="post">
          <input type="hidden" name="eventUid" th:value="${vote.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <p>Add a longer description to the vote (can be seen by smartphone and web users)</p>
              <textarea type="text" class="form-control input-lg" id="description" name="description" th:text="${vote.description}"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button">Change</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/moment.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>

  <script th:inline="javascript">

    $(document).ready(function() {

      $('#datepicker').datetimepicker({
        format: 'DD/MM/YYYY h:mm A',
        minDate: new Date(),
        widgetPositioning: {
          horizontal: 'right'
        },
        sideBySide:true
      });

    });
  </script>

</div>

</body>
</html>