<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layout}">
<head>
  <title>Call meeting</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Call a meeting</h2>
        <h4 class="text-center header-content-subtitle">Specify who, when, where and what</h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="grassroot-form" th:with="groupSpecified=${group != null}">
    <div class="container">
      <div class="row vertical-padding" th:if="${eventsLeft < 5}">
        <div class="alert grassroot-alert alert-warning col-md-8 col-md-offset-2">
          <p class="alert-lg">
            Note: this group has only <span th:text="${eventsLeft}">X</span> meetings left this month.
            <span th:if="${thisGroupPaidFor and accountAdmin}">You can increase the limit by
              <a th:href="@{/account/type}">upgrading your Grassroot
                Extra account.</a></span>
            <span th:if="${not thisGroupPaidFor and accountAdmin}">You can increase the limit by adding this group
              to <a th:href="@{/account}">your Grassroot Extra account.</a></span>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
          <form id="meetingForm" th:object="${meeting}" th:action="@{/meeting/create}" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="group" class="control-label">Who is meeting? Group:</label>
              <select th:unless="${groupSpecified}" name="selectedGroupUid" id="groupSelect" class="form-control input-lg">
                <option th:each="group, iterStat: ${userGroups}"
                        th:value="${group.Uid}"
                        th:text="${group.getName('')}"
                        data:mins="#{web.meeting.reminder.group.__${group.reminderMinutes}__}"
                        data:paidfor="${group.paidFor}">
                  Groupname
                </option>
              </select>
              <input th:if="${groupSpecified}" class="form-control input-lg" readonly="true" th:placeholder="${group.groupName}" id="group" />
              <input th:if="${groupSpecified}" type="hidden" name="selectedGroupUid" th:value="${group.uid}" />
            </div>

            <div class="form-group">
              <label for="name" class="control-label">Meeting subject</label>
              <input th:field="*{title}" type="text" class="form-control input-lg" id="name" placeholder="The topic of the meeting" maxlength="40" data-toggle="tooltip"
              title="Meeting subject may not be longer than 40 characters. " />
            </div>
            <div class="form-group">
              <label for="location" class="control-label input-lg">Meeting location</label>
              <input th:field="*{location}" type="text" class="form-control input-lg" id="location" placeholder="Where the meeting will happen"/>
            </div>

            <div class="form-group">
              <label for="datepicker" class="control-label">Meeting date and time</label>
              <div class="input-group date" id="datepicker">
                <input th:field="*{eventDateTime}" type="text" class="form-control input-lg" />
                <span class="input-group-addon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="control-label">Notes or longer description (optional)</label>
              <textarea th:field="*{description}" class="form-control input-lg" rows="2" maxlength="250"
                        placeholder="Add any additional information about the meeting (at present only Internet or Android users can view)"></textarea>
            </div>

            <div class="form-group">
              <label for="public" class="control-label">Make it public?</label>
              <select th:field="*{publicOption}" class="form-control input-lg" id="public">
                  <option th:each="option : ${T(za.org.grassroot.webapp.enums.EntityPublicOption).values()}"
                          th:value="${option}"
                          th:text="#{web.meeting.public.__${option}__}">
                  </option>
                </select>
              <input type="hidden" th:field="*{latitude}" id="latitude">
              <input type="hidden" th:field="*{longitude}" id="longitude">
            </div>

            <div class="form-group">
              <a data-toggle="collapse" href="#advanced" class="collapse-label">
                Advanced options <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
            </div>

            <div class="collapse" id="advanced">

              <div class="form-group">
                <label class="control-label">Reminder:</label>
                <select th:field="*{reminderType}" class="form-control input-lg" id="reminderType">
                  <option value="DISABLED">None</option>
                  <option th:if="${groupSpecified}" value="GROUP_CONFIGURED" selected="true">
                    Group default (<span th:text="#{web.meeting.reminder.group.__${group.reminderMinutes}__}">X</span> ahead)
                  </option>
                  <option th:unless="${groupSpecified}" value="GROUP_CONFIGURED" id="groupOption">
                    Group default (<span id="groupReminderTime">X ahead</span>)
                  </option>
                  <option value="CUSTOM">Set custom</option>
                </select>
                <div class="radio" id="customReminder">
                    <label class="radio-inline" th:each="option, iterStat : ${reminderOptions}">
                      <input type="radio" th:field="*{customReminderMinutes}" th:value="${option[0]}" />
                      <span th:text="${option[1]}" >No reminder</span>
                    </label>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label">Image (optional):</label>
                <input class="form-control input-lg" type="file" accept="image/*" th:field="*{meetingImage}" />
              </div>

              <!-- todo : restore check on groupSpecified later once found bug source -->
              <div class="form-group" th:if="${thisGroupPaidFor}">
                <label class="control-label">Importance:</label>
                <select th:field="*{importance}" class="form-control input-lg" id="importance">
                  <option th:each="option : ${T(za.org.grassroot.core.enums.MeetingImportance).values()}"
                      th:value="${option}"
                      th:text="#{web.meeting.importance.__${option}__}"
                      th:selected="${option == 'ORDINARY'}">
                  </option>
                </select>
              </div>

              <div th:replace="~{fragments :: member-picker(messageKey='web.meeting.create.memberpick')}"></div>

            </div>

            <div class="form-group pull-right top-buffer">
              <a th:if="${groupSpecified}"
                 th:href="@{/group/view(groupUid=${group.Uid})}" role="button" class="btn default-button btn-neutral">Cancel</a>
              <a th:if="${not groupSpecified}"
                 th:href="@{/home}" role="button" class="btn default-button btn-neutral">Cancel</a>
              <button type="submit" class="btn default-button">Call meeting</button>
            </div>

            <div th:replace="~{fragments :: member-picker-modal}"></div>

        </form>
        </div>
      </div>
    </div>

  </section>

</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/moment.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>
  <script th:src="@{/js/lib/jquery.validate.min.js}"></script>

  <script th:replace="~{fragments :: member-picker-script(parentType='GROUP', selectByDefault=true)}"></script>

  <script>

      var groupSelect = $("#groupSelect");
      var importanceSel = $("#importance");
      var publicSel = $("#public");

      $(document).ready(function() {

        var defTime = new Date();
        defTime.setTime(defTime.getTime() + 5*60*1000);

        var mainForm = $("#meetingForm");
        var reminderSelector = $("#reminderType");
        var customReminder = $("#customReminder");

        $('#datepicker').datetimepicker({
          format: 'DD/MM/YYYY h:mm A',
          widgetPositioning: {
            horizontal: 'right'
          },
          sideBySide:true,
          minDate: defTime
        });

        reminderSelector.changeGroupMinutes();

        if (groupSelect.length > 0) {
            toggleImportanceSelect();
        }

        groupSelect.change(function() {
          $("#reminderType").changeGroupMinutes();
          toggleImportanceSelect()
        });

        publicSel.change(function() {
            if (publicSel.val() === "PUBLIC_GET_GPS") {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        console.log("latitude: " + position.coords.latitude);
                        console.log("longitude: " + position.coords.longitude);
                        $("#latitude").val(position.coords.latitude);
                        $("#longitude").val(position.coords.longitude);
                    });
                } else {
                    console.log("Geolocation is not supported");
                }
            }
        });

        customReminder.hide();
        reminderSelector.change(function() {
          var selected = $("#reminderType option:selected").val();
          console.log("Selected option: " + selected);
          if (selected === "CUSTOM") {
            customReminder.show();
          } else {
            customReminder.hide();
          }
        });

        mainForm.validate({
            errorClass: 'error-text',
            rules: {
                title: {
                    required: true,
                    minlength: 2,
                    maxlength: 40
                },
                location: {
                    required: true
                }
            }, messages: {
                title: 'Please enter a meeting subject (less than 40 characters)',
                location: 'Please enter where the meeting will be held'
            }
        });

    });

    function toggleImportanceSelect() {
        var paidFor = groupSelect.find(':selected').data('paidfor');
        if (!paidFor) {
            importanceSel.val("ORDINARY");
            importanceSel.attr("disabled", true);
        } else {
            importanceSel.attr("disabled", false);
        }
    }

    jQuery.fn.extend({
      changeGroupMinutes: function() {
        var groupSelected = $("#groupSelect option:selected").data("mins");
        var text = "Group default (" + groupSelected + ")"; // todo: i18n at some point
        $(this).find("#groupOption").text(text);
      }
    });

  </script>

</div>

</body>
</html>