<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Meeting</title>
</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center">
          <p class="group-title">Meeting: </p><p class="group-name" th:text="${meeting.name}">Meeting</p>
        </h2>
        <h4 class="text-center header-content-subtitle" th:if="${fromGroup}">
          <a th:href="@{/group/view(groupUid=${parentUid})}">Back to group</a>
        </h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section th:if="${canAlterDetails}" class="task-buttons">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
          <div class="button-group text-center">
            <button type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#changeReminder">Change reminder time</button>
            <button type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#dateTimeChange">Change date, time or location</button>
            <button type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#cancelMeeting">Cancel meeting</button>
            <!-- todo : put this back when do implementation of event/logbook chaining -->
            <!-- <a th:href="@{/to-do/create/meeting(meetingUid=${meeting.uid})}"><button type="button" class="btn btn-default">Create meeting to-do</button></a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="dateTimeChange" tabindex="-1" role="dialog" aria-labelledby="changeDetailsLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="changeDetailsLabel">Change meeting details</h4>
          </div>
          <form th:action="@{/meeting/modify}" method="post">
            <input type="hidden" name="eventUid" th:value="${meeting.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label for="meeting-location" class="control-label">Location:</label>
                <input type="text" class="form-control" id="meeting-location" name="location" th:value="${meeting.eventLocation}"/>
              </div>
              <div class="form-group top-buffer">
                <label for="datepicker" class="control-label">Revised date and time:</label>
                <div class="input-group date" id="datepicker">
                  <input name="eventDateTime" type="text" class="form-control" />
                  <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <p class="mark" id="confirm-footer-text">Are you sure? Clicking 'yes' will send a message to
                <span th:text="${responseTotals.numberOfUsers}">X</span> members.</p>
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal" id="cancel-change">Cancel</button>
              <button type="button" class="btn default-button" id="change-meeting">Change</button>
              <button type="submit" class="btn default-button" id="confirm-change">Confirm</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- todo: link this up to number of reminders / number reminders left, so it doesn't appear if exhausted -->
    <div class="modal fade" id="changeReminder" tabindex="-1" role="dialog" aria-labelledby="changeReminderLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="changeReminderLabel">Changed scheduled reminder</h4>
          </div>
          <form th:action="@{/meeting/reminder}" method="post">
            <input type="hidden" name="eventUid" th:value="${meeting.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <p th:unless="${#strings.equals(meeting.getReminderType(), 'DISABLED')}">The reminder
                  will currently be sent out at <span th:text="${#temporals.format(scheduledReminderTime, 'EEE, dd/MM ''at'' HH:mm')}"></span>.
                  What would you like to change it to?</p>
                <p th:if="${#strings.equals(meeting.getReminderType(), 'DISABLED')}">
                  No reminder is set. How would you like to set it?</p>
                <select name="reminderType" class="form-control" id="reminderType">
                  <option value="DISABLED" th:selected="${#strings.equals(meeting.getReminderType(), 'DISABLED')}">None</option>
                  <option value="GROUP_CONFIGURED" th:selected="${#strings.equals(meeting.getReminderType(), 'GROUP_CONFIGURED')}">
                    Group default (<span th:text="#{web.meeting.reminder.group.__${meeting.ancestorGroup.reminderMinutes}__}">X</span> ahead)
                  </option>
                  <option value="CUSTOM" th:selected="${#strings.equals(meeting.getReminderType(), 'CUSTOM')}">Set custom</option>
                </select>
                <div class="radio pull-right" id="customReminder">
                  <label class="radio-inline" th:each="option, iterStat : ${customReminderOptions}">
                    <input type="radio" name="custom_minutes" th:value="${option[0]}"
                           th:checked="${#strings.equals(meeting.customReminderMinutes.toString(), option[0])}"/>
                    <span th:text="${option[1]}" >No reminder</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button btn-positive">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="cancelMeeting" tabindex="-1" role="dialog" aria-labelledby="cancelLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="cancelLabel">Cancel meeting</h4>
          </div>
          <form th:action="@{/meeting/cancel}" method="post">
            <input type="hidden" name="eventUid" th:value="${meeting.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label">Are you sure? Cancelling a meeting cannot be undone.</label>
                <p class="small">This will send a cancellation message to
                  <span th:text="${responseTotals.numberOfUsers}">X</span> members</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">No, don't cancel</button>
              <button type="submit" class="btn default-button btn-negative">Yes, confirm cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>


  <section class="grassroot-form">
    <div class="container task-details">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="row detail-row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Subject</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <p class="description" th:text="${meeting.name}"></p>
            </div>
          </div>
          <div class="row detail-row" th:unless="${fromGroup}">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Group</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <p class="description">
                <a th:href="@{/group/view(groupUid=${parentUid})}" th:text="${meeting.parent.name}">Parent name</a></p>
            </div>
          </div>
          <div class="row detail-row" th:if="${meetingImages > 0}">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Images</label>
            </div>
            <div class="col-md-9 col-sm-4 col-xs-12">
              <p class="description">
                <a th:href="@{/task/gallery(taskUid=${meeting.uid},taskType='MEETING')}"
                   th:text="#{web.meeting.images.count(${meetingImages})}">Number of images</a>
              </p>
            </div>
          </div>
          <div class="row detail-row" th:unless="${#strings.isEmpty(meeting.description) and not canAlterDetails}">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Notes</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12" th:unless="${#strings.isEmpty(meeting.description)}">
              <p class="description">
                <span th:text="${meeting.description}">Description</span>
                <a href="#descriptionModal" data-toggle="modal" data-target="#descriptionModal" th:if="${canAlterDetails}">Change description</a>
              </p>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12" th:if="${#strings.isEmpty(meeting.description) and canAlterDetails}">
              <p class="description">There are no notes for this meeting.
                <a href="#descriptionModal" data-toggle="modal" data-target="#descriptionModal">Add a description?</a>
                This will be visible to Android and web users.</p>
            </div>
          </div>
          <div class="row detail-row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Date and time</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <p class="description">
                <!-- todo : link to Google / Outlook calendar & change reminder date/time syntax -->
                Meeting will be held on <span th:text="${#temporals.format(meeting.eventDateTimeAtSAST, 'h:mm a, dd MMMM')}">Date</span>.
              </p>
              <p class="description" th:unless="${#strings.equals(meeting.getReminderType(), 'DISABLED')}">
                Reminders will be sent on <span th:text="${#temporals.format(meeting.scheduledReminderTimeAtSAST, 'h:mm a, dd MMMM')}">date 2</span>.
              </p>
            </div>
          </div>
          <div class="row detail-row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Location</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <p class="description">
                <a class="external" th:href="@{http://maps.google.com/(q=${meeting.eventLocation})}" th:text="${meeting.eventLocation}"></a>
              </p>
            </div>
          </div>
          <div class="row detail-row">
            <div class="col-md-3 col-sm-4 col-xs-12">
              <label class="grassroot-sidebar">Invites</label>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
              <p class="description"><span th:text="${responseTotals.numberOfUsers}">3</span> people invited.
                <span th:text="${responseTotals.yes}">X</span> have confirmed as attending</p>.
              <a href="#memberModal" data-toggle="modal" data-target="#memberModal" th:if="${canAlterDetails}">Change invitations</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row top-buffer task-member-list" th:if="${meeting.rsvpRequired and canViewRsvps}">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 no-padding">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse2">
                    Attendance
                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse in">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Member name</th>
                    <th>Phone number</th>
                    <th>Response</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="status : ${rsvpResponses}">
                    <td><span th:text="${status.key.nameToDisplay()}">Member name</span></td>
                    <td><span th:text="${status.key.nationalNumber}">Phone number</span></td>
                    <td><span th:text="${status.value.getReadableString()}">Response</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Meeting description modal -->
    <div th:if="${canAlterDetails}" class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="descriptionModalLabel">Change description</h4>
          </div>
          <form th:action="@{/meeting/description}" method="post">
            <input type="hidden" name="eventUid" th:value="${meeting.uid}" />
            <div class="modal-body">
              <div class="form-group">
                <label for="meetingDescription" class="control-label">Set a description for the meeting (one to three sentences):</label>
              </div>
              <div class="form-group">
              <textarea name="meetingDescription" th:text="${meeting.description}" id="meetingDescription" class="form-control input-lg" rows="2" maxlength="250">
              </textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div th:if="${canAlterDetails}" class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button id="dismissMemberModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="memberModalLabel">Change invitations</h4>
          </div>
          <form th:action="@{assignment}" th:object="${memberPicker}" method="post">
            <input type="hidden" name="eventUid" th:value="${meeting.uid}" />
            <div class="modal-body">
              <div class="list-group checked-list-box">
                <li class="list-group-item" th:each="member, iterStat: *{listOfMembers}">
                  <label>
                    <input type="checkbox" th:field="*{listOfMembers[__${iterStat.index}__].selected}" class="list-checkbox"/>
                    <input type="hidden" th:field="*{listOfMembers[__${iterStat.index}__].userUid}" />
                    <span th:text="${member.nameToDisplay}" class="list-checkbox-label">Name</span>
                  </label>
                </li>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn default-button">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </section>

</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/moment.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>

  <script th:inline="javascript">

    $(document).ready(function() {

      $('#dateTimeChange').on('show.bs.modal', function (event) {
        $('#confirm-change').hide();
        $('#confirm-footer-text').hide();

        $('#change-meeting').click(function() {
          $(this).hide();
          $('#confirm-footer-text').show();
          $('#confirm-change').show();
        });

        $('#cancel-change').click(function() {
          $('#change-meeting').show();
          $('#confirm-footer-text').hide();
          $('#confirm-change').hide();
        });
      });

      $('#datepicker').datetimepicker({
        format: 'DD/MM/YYYY h:mm A',
        defaultDate: /*[[${#temporals.formatISO(meeting.eventDateTimeAtSAST)}]]*/,
        // minDate: new Date(),
        widgetPositioning: {
          horizontal: 'right'
        },
        sideBySide:true
      });

      $('#changeReminder').on('show.bs.modal', function (event) {
        var selected = $("#reminderType option:selected").val();
        $("#customReminder").toggle(selected == "CUSTOM");

        $('#reminderType').change(function() {
          var selected = $("#reminderType option:selected").val();
          $("#customReminder").toggle(selected == "CUSTOM");
        });

      });

    });
  </script>

</div>

</body>
</html>