.alert-top-buttons {
	margin-top: 10px;

	button {
		width: 100%;
		padding: 10px 0;
	}

	& > div > div {
		padding: 1px;
	}
}
.back-to-alerts {
  background-color: $green;
  border-radius: 0;
  border: none;
  color: $white;
  display: block;
  font-size: 1.1em;
  margin: 0 auto;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color, .3s;
  width: 100%;

  i {
  	margin-right: 15px;
  }

  &:hover,
  &:active,
  &:focus {
  	background-color: $darker-green;
  	color: $white;
  	text-decoration: none;
  }
}

.task-buttons {
    margin-bottom: 20px;
}

.task-details .detail-row {
    border-bottom: 1px solid #489665;
    margin-top: 20px;
    padding-bottom: 20px;
}

.grassroot-sidebar {
	font-size: 18pt;
    color: #3B944F;
    font-weight: bold;
}

.task-details .description {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	margin-top: 5px;
}

