/* For create group page (and some modification pages) */

.inline-field {

  label {
    color: $green;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  label,
  input,
  select,
  button {
    display: block;
    width: 100%;
  }

  input,
  select,
  button {
    min-height: 44px;
    margin-bottom: 20px;
  }

  i {
    color: $light-green;
    font-size: 2em;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10px;
    cursor: pointer;
  }

  .error-text {
    color: $red;
    text-transform: none;
    font-weight:400;
    font-size: 1.2em;
    margin-top: 10px;
  }

}

.input-block {

  label {
    color: $green;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3em;
  }

  .error-text {
    color: $red;
    text-transform: none;
    font-weight:400;
    font-size: 1.2em;
    margin-top: 10px;
  }

}

.checkbox-block {

  label {
    color: $green;
    font-weight: 500;
    font-size: 1.3em;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  span {
    margin-left: 8px;
  }

}