.home-groups {
  margin-top: 10px;
  
  .list-group-item {
    border: none;
    
    &:nth-child(even) {
      background-color: #F2F2F2;
    }
    
    &:first-child,
    &:last-child {
      border-radius: 0;
    }
  }
}

.join-requests {
  margin-top: 30px;

  ul {
    border: none;
    border-radius: 0;
  }

  li {
    border-bottom: 1px solid $green;
    border-left: 0;
    border-radius: 0 !important;
    border-right: 0;
    border-top: 0;
    margin-bottom: 5px;
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .request-item {
    display: inline-block;
  }

}

.upcoming-events {
  margin-top: 30px;
  
  ul {
    border: none;
    border-radius: 0;
  }

  li {
    border-bottom: 1px solid $green;
    border-left: 0;
    border-radius: 0 !important;
    border-right: 0;
    border-top: 0;
    margin-bottom: 5px;
    padding-bottom: 18px;
    padding-top: 27px;
  }

  .event-item {
    display: inline-block;
  }
}

.upcoming-events,
.join-requests {
  .response-buttons {
    display: inline-block;
    float: right;

    a {
      background-color: $green;
      border-radius: 0;
      border: none;
      color: $white;
      font-family: 'Helvetica', sans-serif;
      font-weight: 300;
      letter-spacing: 0.02em;
      margin-top: 2px;
      padding: 10px 18px;
      transition: background-color, .3s;

      &:hover,
      &:focus,
      &:active {
        background-color: $darker-green;
      }

      &.negative {
        background-color: $orange;
      }
    }

    button {
      border: 1px solid #DDDDDD;
      background-color: $offwhite;
      border-radius: 0;
      color: $dark-text;
      font-family: 'Helvetica', sans-serif;
      font-weight: 400;
      letter-spacing: 0.02em;
      margin-top: 2px;
      padding: 10px 18px;
      transition: background-color, .3s;

      &:hover,
      &:focus,
      &:active {
        background-color: #DDDDDD;
      }
    }

    i {
      margin-right: 10px
    }
  }
}

.join-requests,
.upcoming-events,
.home-groups {
  .panel {
    box-shadow: none;
  }

  .panel-group .panel {
    border-radius: 0 !important;
  }

  .panel-title a i {
    position: absolute;
    right: 6px;
  }
  
  .panel-title > a,
  .panel-title > small,
  .panel-title > .small,
  .panel-title > small > a,
  .panel-title > .small > a {
    font-weight: 400;
    color: $green;
    
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}