/* Recovery Password Page */

#msform fieldset {
  border-radius: 0;
  border: 0 none;
  box-sizing: border-box;
  width: 100%;
  
  /*stacking fieldsets above each other*/
  padding: 0 0 0 18px;
  position: absolute;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input, #msform textarea {
  width: 99.5%;
}

/*buttons*/
#msform .action-button {
  background: $green;
  border-radius: 0;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px 5px;
  width: 49%;

  &:last-child {
    margin-left: 1%;
  }
}

#msform .action-button:hover, #msform .action-button:focus {
  background: $green;
}

.fs-title {
  color: #2C3E50;
  font-size: 1.05em;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.fs-subtitle {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 5px;
}

/*progressbar*/
#progressbar {
  counter-reset: step;
  padding-bottom: 60px;
  padding: 0 0 0 18px;
}

.step-form-wrapper {
  padding-top: 60px;
  position: relative;
}

#progressbar li {
  background-color: #CCCCCC;
  color: #808080;
  float: left;
  list-style-type: none;
  padding: 12px 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 33.33%;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
}

/*progressbar connectors*/
#progressbar li:after {
  background: white;
  content: '';
  height: 2px;
  left: -50%;
  position: absolute;
  top: 9px;
  width: 100%;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}

#progressbar li.active {
  background-color: $green;
  color: rgba(255,255,255,.85);
}

.previous-disabled {
  background-color: #CCC !important;
  border: 1px solid #CCC !important;
  color: #808080 !important;
}

#error-label a {
  color: inherit;
  text-decoration: underline;
}

#sendVerification {
  color: $green;
  display: block;
  margin-bottom: -30px;
  margin-top: 30px;
  
  &:active,
  &:focus,
  &:hover {
    color: $darker-green;
    cursor: pointer;
  }
}
