.alert-list .select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa no-repeat 90% 50%;
    color: black;
    margin-right: 10px;
}

.alert-list .panel-group .panel {
  border-radius: 0 !important;
}

.alert-list .panel {
  box-shadow: none;
}

.alert-list .panel-default > .panel-heading {
  background-color: #1A7C3E;
  border-radius: 0;
  color: #fff;
}

.alert-list .panel-default > .panel-heading {
  color: #fff;
}

.alert-list form {
  display: inline;
}

.alert-margin {
  margin-top: 7px;
}


/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.custom-dropdown select {
  background-color: #6ea47d;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
}
/*Hiding the select arrow for IE10*/
.custom-dropdown select::-ms-expand {
  display: none;
}
.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}
.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}
.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,.2);
}
.custom-dropdown::after {
  color: rgba(255,255,255,.9);
}
.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.25);
}