<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
    <title>Grassroot Platform</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.charts.load('visualization', {packages: ['table', 'map']});
    </script>
</head>

<body>

<div layout:fragment="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <h2 class="text-center">Geostats</h2>
                <h4 class="text-center header-content-subtitle">
                    <a th:href="@{trigger/groups}">Trigger group calcs</a> |
                    <a th:href="@{trigger/users}">Trigger user calcs</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="content">
    <!-- Central text header -->
    <div class="well">
        <div class="row">
            <h1>GeoLocation stats</h1>

            <div id="table"></div>
            <h1>User Distribution</h1>
            <div id="user_dist"></div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                function drawTable() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', '');
                    data.addColumn('number', 'Geo Data');
                    data.addColumn('number', 'No Geo Data');
                    data.addRows(2);
                    data.setCell(0, 0, 'Groups');
                    data.setCell(0, 1, /*[[${geoStats.get('totalGroupsWithGeoData')}]]*/0);
                    data.setCell(0, 2, /*[[${geoStats.get('totalGroupsWithoutGeoData')}]]*/0);
                    data.setCell(1, 0, 'Users');
                    data.setCell(1, 1, /*[[${geoStats.get('totalUsersWithGeoData')}]]*/0);
                    data.setCell(1, 2, /*[[${geoStats.get('totalUsersWithoutGeoData')}]]*/0);
                    var options = {
                        showRowNumber: false,
                        width: '100%',
                        height: '100%'
                    };
                    var table = new google.visualization.Table(document.getElementById('table'));
                    table.draw(data, options);
                }
                function drawMap() {
                    var locations = [[${userLocations}]];
                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'Lat');
                    data.addColumn('number', 'Long');
                    console.log(locations);
                    for (i = 0; i < locations.length; i++) {
                        console.log(locations[i]);
                        console.log(locations[i].location.latitude);
                        data.addRow([locations[i].location.latitude, locations[i].location.longitude]);
                    }
                    var map = new google.visualization.Map(document.getElementById('user_dist'));
                    map.draw(data, {showTip: true});
                }
                google.charts.setOnLoadCallback(drawTable);
                google.charts.setOnLoadCallback(drawMap);
                /*]]>*/
            </script>

            <script th:inline="javascript"
                    type="text/javascript"
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTOpvEVWiDrYreCljbpxA1pyAW99YBCOY&amp;callback=drawMap"
                    async="async" defer="defer"/>
        </div>
    </div>
</div>
</body>
</html>