<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Grassroot Platform</title>

    <meta property="og:title" content="grassroot.org.za"/>
    <meta property="og:image" content="/img/grass.png"/>
    <meta property="og:description" content="The Grassroot Platform."/>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.charts.load('visualization', {packages: ['table']});
    </script>

</head>

<body>

<div layout:fragment="header">
    <h2 class="text-center">Grassroot Analysis: Keyword Table</h2>
</div>

<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <div class="well">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="table"></div>
                <script th:inline="javascript">
                    /*<![CDATA[*/

                    function drawTable() {

                        var keyWords = [[${frequentWords}]];
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Keyword');
                        data.addColumn('number', 'Group name');
                        data.addColumn('number', 'Meetings');
                        data.addColumn('number', 'Votes');
                        data.addColumn('number', 'Actions');
                        data.addColumn('number', 'Total');
                        console.log(keyWords);

                        for (i = 0; i < keyWords.length; i++) {
                            data.addRow([keyWords[i].keyword,keyWords[i].groupNameCount, keyWords[i].meetingNameCount, keyWords[i].voteNameCount,keyWords[i].todoCount, keyWords[i].totalOccurence]);
                        }
                        var options = {
                            showRowNumber: false,
                            width: '100%',
                            height: '100%'
                        };
                        var table = new google.visualization.Table(document.getElementById('table'));
                        table.draw(data, options);
                    }

                    google.charts.setOnLoadCallback(drawTable);

                    /*]]>*/
                </script>

                <style>
                    .google-visualization-table-td-number {
                        text-align: center !important;
                    }
                </style>
            </div>
        </div>
    </div>
</div>

</body>
</html>