<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - Call a meeting</title>
<script>



</script>
</head>
<body>

<div layout:fragment="header">
  <h2>Call a meeting</h2>
</div>
<div layout:fragment="overview">Call a meeting by specifying subject, time, place</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <form th:object="${meeting}" th:action="@{/meeting/create}" method="post" autocomplete="off" class="form-horizontal">
      <input th:field="*{id}" type="hidden" />
      <div class="form-group">
        <label for="group" class="col-md-2 control-label">Meeting group</label>
        <div th:switch="${groupSpecified}" class="col-md-4">
          <div th:case="false" class="">
            <select name="selectedGroupId" id="selectedgroup" class="form-control">
              <option th:each="group: ${userGroups}"
                      th:value="${group.id}"
                      th:text="${group.groupName}">Groupname</option>
            </select>
          </div>
          <div th:case="true" class="col-md-4">
            <span th:text="${group.groupName}" id="group">Group name</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-md-2 control-label">Meeting subject</label>
        <div class="col-md-4">
          <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="The topic of the meeting" />
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="col-md-2 control-label">Meeting location</label>
        <div class="col-md-4">
          <input th:field="*{eventLocation}" type="text" class="form-control" id="location" placeholder="Where the meeting will happen"/>
        </div>
      </div>
      <div class="form-group">
        <div th:fragment="date-picker">
          <label for="datepicker" class="col-md-2 control-label">Meeting date and time</label>
          <div class="col-md-4">
            <div class="input-group date" id="datepicker">
              <input th:field="*{eventStartDateTime}" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Reminder timing:</label>
        <div class="col-md-4">
          <span th:each="option, iterStat : ${reminderOptions}">
            <input type="radio" th:field="*{reminderMinutes}" th:value="${option[0]}" />
            <label th:for="${#ids.prev('reminderMinutes')}" th:text="${option[1]}">No reminder</label>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="rsvp" class="col-md-2 control-label">Ask members if they will attend (RSVP)?</label>
        <div class="col-md-4">
          <input th:field="*{rsvpRequired}" type="checkbox" id="rsvp" class="form-control" th:checked="${true}" />
        </div>
      </div>

      <div class="form-group">
        <label for="subgroups" class="col-md-2 control-label">Include sub-groups?</label>
        <div class="col-md-4">
          <input th:field="*{includeSubGroups}" type="checkbox" id="subgroups" class="form-control"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary">Call meeting</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="header-container" layout:fragment="script-container">
  <script>

    $(document).ready(function() {

      $('#datepicker').datetimepicker({
        format: 'DD/MM/YYYY h:mm A',
        widgetPositioning: {
          horizontal: 'right'
        },
        sideBySide:true,
        minDate: new Date()
      });

    });
  </script>

</div>

</body>
</html>