<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - Call a meeting</title>
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css"/>

  <!-- Using the jQuery UI datepicker, because it seems a bit more supported and robust than various Bootstrap plugins,
albeit on a cursory glance -->
<script>

  $( document ).ready(function() {
    $( "#datepicker" ).simpleMask({
      nextInput : true,
      'mask': ['####-##-## ##:##','####-##-## ##:##']
      });
  });

</script>
</head>
<body>

<div layout:fragment="header">
  <h2>Call a meeting</h2>
</div>
<div layout:fragment="overview">Call a meeting by specifying subject, time, place</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <form th:object="${meeting}" th:action="@{/meeting/create}" method="post" autocomplete="off" class="form-horizontal">
      <input th:field="*{id}" type="hidden" />
      <div class="form-group">
        <label for="group" class="col-md-2 control-label">Meeting group</label>
        <div th:switch="${groupSpecified}" class="col-md-4">
          <div th:case="false" class="col-md-4">
            <select th:field="*{appliesToGroup}" id="group">
              <option th:each="group: ${userGroups}"
                      th:value="${group}"
                      th:text="${group.groupName}">Groupname</option>
            </select>
          </div>
          <div th:case="true" class="col-md-4">
            <span th:text="${group.groupName}" id="group">Group name</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="col-md-2 control-label">Meeting subject</label>
        <div class="col-md-4">
          <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="The topic of the meeting" />
        </div>
      </div>
      <div class="form-group">
        <label for="location" class="col-md-2 control-label">Meeting location</label>
        <div class="col-md-4">
          <input th:field="*{eventLocation}" type="text" class="form-control" id="location" placeholder="Where the meeting will happen"/>
        </div>
      </div>
      <div class="form-group">
        <div th:fragment="date-picker">
          <label for="datepicker" class="col-md-2 control-label">Meeting date and time</label>
          <div class="col-md-4">
            <input th:field="*{dateTimeString}" type="text" class="form-control" id="datepicker" placeholder="YYYY-MM-DD HH:MM"/>
          </div>
        </div>
      </div>
      <!-- Was an attempt to use combodate (http://vitalets.github.io/combodate/) for this, but didn't work -->
      <!-- <div class="form-group">
        <label for="time" class="col-md-2 control-label">Meeting time</label>
        <div class="col-md-4">
          <input id="time" data-format="DD-MM-YYYY h:mm a" data-template="DD / MM / YYYY hh : mm a" name="datetime" value="21-12-2012 8:30 pm" type="text" />
        </div>
      </div> -->
      <div class="form-group">
        <label for="subgroups" class="col-md-2 control-label">Include sub-groups?</label>
        <div class="col-md-4">
          <input th:field="*{includeSubGroups}" type="checkbox" id="subgroups" class="form-control"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary">Call meeting</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>