<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - View Meeting</title>
</head>
<body>

<div layout:fragment="header">
  <h2>Meeting: <span  th:text="${meeting.name}">Meeting</span></h2>
</div>
<div layout:fragment="overview">Meeting details and change or cancellation requests</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="well">
    <div class="row">
      <span th:text="${meeting.appliesToGroup.groupMembers.size()}">X</span> members have been invited.
      <span th:if="${meeting.rsvpRequired}">So far, <span th:text="${rsvpYesTotal}">X</span> people have said 'yes'.</span>
    </div>
    <div class="row">
      <form th:action="@{/meeting/modify}" th:object="${meeting}" method="post">
        <input type="hidden" th:field="*{id}" th:value="${meeting.id}" />
        <!-- Note: for now, we are not allowing modifications of RSVP and subgroup, to avoid clutter, given limited use case -->
        <input type="hidden" th:field="*{rsvpRequired}" th:value="${meeting.rsvpRequired}" />
        <input type="hidden" th:field="*{includeSubGroups}" th:value="${meeting.includeSubGroups}" />
        <div class="row form-group">
          <label for="meetingName" class="col-lg-2 control-label">Subject:</label>
          <div class="col-lg-6">
            <input type="text" id="meetingName" th:field="*{name}" th:value="${meeting.name}" />
          </div>
        </div>
        <div class="row form-group">
          <label for="location" class="col-lg-2 control-label">Location:</label>
          <div class="col-lg-6">
            <input type="text" id="location" th:field="*{eventLocation}" th:value="${meeting.eventLocation}" />
          </div>
        </div>
        <div class="row form-group">
          <label for="datepicker" class="col-lg-2 control-label">Date and time:</label>
          <div class="col-lg-6">
            <div class="input-group date" id="datepicker">
              <input th:field="*{eventStartDateTime}" th:value="${meeting.eventStartDateTime}" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <!-- todo: add a confirmation screen for cancellation and update -->
          <div class="col-lg-4">
            <button type="submit" name="modify" class="btn btn-primary">Update this meeting</button>
          </div>
          <div class="col-lg-4">
            <button type="submit" name="reminder" class="btn btn-warning">Send a reminder</button>
          </div>
          <div class="col-lg-4">
            <button type="submit" name="cancel" class="btn btn-danger">Cancel this meeting</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<div class="header-container" layout:fragment="script-container">
  <script>

    $(document).ready(function() {

      $('#datepicker').datetimepicker({
        format: 'DD/MM/YYYY h:mm A',
        defaultDate: "${meeting.eventStartDateTime}"
        widgetPositioning: {
          horizontal: 'right'
        },
        sideBySide:true,
        minDate: new Date()
      });

    });
  </script>

</div>

</body>
</html>