<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - Confirm meeting reminder</title>
</head>
<body>

<div layout:fragment="header">
  <h2>Send message?</h2>
</div>

<div layout:fragment="overview">Confirm sending message</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <div class="row">
      <div class="col-lg-12">
        <h4>The following (exact) message will be sent out:</h4>
      </div>
      <div class="row">
        <div class="col-lg-8 info">
          <h3 class="bg-primary"><blockquote>"<span th:text="${message}">Message</span>"</blockquote></h3>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-8">
        <h4>It will be sent to <span th:text="${recipients}">X</span> people, at a cost of R <span th:text="${cost}"></span></h4>.
      </div>
    </div> -->
    <div class="row">
      <form th:action="@{${action}}" method="post" class="form-horizontal col-lg-8">
        <input type="hidden" name="entityId" th:value="${entityId}" />
        <!-- Neither of the following two are used by reminders, so could be in th:switch statement, but seems no harm not to -->
        <input type="hidden" name="includeSubGroups" th:value="${includeSubGroups}" />
        <input type="hidden" name="message" th:value="${message}" />
        <div class="form-group">
          <div class="col-lg-4">
            <button id="submitButton" type="submit" class="btn btn-primary" name="confirmed">Confirm</button>
            <a href="" th:href="@{/home}"><button class="btn btn-warning">Cancel</button></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>