<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>Grassroot - Search for groups</title>
</head>
<body>

<div layout:fragment="header">
  <h2 class="text-center">Confirm group</h2>
</div>

<div layout:fragment="overview">
  <h4 class="text-center">Confirm group to designate</h4>
</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>
  <div class="well">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form th:action="@{designate}" method="post" autocomplete="off" class="form-vertical">

          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <div th:switch="${tokenSearch}">

            <div th:case="true">
              <div th:switch="${groupFound == null}">
                <div th:case="true">
                  <div class="form-group">
                    Sorry, didn't find any group!
                  </div>
                  <div class="form-group">
                    <a th:href="@{/accounts/group/designate(accountUid=${account.uid})}">Go back</a>
                  </div>
                </div>

                <div th:case="false">
                  <input type="hidden" name="groupUid" th:value="${groupFound.uid}" />
                  Found the group: <span th:text="${groupFound.groupName}">group name</span>. Correct?
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Confirmed</button>
                </div>
              </div>
            </div>

            <div th:case="false">
              <div th:switch="${#lists.isEmpty(groupCandidates)}">

                <div th:case="true">
                  <div class="form-group">
                  Sorry, didn't find any group!
                  </div>
                  <div class="form-group">
                    <a th:href="@{/accounts/group/designate(accountUid=${account.uid})}">Go back</a>
                  </div>
                </div>

                <div th:case="false">
                  <div class="form-group">
                    <label for="groupSelector" class="control-label">Group:</label>
                    <select name="groupUid" id="groupSelector" class="form-control">
                      <option th:each="group : ${groupCandidates}"
                              th:value="${group.uid}"
                              th:text="${group.getName('')}">
                      </option>
                    </select>
                  </div>
                  <div class="form-group pull-right">
                    <a class="btn btn-default" th:href="@{/accounts/group/designate(accountId=${account.id})}">Back</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>