<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="layout">

<head>
  <meta charset="UTF-8">
  <title>Grassroot - Sign up for account</title>
</head>

<body>

  <div layout:fragment="header">
    <h2 class="text-center">Sign up for account</h2>
  </div>

  <div layout:fragment="overview">
    <h4 class="text-center">Set up a paid account to unlock additional features</h4>
  </div>

  <div layout:fragment="content">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form th:action="@{create}" class="form-vertical">
          <div class="form-group">
            <label for="account_name" class="control-label">1. Account name</label>
            <input type="text" id="account_name" name="accountName" class="form-control input-lg"
              th:placeholder="#{web.account.signup.default(${user.displayName})}" />
          </div>
          <div class="form-group">
            <label for="account_type" class="control-label">2. Account type</label>
            <select id="account_type" name="accountType" class="form-control input-lg">
              <option th:each="type: ${accountTypes}"
                      th:text="#{web.account.signup.__${type}__}"
                      th:value="${type}"></option>
            </select>
          </div>
          <div class="form-group">
            <label for="billing_email" class="control-label">3. Billing email</label>
            <input type="text" id="billing_email" name="billingEmail" class="form-control input-lg" />
          </div>
          <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary btn-block btn-cta">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>