<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
  <meta charset="UTF-8" />
  <title>Grassroot: Viewing Account</title>
</head>

<body>

<div layout:fragment="header">
  <h2 class="text-center"><span th:text="${account.accountName}">account name</span></h2>
</div>

<div layout:fragment="overview">
  <h4 class="text-center">Manage account groups, track records, add and remove groups</h4>
</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="well">

    <div class="row">
      <div class="col-md-12 text-center">
        <a th:href="@{/accounts/group/designate(accountUid=${account.uid})}">
          <button class="btn btn-default">Add a group to this account</button>
        </a>
        <a th:href="@{/accounts/settings/view(accountUid=${account.uid})}">
          <button class="btn btn-default">Change account settings</button>
        </a>
        <a th:href="@{/accounts/history(accountUid=${account.uid})}">
          <button class="btn btn-default">Account history</button>
        </a>
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col-md-6 col-md-offset-3">
        <div th:if="${#lists.isEmpty(paidGroups)}">
          This account has no groups associated to it.
        </div>
        <div th:unless="${#lists.isEmpty(paidGroups)}">
          <p class="mark">The following groups are designated as part of this account:</p>
          <table class="table table-striped">
            <thead>
              <th>Group name</th>
              <th># Members</th>
              <th>Date added to account</th>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr th:each="paidGroup : ${paidGroups}">
                <td><span th:text="${paidGroup.group.getName('')}">Group name</span></td>
                <td><span th:text="${paidGroup.group.getMembers().size()}">size</span></td>
                <td><span th:text="${#dates.format(paidGroup.activeDateTime, 'dd-MMM-yyyy')}">date</span></td>
                <td><a class="btn btn-primary btn-xs" th:href="@{/accounts/group/view(paidGroupUid=${paidGroup.uid}, accountUid=${account.uid})}">View details</a></td>
                <td><button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#remGroupModal"
                  th:attr="data-groupuid=${paidGroup.uid}">Remove group</button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Remove group modal -->
    <div class="modal fade" id="remGroupModal" tabindex="-1" role="dialog" aria-labelledby="remGroupModalTitle">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="remGroupModalTitle">Are you sure?</h4>
          </div>
          <form th:action="@{/accounts/group/remove}" method="post">
            <input type="hidden" name="accountUid" th:value="${account.uid}" />
            <input type="hidden" name="paidGroupUid" id="paidGroupUid" />
            <div class="modal-body">
              <div class="form-group">
                <label for="confirm_remove_field" class="control-label">
                  Remove group from your account. Are you sure? Type 'confirmed' if so.
                </label>
                <input type="text" class="form-control" id="confirm_remove_field"
                       name="confirm_field" autocomplete="off" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-warning">Remove</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="header-container" layout:fragment="script-container">
  <script>

    // putting this within document loaded causes errors (likely interplay of bootstrap and jquery), so leaving outside
    $('#remGroupModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var phone = button.data('groupuid'); // Extract info from data-* attributes
      var modal = $(this);
      modal.find('#paidGroupUid').val(phone);
    });

  </script>
</div>

</body>
</html>