<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
  <meta charset="UTF-8" />
  <title>Adding group to account</title>
</head>

<body>

<div layout:fragment="header">
  <h2 class="text-center"><span  th:text="${account.accountName}">account name</span></h2>
</div>

<div layout:fragment="overview">
  <h4 class="text-center">Designate a group as paid for by your account</h4>
</div>

<div layout:fragment="content">

  <div class="well">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <p>Designate a group you are part of:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form th:action="@{designate}" method="post" class="form-vertical">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <div class="form-group">
            <label for="groupSelector" class="control-label">Group:</label>
            <select name="groupUid" id="groupSelector" class="form-control">
              <option th:each="group : ${candidateGroups}"
                    th:value="${group.uid}"
                    th:text="${group.getName('')}">
              </option>
            </select>
          </div>
          <div class="form-group pull-right">
              <a class="btn btn-default" th:href="@{/paid_account/view(accountUid=${account.uid})}">Back</a>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row top-buffer">
      <div class="col-md-4 col-md-offset-4">
        <p>Search for a group by name or join code</p>
        <form th:action="@{search}" method="post" class="form-vertical">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <div class="form-group">
            <label for="searchTerm" class="control-label">Search term</label>
            <input name="searchTerm" class= "form-control" type="text" id="searchTerm" placeholder="Enter group name or join code" />
          </div>
          <div class="form-group">
            <label for="tokenSearch" class="control-label">Search by:</label>
            <label class="radio-inline">
              <input type="radio" id="tokenSearch" name="tokenSearch" value="on" checked="checked"/>Join code
            </label>
            <label class="radio-inline">
              <input type="radio" name="tokenSearch" value="off" />Group name
            </label>
          </div>
          <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
  </div>
  </div>
</div>

</body>
</html>