<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data="http://www.w3.org/1999/xhtml"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Account Payment</title>
</head>

<body>

<div layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Choose Account</h2>
      </div>
    </div>
  </div>
</div>

<main layout:fragment="content">

  <section class="no-group-text">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
          <p class="text-justify">
            You have multiple Grassroot Extra accounts, and none of them is marked as your primary account. Please click
            on one below. You can also set one of them to primary.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="grassroot-form">
    <div class="container">
      <div class="row top-buffer">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="home-groups">
            <ul class="list-group">
              <li th:each="account: ${accounts}" class="list-group-item">
                <div class="row">
                  <div class="col-md-8 event-item">
                    <a th:href="@{/account/view(accountUid=${account.uid})}" th:text="${account.name}" class="list-header">
                    </a>
                    <p class="list-group-text"><span th:text="#{web.account.type.__${account.type}__}">Standard account</span> established on
                      <span th:text="${#temporals.format(account.getCreatedDateTimeAtSAST(),'d MMM yyyy')}">date</span>,
                      with <span th:text="${account.currentPaidGroups.size()}">X</span> groups</p>
                  </div>
                  <div class="col-md-4 button-md-align">
                    <button type="button" class="btn default-button btn-neutral" data-toggle="modal" data-target="#primaryConfirmModal"
                            data:uid="${account.uid}">
                      Make primary</button>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="primaryConfirmModal" tabindex="-1" role="dialog" aria-labelledby="primaryConfirmModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
          <h4 class="modal-title" id="primaryConfirmModalLabel">Confirm as primary</h4>
        </div>
        <form th:action="@{/account/setprimary}" method="post">
          <input type="hidden" id="accountUid" name="accountUid" />
          <div class="modal-body">
            <div class="form-group">
              <p>
                Make this your primary account? It will be used whenever you send a custom message, add a group from the
                group view screen, and use Grassroot Extra on Android.
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

<div layout:fragment="script-container">

  <script th:inline="javascript">
      $(document).ready(function() {
          $('#primaryConfirmModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget);
              var accountUid = button.data('uid');
              $(this).find('#accountUid').val(accountUid);
          });
      });
  </script>

</div>
</body>
</html>