<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Payment</title>
</head>

<body>

  <div layout:fragment="header">
    <h2 class="text-center">Sign up for account</h2>
  </div>

  <div layout:fragment="overview">
    <h4 class="text-center">Account created! Please enter payment details</h4>
  </div>

  <!-- todo : design this properly ... e.g., we are about to bill ... -->
  <div layout:fragment="content">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form th:action="@{payment}" method="POST" class="form-vertical">
          <input type="hidden" name="accountUid" th:value="${accountUid}" />
          <div class="form-group">
            <label for="account_name" class="control-label">1. Name</label>
            <input type="text" id="account_name" name="holderName" class="form-control input-lg"/>
          </div>
          <div class="form-group">
            <label for="card_number" class="control-label">2. Credit Card Number</label>
            <input type="text" id="card_number" name="cardNumber" class="form-control input-lg"/>
          </div>
          <!-- todo : add CVV code, expiry date -->
          <div class="form-group pull-right">
            <button type="submit" class="btn btn-primary btn-block btn-cta">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>