<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Account Payment</title>
</head>

<body>

<div layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title" th:text="${newAccount} ? 'Payment' : 'Change Payment'">Account Payment</h2>
      </div>
    </div>
  </div>
</div>

<main layout:fragment="content">
  <section class="grassroot-form">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="form-group" th:switch="${newAccount}">
            <p class="grassroot-body error-text" th:if="${errorDescription}">
              Payment error description: <span th:text="${errorDescription}">Error goes here</span>
            </p>
            <p class="grassroot-body" th:case="true">
              As a final step, please enter your credit or debit card details. You will be charged
              <span th:text="${billingAmount}">RX</span> now, and then monthly from now on.
            </p>
            <p class="grassroot-body" th:case="false">
              Please enter your new card details below. You will be charged <span th:text="${billingAmount}">RX</span> now
              to verify the card. This amount will be deducted from your next statement.
            </p>
          </div>
          <form id="cardForm" th:action="${newAccount} ? @{/account/payment/signup} : @{change}" th:object="${method}" method="POST" class="form-vertical">
            <input type="hidden" name="accountUid" th:value="${account.uid}" />
            <div class="form-group">
              <label class="control-label">1. Name</label>
              <input type="text" th:field="*{cardHolder}" id="cardHolder" class="form-control input-lg"/>
            </div>

            <div class="form-group">
              <label class="control-label">2. Credit Card Number And Type</label>
              <input type="text" th:field="*{cardNumber}" id="cardNumber" class="form-control input-lg"/>
            </div>
            <div class="form-group">
              <label class="radio-inline input-lg"><input type="radio" th:field="*{cardBrand}" id="cardBrandVisa" value="VISA">Visa</label>
              <label class="radio-inline input-lg"><input type="radio" th:field="*{cardBrand}" id="cardBrandMaster" value="MASTER">Mastercard</label>
            </div>

            <div class="form-group">
              <label class="control-label">3. Expiry Date</label>
              <div class="row no-padding">
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <select th:field="*{expiryMonth}" class="form-control input-lg">
                    <option value="0">Month</option>
                    <option value="01">Jan (01)</option>
                    <option value="02">Feb (02)</option>
                    <option value="03">Mar (03)</option>
                    <option value="04">Apr (04)</option>
                    <option value="05">May (05)</option>
                    <option value="06">June (06)</option>
                    <option value="07">July (07)</option>
                    <option value="08">Aug (08)</option>
                    <option value="09">Sep (09)</option>
                    <option value="10">Oct (10)</option>
                    <option value="11">Nov (11)</option>
                    <option value="12">Dec (12)</option>
                  </select>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <select th:field="*{expiryYear}" class="form-control input-lg">
                    <option value="16">2016</option>
                    <option value="17">2017</option>
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                    <option value="22">2022</option>
                    <option value="23">2023</option>
                    <option value="24">2024</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">4. CVV (3 digits on back)</label>
              <div class="row no-padding">
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <input maxlength="3" type="text" th:field="*{securityCode}" id="securityCode" class="form-control input-lg"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn default-button full-width-button">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

  <div layout:fragment="script-container">

    <script th:src="@{/js/lib/jquery.validate.min.js}"></script>

    <script>

      $(document).ready(function() {

        var cardNumInput = $("#cardNumber");
        var brandSelected = false;

        cardNumInput.attr("placeholder", "Credit/Debit Card Number");
        $("#cardHolder").attr("placeholder", "Cardholder's name");
        $("#securityCode").val("");

        $("#cardForm").validate({
          rules: {
            cardHolder: {
              required: true
            },
            cardNumber: {
              required: true,
              creditcard: true
            },
            expiryMonth: {
              min: 1
            },
            securityCode: {
              required: true,
              minlength: 3,
              maxlength: 3
            }
          },
          errorClass: "error-text"
        });

        $("input:radio[name='cardBrand']").click(function() {
          brandSelected = true;
        });

        cardNumInput.keyup(function() {
          var enteredNo = $(this).val();
          if (!brandSelected || enteredNo.length < 3) { // only run algorithm when editing first couple digits (or no brand selected, in case copy & paste)
            if (enteredNo[0] == '4') {
              $("#cardBrandVisa").prop('checked', true);
              brandSelected = true;
            } else if (enteredNo[0] == '5') {
              $("#cardBrandMaster").prop('checked', true);
              brandSelected = true;
            }
          }
        });

      });

    </script>

  </div>

</body>
</html>