<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Authorize Payment</title>
</head>

<body>

<div layout:fragment="header" class="top-container">
</div>

<div layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 text-center">
        <iframe width="100%" height="800" id="formHolder" name="formHolder">

        </iframe>
      </div>
    </div>
  </div>

  <div class="container">
    <form id="redirect" th:action="${redirectUrl}" method="POST" target="formHolder">
      <input th:each="paramEntry : ${redirectParams}" type="hidden" th:name="${paramEntry.get('name')}" th:value="${paramEntry.get('value')}" />
    </form>
  </div>

</div>

<div layout:fragment="script-container">
  <script>
    $(document).ready(function() {
        $("#redirect").submit(function() {
           var form = $(this);
           form.parent().remove();
        });
        $("#redirect").submit();
    });
  </script>
</div>

</body>
</html>