<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Authorize Payment</title>
</head>

<body>

<div layout:fragment="header" class="top-container">
</div>

<div layout:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12" th:utext="${responseBody}">
        This is where the form will go
      </div>
    </div>
  </div>
</div>

</body>
</html>