<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Sign up for Grassroot Extra</title>
</head>

<body>

  <div layout:fragment="header" class="top-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <h2 class="text-center header-content-title">Discontinued</h2>
          <h4 class="text-center">Sorry, Grassroot Extra account sign up has been moved to the new Grassroot platform.
            Please visit <a href="https://www.grassroot.org.za">https://www.grassroot.org.za</a> or send a mail to
            <a href="mailto:contact@grassroot.org,za">contact@grassroot.org.za</a>. Thanks for using Grassroot.</h4>
        </div>
      </div>
    </div>
  </div>

  <div layout:fragment="content">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form id="signupForm" th:action="@{create}" method="POST" class="form-vertical">
          <div class="form-group">
            <label for="account_name" class="control-label">1. Account name</label>
            <input type="text" id="account_name" name="accountName" class="form-control input-lg"
              th:placeholder="#{web.account.signup.default(${user.displayName})}" />
          </div>
          <div class="form-group">
            <label for="account_type" class="control-label">2. Account type</label>
            <select id="account_type" name="accountType" class="form-control input-lg">
              <option th:each="type: ${accountTypes}"
                      th:text="#{web.account.signup.__${type}__}"
                      th:value="${type}"
                      th:selected="${#strings.equals(type, defaultType)}"></option>
            </select>
          </div>
          <div class="form-group">
            <ul class="fa-ul">
              <li class="gr-plain-list"><i class="fa-li fa fa-check-square"></i><span id="groupSize">Up to 1,000 members in a group</span></li>
              <li class="gr-plain-list"><i class="fa-li fa fa-check-square"></i><span id="numberGroups">Up to 10 groups attached to the account</span></li>
              <li class="gr-plain-list"><i class="fa-li fa fa-check-square"></i><span id="eventsPerMonth">Up to 8 meetings and votes per month for big groups</span></li>
              <li class="gr-plain-list"><i class="fa-li fa fa-check-square"></i><span id="todosPerMonth">Up to 8 actions and todos per month</span></li>
              <li class="gr-plain-list"><i class="fa-li fa fa-check-square"></i><span id="fileImport">Advanced member import (e.g., from Excel)</span></li>
              <li class="gr-plain-list"><i class="fa-li fa fa-check-square"></i><span id="freeFormPerMonth">Up to 500 fully customizable SMSs per month</span></li>
            </ul>
          </div>
          <div class="form-group" th:if="${#strings.isEmpty(user.emailAddress)}">
            <label for="billing_email" class="control-label">3. Billing email</label>
            <input type="text" id="billing_email" name="emailAddress" class="form-control input-lg" />
          </div>
          <div class="form-group" th:if="${showBillingOptions}">
            <label for="billingCycle" class="control-label">4. Billing period</label>
            <p th:text="#{web.account.period.describe}">All the benefits of an annual period</p>
            <select id="billingCycle" name="billingCycle" class="form-control input-lg">
              <option th:each="cycle: ${T(za.org.grassroot.core.enums.AccountBillingCycle).values()}"
                      th:text="#{web.account.period.__${cycle}__}"
                      th:value="${cycle}"></option>
            </select>
          </div>
          <div class="form-group" id="paymentTypeHolder" th:if="${showBillingOptions}">
            <label for="paymentType" class="control-label">5. Payment type</label>
            <select id="paymentType" name="paymentType" class="form-control input-lg" disabled="true">
              <option th:each="type: ${T(za.org.grassroot.core.enums.AccountPaymentType).values()}"
                      th:text="#{web.account.payment.type.__${type}__}"
                      th:value="${type}"></option>
            </select>
          </div>
          <div class="form-group" th:if="${showFreeTrialText}">
            <p class="grassroot-body">
              Your account will have a one month free trial period. All features will be available during that time. The
              free trial is only available once.
            </p>
          </div>

          <div class="form-group top-buffer">
            <button type="submit" class="btn default-button full-width-button btn-xl"><i class="fa fa-arrow-right" aria-hidden="true"></i> NEXT</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="header-container" layout:fragment="script-container">

    <script th:src="@{/js/lib/jquery.validate.min.js}"></script>

    <script th:inline="javascript">

      $(document).ready(function() {

        var groupSize = $("#groupSize");
        var numGroups = $("#numberGroups");
        var eventsLimit = $("#eventsPerMonth");
        var todosLimit = $("#todosPerMonth");
        var freeForm = $("#freeFormPerMonth");

        // note : file import feature is available across all, so not part of below (add in if that changes)

        var groupSizeText = {
          LIGHT: "Up to 500 members in a group",
          STANDARD: "Up to 1,000 members in a group",
          LARGE: "Up to 2,000 members in a group"
        };

        var numGroupsText = {
          LIGHT: "Up to 5 groups attached to the account",
          STANDARD: "Up to 10 groups attached to the account",
          LARGE: "Up to 15 groups attached to the account"
        };

        var eventLimitText = {
          LIGHT: "Up to 6 meetings per month for big groups",
          STANDARD: "Up to 8 meetings per month for big groups",
          LARGE: "Up to 10 meetings per month for big groups"
        };

        var todoLimitText = {
          LIGHT: "Up to 6 actions and todos per attached group per month",
          STANDARD: "Up to 8 actions and todos per attached group per month",
          LARGE: "Up to 10 actions and todos per attached group per month"
        };

        var freeFormLimitText = {
          LIGHT: "Up to 400 customizable SMSs per month",
          STANDARD: "Up to 800 customizable SMSs per month",
          LARGE: "Up to 1000 customizable SMSs per month"
        };

        $("#account_type").change(function() {
          var type = $(this).val();
          groupSize.text(groupSizeText[type]);
          numGroups.text(numGroupsText[type]);
          eventsLimit.text(eventLimitText[type]);
          todosLimit.text(todoLimitText[type]);
          freeForm.text(freeFormLimitText[type]);
          subgroupDepth.text(subGroupLimits[type]);
        });

        var showBillingOptions = /*[[${showBillingOptions}]]*/ true;

        if (showBillingOptions) {
            var payTypeDiv = $("#paymentTypeHolder");
            var payTypeSel = $("#paymentType");

            payTypeDiv.hide();

            $("#billingCycle").change(function () {
                if ($(this).val() === 'ANNUAL') {
                    payTypeDiv.show();
                    payTypeSel.prop('disabled', false);
                } else {
                    payTypeSel.prop('disabled', true);
                    payTypeSel.val('CARD_PAYMENT');
                }
            });
        }

        $("#signupForm").validate({
          rules: {
            emailAddress: {
              email: true,
            },
            accountName: {
              minlength: 3,
              maxlength: 50
            }
          }
        })

      });

    </script>

  </div>

</body>
</html>