<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <title>Sponsorship request</title>
</head>

<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Sponsor Account</h2>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="grassroot-form">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">

          <div class="form-group">
            <p class="grassroot-body" th:text="#{web.account.sponsorship.respond.pay(${billingAmount},
            ${#temporals.format(account.nextBillingDateAtSAST, 'd MMM yyyy')})}">
              Hello you are responding to this request
            </p>
          </div>

          <form th:replace="~{fragments :: payment-form(accountUid=${account.uid}, action=@{/account/payment/process})}"></form>

        </div>
      </div>
    </div>
  </section>

</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/jquery.validate.min.js}"></script>
  <script th:replace="~{fragments :: form-script}"></script>

</div>

</body>
</html>