<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <title>Sponsorship request</title>
</head>

<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Sponsor Account</h2>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="grassroot-form">
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="form-group">
            <p class="grassroot-body" th:text="#{web.account.sponsorship.respond.intro(${request.requestor.getName()}, ${amount})}">
              Hello you are responding to this request
            </p>
          </div>

          <div class="form-group top-buffer">
            <a th:href="@{respond/payment(requestUid=${request.uid}, type='CARD_PAYMENT', cycle='ANNUAL')}" class="btn default-button full-width-button btn-xl">
              <i class="fa fa-credit-card" aria-hidden="true"></i>Annually by card
            </a>
          </div>

          <div class="form-group">
            <a th:href="@{respond/payment(requestUid=${request.uid}, type='CARD_PAYMENT', cycle='MONTHLY')}" class="btn default-button full-width-button btn-xl">
              <i class="fa fa-credit-card" aria-hidden="true"></i>Monthly by card</a>
          </div>

          <div class="form-group">
            <a th:href="@{respond/payment(requestUid=${request.uid}, type='DIRECT_DEPOSIT', cycle='ANNUAL')}" class="btn default-button full-width-button btn-xl">
              <i class="fa fa-handshake-o" aria-hidden="true"></i>Annual ETF</a>
          </div>

          <div class="form-group">
            <button type="button" data-toggle="modal" data-target="#denyModal" class="btn default-button full-width-button btn-neutral btn-xl">Deny request</button>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="denyModal" tabindex="-1" role="dialog" aria-labelledby="denyLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="denyLabel">Deny request</h4>
        </div>
        <form th:action="@{respond/deny}" method="get">
          <input type="hidden" name="requestUid" th:value="${request.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <p>Are you sure you want to deny this request?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-lg default-button btn-positive">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/jquery.validate.min.js}"></script>
  <script th:replace="~{fragments :: form-script}"></script>

</div>

</body>
</html>