<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <title>Free trial account</title>
</head>

<body>

<section layout:fragment="header" class="top-container narrow-vertical">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Free trial</h2>
        <h4 class="text-center header-content-subtitle" th:text="${account.accountName}"></h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="no-group-text">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <p class="text-justify">
            You have a free trial of Grassroot Extra until <span th:text="${#temporals.format(account.nextBillingDateAtSAST, 'd MMM yyyy')}">date</span>.
            All features are open until then, at which time you will have to enter payment details to continue. You can also request a
            sponsor to pay for the account for you. To get started, create a group or add existing groups to the account.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="no-group-buttons">
    <div class="container">

      <div class="row" th:if="${canAddAnyGroups and canAddAllGroups and groupsCanAdd.size() > 1}">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <button data-toggle="modal" data-target="#addAllConfirmModal" class="btn default-button full-width-button text-center">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>Add all groups
          </button>
        </div>
      </div>

      <div class="row" th:if="${canAddAnyGroups and groupsCanAdd.size() > 0}">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <button data-toggle="modal" data-target="#addGroupModal" class="btn default-button full-width-button text-center">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>Select groups
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <a th:href="@{/messaging/freeform}" class="btn default-button full-width-button text-center">
            <i class="fa fa-envelope" aria-hidden="true"></i>Send custom message
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <button data-toggle="modal" data-target="#payNowModal" class="btn default-button full-width-button text-center">
            <i class="fa fa-credit-card" aria-hidden="true"></i>Pay for account
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <a th:href="@{/account/sponsor/request(accountUid=${account.uid})}" class="btn default-button full-width-button text-center">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>Request sponsorship
          </a>
        </div>
      </div>

      <!-- remove in production -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
          <a class="grassroot-body" data-target="#closeAccModal" data-toggle="modal" href="#closeAccModal">Close account</a>
        </div>
      </div>

    </div>
  </section>

  <div class="modal fade" id="addAllConfirmModal" tabindex="-1" role="dialog" aria-labelledby="addAllConfirmLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addAllConfirmLabel">Add all groups</h4>
        </div>
        <form th:action="@{/account/group/add/all}" method="get">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <input type="hidden" name="trial" value="true" />
          <div class="modal-body">
            <div class="form-group">
              <p>Confirm to add all of the groups you've created to this account?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-lg default-button btn-positive">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addGroupModalTitle">Add groups</h4>
        </div>
        <form th:action="@{/account/group/add/multiple}" method="post">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <input type="hidden" name="trial" value="true">
          <div class="modal-body">
            <div class="list-group checked-list-box">
              <li class="list-group-item" th:each="group, iterStat: ${groupsCanAdd}">
                <label>
                  <span th:text="${group.name}" class="list-checkbox-label">Name</span>
                  <input type="checkbox" name="addGroupUids" th:value="${group.uid}" class="list-checkbox"/>
                </label>
              </li>
            </div>
          </div>
          <div class="modal-footer">
            <a th:href="@{/group/create(accountUid=${account.uid})}" class="btn default-button btn-neutral">New group</a>
            <button type="submit" class="btn default-button">Add groups</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="payNowModal" tabindex="-1" role="dialog" aria-labelledby="payNowModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="payNowModalLabel">Choose payment method</h4>
        </div>
        <form th:action="@{/account/payment/trial}" method="get">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <p>Please select how you want to pay for the account:</p>
            </div>
            <select id="combinedPaymentOption" name="combinedPaymentOption" class="form-control input-lg">
              <option th:each="type: ${T(za.org.grassroot.webapp.enums.CombinedPaymentOption).values()}"
                      th:text="#{web.account.payment.combined.__${type}__}"
                      th:value="${type}"></option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-lg default-button btn-positive">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="closeAccModal" tabindex="-1" role="dialog" aria-labelledby="closeAccountLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="closeAccountLabel">Close account</h4>
        </div>
        <form th:action="@{/account/close}" method="post">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <p>Are you sure you want to close this account? If so, type "confirmed" below</p>
            </div>
            <div class="form-group">
              <input type="text" name="confirmText" class="form-control input-lg" id="confirmText" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

</body>
</html>