<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Change account type</title>

  <style>
    .currentType {
      background: #e9e9e9;
    }
  </style>

</head>
<body>

<div layout:fragment="header">
    <h2 class="text-center">Change account type</h2>
</div>

<div layout:fragment="overview"></div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <!-- note : trying to avoid a payment screen here, need to make it simple, just add a confirmation screen -->

  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 grassroot-well" th:with="current=${account.type.name()}">

    <div class="row tight-vertical" th:classappend="${current == 'HEAVY'} ? currentType : ''">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <label class="grassroot-sidebar">Heavy</label>
      </div>
      <div class="col-md-6 col-sm-5 col-xs-12">
        <ul>
          <li>Core features</li>
          <li>Max group size of 500</li>
          <li>No subgroups, etc</li>
          <li>Max 8 todos per month</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <button type="button" th:unless="${current == 'HEAVY'}" class="btn btn-primary btn-block btn-lg"
                data-toggle="modal" data-target="#confirmModal" data-type="HEAVY">Select</button>
        <p th:if="${current == 'HEAVY'}" class="grassroot-body">Your current account type</p>
      </div>
    </div>

    <hr>

    <div class="row vertical-padding" th:classappend="${current == 'STANDARD'} ? currentType : ''">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <label class="grassroot-sidebar">Standard</label>
      </div>
      <div class="col-md-6 col-sm-5 col-xs-12">
        <ul>
          <li>Core features</li>
          <li>Max group size of 500</li>
          <li>No subgroups, etc</li>
          <li>Max 8 todos per month</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <button type="button" th:unless="${current == 'STANDARD'}" class="btn btn-primary btn-block btn-lg"
                data-toggle="modal" data-target="#confirmModal" data-type="STANDARD">Select</button>
        <p th:if="${current == 'STANDARD'}">Your current account type</p>
      </div>
    </div>

    <hr>

    <div class="row vertical-padding" th:classappend="${current == 'LIGHT'} ? currentType : ''">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <label class="grassroot-sidebar">Light</label>
      </div>
      <div class="col-md-6 col-sm-5 col-xs-12">
        <ul>
          <li>Core features</li>
          <li>Max group size of 500</li>
          <li>No subgroups, etc</li>
          <li>Max 8 todos per month</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <button type="button" th:unless="${current == 'LIGHT'}" class="btn btn-primary btn-block btn-lg"
                data-toggle="modal" data-target="#confirmModal" data-type="LIGHT">Select</button>
        <p th:if="${current == 'LIGHT'}">Your current account type</p>
      </div>
    </div>

    <hr>

    <div class="row vertical-padding">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <label class="grassroot-sidebar">Free</label>
      </div>
      <div class="col-md-6 col-sm-5 col-xs-12">
        <ul>
          <li>Core features</li>
          <li>Maximum group size of 250</li>
          <li>No subgroups, etc</li>
          <li>Maximum 4 todos per month</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <button type="button" th:unless="${current == 'FREE'}" class="btn btn-primary btn-block btn-lg"
                data-toggle="modal" data-target="#confirmModal" data-type="FREE">Select</button>
        <p th:if="${current == 'FREE'}">Your current account type</p>
      </div>
    </div>

  </div>

  <!-- confirmation modal -->
  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="confirmModalTitle">Are you sure?</h4>
        </div>
        <form th:action="@{type/change}" method="get">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <input type="hidden" id="new_type" name="newType" value="" />
          <div class="modal-body">
            <div class="form-group">
              <p class="grassroot-body">
                You are about to change the type of your account. This will affect billing and such. Are you sure?
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-lg">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div class="header-container" layout:fragment="script-container">

  <script>

    $(document).ready(function() {

      $("#confirmModal").on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget);
        var modal = $(this);
        var type = button.data('type');
        modal.find("#new_type").val(type);
      });

    });

  </script>

</div>

</body>
</html>