<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <title>Your account</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}" />

  <style>
    /* Fix for UL/UI autocomplete in modal */
    .ui-autocomplete {
      z-index: 5000;
    }
  </style>

</head>

<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Your account</h2>
        <h4 class="text-center header-content-subtitle" th:text="${account.accountName}"></h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">
  <section class="grassroot-form">
    <div class="container">
      <div class="row" th:if="${user.hasMultipleAccounts()}">
        <div th:switch="${isPrimary}" class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <p th:case="${true}" class="grassroot-body bottom-buffer-lg">
            You administer multiple Grassroot Extra accounts. You are currently viewing your primary account. If you would
            like to manage another account, <a href="#switchAccountModal" data-toggle="modal" data-target="#switchAccountModal">click here.</a>
          </p>
          <p th:case="${false}" class="grassroot-body bottom-buffer-lg">
            You administer multiple Grassroot Extra accounts. This account is not your primary. You can view
            <a href="#switchAccountModal" data-toggle="modal" data-target="#switchAccountModal">another account</a>,
            or <a th:href="@{setprimary(accountUid=${account.uid})}">make this one primary</a>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="row no-padding">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <label class="grassroot-sidebar" for="account_type">Type</label>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <select id="account_type" class="form-control input-lg" readonly="true">
                <option th:each="type: ${T(za.org.grassroot.core.enums.AccountType).values()}"
                        th:text="#{web.account.signup.__${type}__}"
                        th:value="${type}"
                        th:selected="${account.type == type}"></option>
              </select>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <a th:href="@{/account/type(accountUid=${account.uid})}" class="btn default-button full-width-button">Change</a>
            </div>
          </div>

          <hr>

          <div class="row no-padding">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <label class="grassroot-sidebar">Groups</label>
            </div>
            <div th:switch="${#lists.isEmpty(paidGroups)}" class="col-md-6 col-sm-6 col-xs-12">
              <div th:case="true">
                <p class="grassroot-body">You have not added any groups to this account yet.
                  <a th:if="${canAddAllGroups}" id="addAllGroups" th:href="@{/account/group/add/all(accountUid=${account.uid},trial=false)}">
                    Add all my groups to my account.</a>
                </p>
              </div>
              <div th:case="false">
                <p class="grassroot-body">
                  <span th:text="${paidGroups.size()}">X</span> groups are paid for by this account.
                  You have space for <span th:text="${groupsLeft}">X</span> more groups on this account.
                </p>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <button th:if="${groupsLeft > 0}" class="btn default-button full-width-button" data-toggle="modal" data-target="#addGroupModal">
                <i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            </div>
          </div>

          <div th:unless="${#lists.isEmpty(paidGroups)}" class="row top-buffer">
            <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12">
              <ul class="list-group">
                <li th:each="paidGroup: ${paidGroups}" class="list-group-item clearfix">
                  <a th:href="@{/group/view(groupUid=${paidGroup.group.uid})}">
                    <span class="grassroot-body" th:text="${paidGroup.group.name}">Group name</span>
                  </a>
                  <span class="pull-right">
                      <button class="btn default-button btn-neutral" data-toggle="modal" data-target="#remGroupModal"
                              th:attr="data-groupuid=${paidGroup.group.uid}">Remove</button>
                  </span>
                </li>
              </ul>
            </div>
          </div>

          <hr>

          <div class="row no-padding">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <label class="grassroot-sidebar">Statements</label>
            </div>
            <form th:action="@{/account/statement}" method="GET">
            <div th:switch="${#lists.isEmpty(billingRecords)}" class="col-md-6 col-sm-6 col-xs-12">
              <div th:case="true">
                <p class="grassroot-body">This account has not been billed yet</p>
              </div>
              <div th:case="false">
                <select name="statementUid" class="form-control input-lg">
                  <option th:each="record: ${billingRecords}"
                          th:text="${#temporals.format(record.getStatementDate(),'d MMM yyyy')}"
                          th:value="${record.uid}"></option>
                </select>
              </div>
              <a class="grassroot-body" th:href="@{/account/payment/change}">Change payment method</a>
            </div>
              <div th:unless="${#lists.isEmpty(billingRecords)}" class="col-md-3 col-sm-3 col-xs-12">
                <button type="submit" class="btn default-button full-width-button">
                  View</button>
              </div>
            </form>
          </div>

          <hr>

          <div class="row no-padding">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <label class="grassroot-sidebar">Admins</label>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <ul class="list-group">
                <li th:each="admin: ${administrators}" class="list-group-item borderless no-padding clearfix">
                  <span class="grassroot-body" th:text="${admin.displayName}">Admin name</span>
                  <a th:unless="${#strings.equals(admin.uid, currentUser.uid)}" href="#remAdminModal" data-toggle="modal"
                    data-target="#remAdminModal" th:attr="data-adminuid=${admin.uid}">(remove)</a>
                </li>
              </ul>
              <p class="grassroot-body">
                You can allow others to administer this account. Only the user paying for the account will be allowed to
                change the account type or payment method.
              </p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <button type="button" class="btn default-button full-width-button" data-toggle="modal" data-target="#addAdminModal">
                Add
              </button>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3 col-xs-12">
              <p>
                <a class="grassroot-body" data-target="#closeAccModal" data-toggle="modal" href="#closeAccModal">
                  Close account
                </a>
              </p>
              <p>
                <a class="grassroot-body" th:href="@{/account/signup(forceNew=true)}">New account</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Select account modal -->
  <div th:if="${user.hasMultipleAccounts()}" class="modal fade" id="switchAccountModal" tabindex="-1" role="dialog" aria-labelledby="switchAccountModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="switchAccountModalTitle">Choose account</h4>
        </div>
        <div class="modal-body">
          <div class="form-group" th:each="acc : ${otherAccounts}">
            <a th:href="@{/account/view(accountUid=${acc.uid})}" th:text="${acc.name}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add group modal -->
  <div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addGroupModalTitle">Add groups</h4>
        </div>
        <form th:action="@{/account/group/add}" method="get">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <p>
                Your account has <span th:text="${groupsLeft}">X</span> groups left. Enter the name of a group to add to it, or click new group to start a new one.
              </p>
              <input type="text" class="form-control" id="group_search_field"
                     name="searchTerm" autocomplete="off" />
              <input type="hidden" name="groupUid" id="group_uid_field" />
            </div>
          </div>
          <div class="modal-footer">
            <a th:href="@{/group/create(accountUid=${account.uid})}" class="btn default-button btn-neutral">New group</a>
            <button type="submit" class="btn default-button">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Remove group modal -->
  <div class="modal fade" id="remGroupModal" tabindex="-1" role="dialog" aria-labelledby="remGroupModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="remGroupModalTitle">Are you sure?</h4>
        </div>
        <form th:action="@{/account/group/remove}" method="post">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <input type="hidden" name="paidGroupUid" id="paidGroupUid" />
          <div class="modal-body">
            <div class="form-group">
              <label for="confirm_remove_field" class="control-label">
                Remove group from your account. Are you sure? Type 'confirmed' if so.
              </label>
              <input type="text" class="form-control" id="confirm_remove_field"
                     name="confirm_field" autocomplete="off" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Close</button>
            <button type="submit" class="btn default-button btn-negative">Remove</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Add administrator modal -->
  <div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog" aria-labelledby="addAdminLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addAdminLabel">Add groups</h4>
        </div>
        <form th:action="@{/account/admin/add}" method="get">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <input type="hidden" id="adminMsisdn" name="newAdminMsisdn" />
          <div class="modal-body">
            <div class="form-group">
              <p class="grassroot-body">
                Please enter the name of the user to add below (they must be part of a group you belong to.
              </p>
              <input type="text" class="form-control" id="add_admin_name"
                     name="addAdminName" autocomplete="off" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Close</button>
            <button type="submit" class="btn default-button">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Remove admin modal -->
  <div class="modal fade" id="remAdminModal" tabindex="-1" role="dialog" aria-labelledby="remAdminModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="remAdminModalTitle">Are you sure?</h4>
        </div>
        <form th:action="@{/account/admin/remove}" method="post">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <input type="hidden" name="adminUid" id="remAdminUid" />
          <div class="modal-body">
            <div class="form-group">
              <p>
                Remove this administrator from your account. Are you sure?
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Close</button>
            <button type="submit" class="btn default-button btn-negative">Remove</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="closeAccModal" tabindex="-1" role="dialog" aria-labelledby="closeAccountLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="closeAccountLabel">Close account</h4>
        </div>
        <form th:action="@{/account/close}" method="post">
          <input type="hidden" name="accountUid" th:value="${account.uid}" />
          <div class="modal-body">
            <div class="form-group">
              <p>Are you sure you want to close this account? If so, type "confirmed" below</p>
            </div>
            <div class="form-group">
              <input type="text" name="confirmText" class="form-control input-lg" id="confirmText" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/jquery-ui.min.js}"></script>

  <script>

    // putting this within document loaded causes errors (likely interplay of bootstrap and jquery), so leaving outside
    $('#remGroupModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var phone = button.data('groupuid'); // Extract info from data-* attributes
      var modal = $(this);
      modal.find('#paidGroupUid').val(phone);
    });

    $('#addGroupModal').on('show.bs.modal', function (event) {
      var modal = $(this);
      var searchField = modal.find("#group_search_field");
      searchField.autocomplete(
          grassrootJS.groupNameAutoComplete(searchField, modal.find('#group_uid_field'), grassrootJS.UID_VALUE, grassrootJS.PRIVATE_SEARCH, null)
      )
    });

    $('#addAdminModal').on('show.bs.modal', function(event) {
      var modal = $(this);
      var nameInput = modal.find("#add_admin_name");
      nameInput.autocomplete(
          grassrootJS.memberAutoComplete(nameInput, modal.find('#adminMsisdn'))
      )
    });

    $('#remAdminModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var uid = button.data('adminuid');
        var modal = $(this);
        modal.find('#remAdminUid').val(uid);
    });

    $(document).ready(function() {
      grassrootJS.setUpAjax($("meta[name='_csrf']"), $("meta[name='_csrf_header']"));
    });

  </script>
</div>

</body>
</html>