<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <title>Your account</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}" />

  <style>
    /* Fix for UL/UI autocomplete in modal */
    .ui-autocomplete {
      z-index: 5000;
    }
  </style>

</head>

<body>

<div layout:fragment="header">
  <div class="jumbotron narrow-vertical top-buffer-lg">
    <h1 class="text-center">Your account</h1>
    <h4 class="text-center" th:text="${account.accountName}"></h4>
  </div>
</div>

<div layout:fragment="overview"></div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 grassroot-well">

      <div class="row no-padding">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <label class="grassroot-sidebar" for="account_type">Type</label>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
          <select id="account_type" class="form-control input-lg">
            <option th:each="type: ${T(za.org.grassroot.core.enums.AccountType).values()}"
                    th:text="#{web.account.signup.__${type}__}"
                    th:value="${type}"
                    th:selected="${account.type == type}"></option>
          </select>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <a th:href="@{type(accountUid=${account.uid})}" class="btn btn-primary btn-block btn-lg">Change</a>
        </div>
      </div>

      <hr>

      <div class="row no-padding">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <label class="grassroot-sidebar">Groups</label>
        </div>
        <div th:switch="${#lists.isEmpty(paidGroups)}" class="col-md-6 col-sm-5 col-xs-12">
          <div th:case="true">
            <p class="grassroot-body">You have not added any groups to this account yet.
              <a th:if="${canAddAllGroups}" id="addAllGroups" th:href="@{group/add/all}">Add all my groups to my account.</a>
            </p>
          </div>
          <div th:case="false">
            <p class="grassroot-body">
              <span th:text="${paidGroups.size()}">X</span> groups are paid for by this account.
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <button class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#addGroupModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
        </div>
      </div>

      <div th:unless="${#lists.isEmpty(paidGroups)}" class="row narrow-vertical">
        <div class="col-md-6 col-md-offset-3 col-sm-5 col-sm-offset-4 col-xs-12">
          <ul class="list-group">
            <li th:each="paidGroup: ${paidGroups}" class="list-group-item clearfix">
              <a th:href="@{/group/view(groupUid=paidGroup.group.uid)}">
                <span class="grassroot-body" th:text="${paidGroup.group.name}">Group name</span>
              </a>
              <span class="pull-right">
                  <button class="btn btn-default" data-toggle="modal" data-target="#remGroupModal"
                          th:attr="data-groupuid=${paidGroup.uid}">Remove</button>
              </span>
            </li>
          </ul>
        </div>
      </div>

      <hr>

      <div class="row no-padding">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <label class="grassroot-sidebar">Statements</label>
        </div>
        <div th:switch="${#lists.isEmpty(billingRecords)}" class="col-md-6 col-sm-5 col-xs-12">
          <div th:case="true">
            <p class="grassroot-body">This account has not been billed yet</p>
          </div>
          <div th:case="false">
            <select class="form-control input-lg">
              <option th:each="record: ${billingRecords}"
                      th:text="${#temporals.format(record.getStatementDate(),'d MMM yyyy')}"
                      th:value="${record.uid}"></option>
            </select>
          </div>
          <a class="grassroot-body" th:href="@{payment/change}">Change payment method</a>
        </div>
        <div th:unless="${#lists.isEmpty(billingRecords)}" class="col-md-3 col-sm-3 col-xs-12">
          <a href="addpaidgroup" class="btn btn-primary btn-lg btn-block">
            View</a>
        </div>
      </div>

      <hr>

      <div class="row no-padding">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <label class="grassroot-sidebar">Admins</label>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
          <ul class="list-group">
            <li th:each="admin: ${administrators}" class="list-group-item borderless no-padding clearfix">
              <a th:href="@{/group/view(groupUid=paidGroup.group.uid)}">
                <span class="grassroot-body" th:text="${admin.displayName}">Admin name</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#addAdminModal">
            Modify
          </button>
        </div>
      </div>

      <div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalTitle">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="addGroupModalTitle">Add groups</h4>
            </div>
            <form th:action="@{/account/group/add}" method="post">
              <input type="hidden" name="accountUid" th:value="${account.uid}" />
              <div class="modal-body">
                <div class="form-group">
                  <label for="group_search_field" class="control-label">
                    Your account has X groups left. Enter the name of a group to add to it, or click new group to start a new one.
                  </label>
                  <input type="text" class="form-control" id="group_search_field"
                         name="confirm_field" autocomplete="off" />
                  <input type="hidden" name="groupUid" id="group_uid_field" />
                </div>
              </div>
              <div class="modal-footer">
                <a th:href="@{/group/create}" class="btn btn-default">New group</a>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    <!-- Remove group modal -->
    <div class="modal fade" id="remGroupModal" tabindex="-1" role="dialog" aria-labelledby="remGroupModalTitle">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="remGroupModalTitle">Are you sure?</h4>
          </div>
          <form th:action="@{/account/group/remove}" method="post">
            <input type="hidden" name="accountUid" th:value="${account.uid}" />
            <input type="hidden" name="paidGroupUid" id="paidGroupUid" />
            <div class="modal-body">
              <div class="form-group">
                <label for="confirm_remove_field" class="control-label">
                  Remove group from your account. Are you sure? Type 'confirmed' if so.
                </label>
                <input type="text" class="form-control" id="confirm_remove_field"
                       name="confirm_field" autocomplete="off" />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-warning">Remove</button>
            </div>
          </form>
        </div>
      </div>
    </div>

      <div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog" aria-labelledby="addAdminLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="addAdminLabel">Add groups</h4>
            </div>
            <form th:action="@{/account/admin/add}" method="get">
              <input type="hidden" name="accountUid" th:value="${account.uid}" />
              <input type="hidden" id="adminMsisdn" name="newAdminMsisdn" />
              <div class="modal-body">
                <div class="form-group">
                  <p class="grassroot-body">
                    Please enter the name of the user to add below (they must be part of a group you belong to.
                  </p>
                  <input type="text" class="form-control" id="add_admin_name"
                         name="addAdminName" autocomplete="off" />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>


  </div>
</div>

<div class="header-container" layout:fragment="script-container">

  <script th:src="@{/js/grassroot-methods.js}"></script>
  <script th:src="@{/js/lib/jquery-ui.min.js}"></script>

  <script>

    // putting this within document loaded causes errors (likely interplay of bootstrap and jquery), so leaving outside
    $('#remGroupModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var phone = button.data('groupuid'); // Extract info from data-* attributes
      var modal = $(this);
      modal.find('#paidGroupUid').val(phone);
    });

    $('#addGroupModal').on('show.bs.modal', function (event) {
      var modal = $(this);
      var searchField = modal.find("#group_search_field");
      searchField.autocomplete(
          grassrootJS.groupNameAutoComplete(searchField, modal.find('#group_uid_field'))
      )
    });

    $('#addAdminModal').on('show.bs.modal', function(event) {
      var modal = $(this);
      var nameInput = modal.find("#add_admin_name");
      nameInput.autocomplete(
          grassrootJS.memberAutoComplete(nameInput, modal.find('#adminMsisdn'))
      )
    });

    $(document).ready(function() {
      grassrootJS.setUpAjax($("meta[name='_csrf']"), $("meta[name='_csrf_header']"));
    });

  </script>
</div>

</body>
</html>