<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
    <title>Permissions</title>
</head>

<body>
<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title" th:text="${group.groupName}">Group name</h2>
        <h4 class="text-center header-content-subtitle">Adjust permissions assigned to roles</h4>
        <h4 class="text-center group-info">
          <a th:href="@{/group/view(groupUid=${group.Uid})}">Back to group</a>
        </h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <div id="permissionsTable" class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
          <form th:action="@{permissions}" method="post">
            <input type="hidden" name="groupUid" th:value="${group.uid}" />
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Permission</th>
                <th><span th:text="#{web.group.role.ROLE_ORDINARY_MEMBER}">Ordinary member</span></th>
                <th><span th:text="#{web.group.role.ROLE_COMMITTEE_MEMBER}">Committee member</span></th>
                <th><span th:text="#{web.group.role.ROLE_GROUP_ORGANIZER}">Group organizer</span></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="permission, iterStat: ${permissionsImplemented}">
                <td><span th:text="#{web.permission.__${permission.getName()}__}">Permission</span></td>
                <td>
                  <label class="checkbox text-center">
                    <input type="checkbox" th:checked="${#lists.contains(ordinaryPermissions, permission)}"
                      th:name="ordinary_+${permission.getName()}"/>
                  </label>
                </td>
                <td>
                  <label class="checkbox text-center">
                    <input type="checkbox" th:checked="${#lists.contains(committeePermissions, permission)}"
                           th:name="committee_+${permission.getName()}"/>
                  </label>
                </td>
                <td>
                  <label class="checkbox text-center">
                    <input type="checkbox" th:checked="${#lists.contains(organizerPermissions, permission)}"
                           th:name="organizer_+${permission.getName()}"/>
                  </label>
                </td>
              </tr>
              </tbody>
            </table>
            <input th:each="permission, iterStat: ${permissionsHidden}"
                   th:name="ordinary_+${permission.getName()}"
                   th:if="${#lists.contains(ordinaryPermissions, permission)}" value="on" type="hidden" />
            <input th:each="permission, iterStat: ${permissionsHidden}"
                   th:name="committee_+${permission.getName()}"
                   th:if="${#lists.contains(committeePermissions, permission)}" value="on" type="hidden" />
            <input th:each="permission, iterStat: ${permissionsHidden}"
                   th:name="organizer_+${permission.getName()}"
                   th:if="${#lists.contains(organizerPermissions, permission)}" value="on" type="hidden" />
            <div class="form-group">
              <div class="pull-right">
                <a th:href="@{/group/view(groupUid=${group.Uid})}" role="button" class="btn default-button btn-neutral">Back to group</a>
                <a th:href="@{members(groupUid=${group.Uid})}" role="button" class="btn default-button btn-neutral">Back to roles</a>
                <!-- todo: do a modal button with the templates, and allow resetting to them -->
                <!-- <button type="reset" class="btn btn-warning">Reset</button> -->
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</main>

</body>
</html>