<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<div><strong>Welcome back.</strong></div>
<div>
    <p>Hello, {{ display_name }}. Welcome back to GrassRoot.
    Search for group:</p>
</div>
<div>
    <table>
    <tr><td><form action="find_group" method="post">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="text" name="group_search" />
        <button type="submit">Act</button>
    </form></td></tr>
    <tr><td><form action="create_group" method="post">
        <input type="hidden" name="user_id" value="{{user_id}}">
        <button type="submit">Create new group</button>
    </form></td></tr>
</div>
</body>
</html>