<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <strong>Welcome back!</strong>
</div>
<div>
    <p>We notice you haven't set a display name yet. Please type one in below, and then we'll proceed:</p>
    <form action="start" method="post">
        <input type="hidden" name="input_number" value="{{ input_number }}">
        <input type="text" name="display_name">
        <button type="submit">Next</button>
    </form>
</div>
</body>
</html>