<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>GrassRoot - USSD Emulator</title>
</head>
<body th:inline="text">

<div layout:fragment="header">
        <h2>USSD Emulator</h2>
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <div class="jumbotron" >
        <div class="row">
            <div class="col-md-4">
                <form  id="ussd-form" th:action="@{/ussd/start}">
                    <div>
                        <input id="ussd-msisdn" type="text" class="form-control" placeholder="MSISDN"/>
                    </div>
                    <div id="response-content" style="height: 200px">

                    </div>
                    <div>
                        <input id="ussd-input" type="text" class="form-control hide" placeholder="USSD Reply"/>
                    </div>
                    <!--<button class="btn btn-primary" id="ussd-reply">Start<div class="ripple-wrapper"></div></button>-->
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button id="dismiss" class="btn btn-default">Dismiss<div class="ripple-wrapper"></div></button>
                            <button id="ussd-submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <input type="hidden" value="" th:value="@{/ussd/start}"/>
                </form>
            </div>
        </div>
   </div>
</div>

<div  layout:fragment="script-container">
    <script th:inline="javascript">

    $(document).ready(function(){
        var started = false;

        $('#ussd-msisdn').blur(function()
        {
            if( $(this).val().length == 0 ) {
                $("#ussd-input").addClass('hide');
            }
            else
            {
                $("#ussd-input").removeClass('hide');
            }
        });

        $('#ussd-submit').on('click', function (event) {
            event.preventDefault();

            var url =   $("#ussd-form").attr('action');
            var params = { msdn: $("#ussd-msisdn").val() };
            var urlParams = jQuery.param( params );
                    alert('the action is: ' + url +"?" + urlParams);
//            $.ajax({
//                type: "POST",
//                url: url,
//                data: $("#idForm").serialize(), // serializes the form's elements.
//                success: function(data)
//                {
//                    alert(data); // show response from the php script.
//                }
//            });

            return false; // avoid to execute the actual submit of the form.

        });
    });

    </script>
</div>

</body>
</html>
