<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
  <meta charset="UTF-8" />
  <title>Adding group to account</title>
</head>

<body>

<div layout:fragment="header">
  <h2><span  th:text="${account.accountName}">account name</span></h2>
</div>

<div layout:fragment="overview">Remove a group from being affiliated with your account</div>

<div layout:fragment="content">
  <div class="well">
    <form th:action="@{remove}" method="post">
      <input type="hidden" name="accountId" th:value="${account.id}" />
      <input type="hidden" name="paidGroupId" th:value="${paidGroup.id}" />
      <div class="form-group">
        <label for="confirmField" class="col-md-2 control-label">Type 'confirm':</label>
        <div class="col-md-2">
          <input type="text" id="confirmField" />
        </div>
      </div>
      <button type="submit" class="btn-warning">Yes</button>
      <a th:href="@{/paid_account/view(accountId=${account.id})}">Back</a>
    </form>
  </div>
</div>

</body>
</html>