<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
  <title>GrassRoot - View Records for Paid Group</title>
</head>
<body>

<div layout:fragment="header">
  <h2><mark><span th:text="${group.groupName}">Group name</span></mark>: logbook of actions recorded</h2>
</div>

<div layout:fragment="overview">
  View records from different month:
  <form th:action="@{/paid_account/group/view}">
    <input type="hidden" name="accountId" th:value="${account.id}" />
    <input type="hidden" name="paidGroupId" th:value="${paidGroupRecord.id}" />
    <select name="monthToView">
      <option th:each="date : ${monthsToView}"
              th:value="${date.getMonthValue() + '-' + date.getYear()}"
              th:text="${date.getMonth().toString() + ' ' + date.getYear()}"
              th:selected="${date == beginDate}">
      </option>
    </select>
    <button type="submit" class="btn-info">Go</button>
  </form>

</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div class="well">
    <div class="row list-group">
      <h4><span th:text="${dateDescription}">date</span></h4>
    </div>
    <div class="row list-group-item">
      <table class="table table-striped">
        <!-- todo: consider privacy concerns & implications for all below -->
        <thead>
        <th>Date held</th>
        <th>Subject</th>
        <th>Location</th>
        <th>Messages sent</th>
        </thead>
        <tbody>
        <tr th:each="meeting : ${meetingsInPeriod}">
          <td><span th:text="${#dates.format(meeting.eventDateTime, 'dd MMM yyyy')}">Date time</span></td>
          <td><mark><span th:text="${meeting.eventDescription}">Description</span></mark></td>
          <td><span th:text="${meeting.event.eventLocation}">Place</span></td>
          <td><span th:text="${meeting.numberMessages}">X</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="well">
    <div class="row list-group">
      <h4>Votes in last month:</h4>
    </div>
    <div class="row list-group-item">
      <table class="table table-striped">
        <thead>
        <th>Date closed</th>
        <th>Issue</th>
        <th>Result (% yes)</th>
        <th>Messages sent</th>
        </thead>
        <tbody>
        <tr th:each="vote: ${votesInPeriod}">
          <td><span th:text="${#dates.format(vote.eventDateTime, 'dd MMM yyyy')}">Date time closed</span></td>
          <td><mark><span th:text="${vote.eventDescription}">Subject</span></mark></td>
          <td>
            <span th:text="${#numbers.formatDecimal(vote.percentageYesResponses, 1, 0)}">Some number</span>% yes
            (<span th:text="${vote.numberYesResponses}">X</span> yes of <span th:text="${vote.eventResponses.numberOfUsers}">
            Y</span> users)
          </td>
          <td><span th:text="${vote.numberMessages}"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="well">
    <a th:href="@{/paid_account/view(accountId=${account.id})}"><button class="btn-warning">Back to account</button></a>
    <div th:if="${param.monthToView != null}">
      <a th:href="@{/paid_account/group/view(accountId=${account.id}, paidGroupId=${paidGroupRecord.id})}">View last 30 days</a>
    </div>
  </div>

</div>

</body>
</html>