<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Grassroot -- Change role permissions</title>
</head>
<body>

<div layout:fragment="header">
  <h2 class="text-center"><span th:text="${group.groupName}">Group name</span></h2>
</div>

<div layout:fragment="overview">
  <h4 class="text-center">Adjust permissions assigned to roles
    (<a th:href="@{/group/view(groupId=${group.id})}">back to group</a>)</h4>
</div>

<div layout:fragment="content">
  <div layout:fragment="messages"></div>

  <div id="permissionsTable">
    <div class="well">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form th:action="@{permissions}" method="post">
            <input type="hidden" name="groupUid" th:value="${group.uid}" />
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Permission</th>
                <th><span th:text="#{web.group.role.ROLE_ORDINARY_MEMBER}">Ordinary member</span></th>
                <th><span th:text="#{web.group.role.ROLE_COMMITTEE_MEMBER}">Committee member</span></th>
                <th><span th:text="#{web.group.role.ROLE_GROUP_ORGANIZER}">Group organizer</span></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="permission, iterStat: ${permissionsImplemented}">
                <td><span th:text="#{web.permission.__${permission.getName()}__}">Permission</span></td>
                <td>
                  <label class="checkbox text-center">
                    <input type="checkbox" th:checked="${#lists.contains(ordinaryPermissions, permission)}"
                      th:name="ordinary_+${permission.getName()}"/>
                  </label>
                </td>
                <td>
                  <label class="checkbox text-center">
                    <input type="checkbox" th:checked="${#lists.contains(committeePermissions, permission)}"
                           th:name="committee_+${permission.getName()}"/>
                  </label>
                </td>
                <td>
                  <label class="checkbox text-center">
                    <input type="checkbox" th:checked="${#lists.contains(organizerPermissions, permission)}"
                           th:name="organizer_+${permission.getName()}"/>
                  </label>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="form-group">
              <div class="pull-right">
                <button type="submit" class="btn btn-default">Back</button>
                <button type="reset" class="btn btn-warning">Reset</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>

</body>
</html>