/*
    Color definitions
    Palette URL: http://paletton.com/#uid=12T0u0knBkgdHu7jfoEsKfdAr9U

*/

/* As hex codes */

.color-primary-0 { color: #207A34 }	/* Main Primary color */
.color-primary-1 { color: #68B579 }
.color-primary-2 { color: #3B944F }
.color-primary-3 { color: #095C1B }
.color-primary-4 { color: #003C0D }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 32,122, 52,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(104,181,121,1) }
.rgba-primary-2 { color: rgba( 59,148, 79,1) }
.rgba-primary-3 { color: rgba(  9, 92, 27,1) }
.rgba-primary-4 { color: rgba(  0, 60, 13,1) }


/*

/* As Variables */

$blue: #2771BB;
$bright-green: #20af4a;
$dark-orange: #cb564c;
$dark-text: #434747;
$darker-green: #145D2F;
$green: #1A7C3E;
$light-gray: #F2F2F2;
$light-green: #489665;
$lighter-green: #6ea47d;
$offwhite: #EEEEEE;
$orange: #FE5F55;
$panel-title: #D1C89F;
$red: #B4292D;
$white: #fff;

/*
Some additions for account form : to decide if they should go in here or styles.scss
*/

.grassroot-sidebar {
    font-size: 18pt;
    color: #3B944F;
    font-weight: bold;
}

.grassroot-lead {
    font-size: 15pt;
    color: #3B944F;
    font-weight: bold;
}

.grassroot-body {
    font-size: 14pt;
}

.grassroot-body > a {
    text-decoration: underline;
    font-weight: 500;
    color: #207A33;
}

.gr-plain-list {
    font-size: 13pt;
    color: #207A33;
}

p.gr-body-text-lg {
    font-size: 16pt;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: 600;
}

a.gr-body-btn-lg {
    color: #FFFFFF;
    background-color: $green;
    font-size: 16pt;
    border-radius: 0 !important;
    &:hover,
    &:focus,
    &:active {
        color: #FFFFFF;
        background-color: $darker-green;
    }
}

 /* Containers & padding definitions
 */

 .logo-container {
    padding-bottom: 4px;
    padding-top: 32px;
}

.header-container {
    padding-bottom: 20px;
}

.user-profile-container{
    padding: 100px 10px 100px 10px;
    width: 400px;
 }

.cover {
    padding: 0 20px;
}

.cover-container {
    background-color: transparent;
}

.cover .btn-lg {
    font-weight: bold;
    padding: 10px 20px;
}

.jumbotron {
    background-color: transparent;
}

.cover-heading {
    font-family: 'Roboto', sans-serif;
}

.well {
    background-color: transparent;
    border: none;
}

.top-buffer {
    margin-top:20px;
}

.top-buffer-lg {
    margin-top: 30px;
}

.top-padding-sm {
    padding-top: 10px;
}

.top-padding-lg {
    padding-top: 30px;
}

.bottom-buffer-lg {
    margin-bottom: 30px;
}

.padding-sm {
    padding: 2px !important;
}

.vertical-padding {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.horizontal-padding {
    padding-left: 20px;
    padding-right: 20px;
}

.thin-separator {
    padding: 0px;
    margin: auto;
    color: #3B944F;
    background-color: #3B944F;
    height: 1px;
    width: 90%;
}

.border-green {
    border: 1px solid #3B944F !important;
    border-radius: 5px !important;
}

.borderless {
    border: 0 solid transparent !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margins {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/*
 * Header styles
 */

h2.header-content-title {
    color: $green;
    font-family: 'Roboto', sans-serif;
    font-size: 3.3em;
    text-transform: uppercase;

    .bold-title {
        font-weight: bolder;
    }

    .light-title {
        color: $dark-text;
        font-weight: lighter;
    }
}

h3.header-content-title {
    color: $green;
    font-family: 'Roboto', sans-serif;
    font-size: 30pt;
}

h3.blockquote-header {
    border-top: 1px solid $light-green;
    border-bottom: 1px solid $light-green;
    color: $green;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

h4.header-content-subtitle {
    color: #333333;
    font-family: 'Helvetica', sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
}

.lead {
    font-family: 'Roboto', sans-serif;
}

.list-header {
    color: $green;
    font-size: 16px !important;
    font-weight: 400;
    margin-bottom: 2px;
    margin-top: 10px;
    text-transform: uppercase;
    &:hover {
        color: $darker-green;
        text-decoration: none;
    }
}

.list-item-no-header {
    color: $green;
    font-size: 14pt;
    font-weight: 500;
    padding-top: 9px;
}

.list-header-new {
    color: #207A33;
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    line-height: 1.5;
}

.list-item-lg {
    font-size: 14pt;
}

.badge-list-bold {
    background-color: #207A33;
    font-size: 11pt;
}

.dropdown-menu-lg {
    font-size: 15pt;
}

.table-header {
    color: #207A33;
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding-left: 20px;
}

.btn-text-lg {
    color: $white;
    font-size: 16pt;
    font-weight: bold;
}

/*
 * Form-controls
 */

.form-group > .control-label {
    color: $green;
    font-size: 20px;
    line-height: 1.8;
    padding-left: 2px;
    text-align: left;
    text-transform: uppercase;
}

.form-group > .control-label-sm {
    font-size: 14pt;
    color: black;
    line-height: 1.5;
    font-weight: normal;
}

.form-group > a.collapse-label {
    @extend .control-label;

    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.form-group > table > thead > tr > th {
    color: #207A33;
    font-size: 15pt;
}

.form-group > .btn-lg {
    border-radius: 2px;
    min-width: 110px;
}

.form-group > .radio > .radio-inline-lg {
    font-size: 14pt;
}

.big-checkbox {
    height: 16px;
    margin-top: 2px !important;
    width: 16px;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

/*
 * Button styles
 */

.grass-icon-md-48 {
    color: #207A33;
    font-size: 48px;
}

.btn-cta {
    border-radius: 5px;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    font-weight: lighter;
    margin-top: 25px;
    padding: 10px;
}

.label-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.snackbar-container {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;

    .alert-success {
        background-color: #207A33;
        color: $white;
        a {
            color: inherit;
            text-decoration: underline;
        }

        button {
            &:hover,
            &:active,
            &:focus {
                color: $white;
            }
        }

    }

    .alert-info {
        border-radius: 0;
        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    .alert-danger {
        border-radius: 0;
        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}

/*
 * Navbar styling
 * todo : get the height weirdness fixed
 */

$navbar-height: 60px;

.navbar-colour {
    background-color: $green;
    border-radius: 0;
    border: 0 none;
}

.navbar .navbar-colour .navbar-header {
    height: $navbar-height;
}

.navbar .nav > ul {
    height: $navbar-height;
}

.gr-navbar-link {
    height: $navbar-height;
    vertical-align: middle;
}

.navbar .nav > li > a:hover {
    background-color: #095C1B;
}

.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a {
    background-color: #095C1B;
    font-size: 1.2em !important;
}

.white-text {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.error-text {
    color: #ff2a00;
    font-family: 'Roboto', sans-serif;
}

.navbar-toggle {
    margin-top: 15px;
}

.icon-bar {
    background-color: white;
}

.brand-icon {
    width: 100%;
    height: 100%;
}

/*
 * Class for helping with alignment on button group (with 4 buttons)
 * what follows is somewhat messy, as S/O answers not quite lining up, but CSS
 */
.button-xs-align {
    text-align: center;
}

@media (min-width: 320px) {
    .button-md-align {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .button-md-align {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .button-md-align {
        text-align: right;
    }
}

/*
 * Steps wizard settings
 */

.wizard {
    background-color: white;
}

.wizard > .steps > ul {
    padding-left: 20px;
    padding-right: 20px;
}

.wizard > .steps > ul > li {
    width: 33%;
}

.wizard > .steps a {
    border-radius: 5px;
}

.wizard > li > a,
.wizard > li > a:hover {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    font-size: 16pt;
}

.wizard > .steps .number {
    font-size: 14pt;
}

.wizard > .steps .current a {
    background-color: #3B944F;;
    font-size: 14pt;
    padding-left: 0;
    padding-right: 0;
}

.wizard > .steps .disabled a {
    font-size: 14pt;
    padding-left: 0;
    padding-right: 0;
}

.wizard > .steps .done a {
    background-color: #68B579;
    font-size: 14pt;
    padding-left: 0;
    padding-right: 0;
}

.wizard > .steps .current a:hover {
    background-color: #207A33;
    border-radius: 5px;
}

.wizard > .content {
    height: 300px;
    padding-left: 20px;
    position: relative;
    width: 100%;
}

.wizard > .actions > ul {
    padding-right: 20px;
}

.wizard > .actions a,
.wizard > .actions a:hover {
    border-radius: 5px;
    font-size: 14pt;
}

/*
 * For file upload
 */

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}