

.header-container {
    padding-bottom: 20px;
}

.add-group-preview {
    /*display: inline-block;*/
    padding: 46px 46px 46px 248px;
    /*margin: 10px;*/
    /*background: #D5D5D5;*/
    /* border-radius: 3px; */
    cursor: pointer;
    border: 1px solid #f0f0f0;
    /*background-color: #f9f9f9;*/
    /*width: 228px;*/
}

.add-group{
    margin-left: 30px;
}

.add-meeting{
    margin-left: 50px;
}

.user-profile-container{
    width: 400px;padding: 100px 10px 100px 10px;
 }

.basic-separator {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 10px;
    margin-top: 10px;
    width: calc(100% - 20px);
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.cover-container {
    background-color: transparent;
}

.jumbotron {
    background-color: transparent;
}

.cover-heading {
    font-family: 'Open Sans', sans-serif;
}

.lead {
    font-family: 'Open Sans', sans-serif;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

.grass-icon-md-48
{
    font-size: 48px;
    color: #009688;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.btn-default {
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    color: #207A33;
}

.label-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.well {
    background-color: transparent;
    border: none;
}

.top-buffer {
    margin-top:20px;
}

.navbar-colour {
    background-color: #207A33;
    border: 0 none;
    border-radius: 0;
}

.white-text {
    color: #ffffff;
}

.brand-icon {
    width: 100%;
    height: 100%;
}