/*
    Color definitions
    Palette URL: http://paletton.com/#uid=12T0u0knBkgdHu7jfoEsKfdAr9U

*/

/* As hex codes */

.color-primary-0 { color: #207A34 }	/* Main Primary color */
.color-primary-1 { color: #68B579 }
.color-primary-2 { color: #3B944F }
.color-primary-3 { color: #095C1B }
.color-primary-4 { color: #003C0D }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 32,122, 52,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(104,181,121,1) }
.rgba-primary-2 { color: rgba( 59,148, 79,1) }
.rgba-primary-3 { color: rgba(  9, 92, 27,1) }
.rgba-primary-4 { color: rgba(  0, 60, 13,1) }


/*
 * Containers & padding definitions
 */

.logo-container {
    padding-bottom: 4px;
    padding-top: 32px;
}

.header-container {
    padding-bottom: 20px;
}

.user-profile-container{
    width: 400px;padding: 100px 10px 100px 10px;
 }

.cover {
    padding: 0 20px;
}

.cover-container {
    background-color: transparent;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.jumbotron {
    background-color: transparent;
}

.cover-heading {
    font-family: 'Roboto', sans-serif;
}

.well {
    background-color: transparent;
    border: none;
}

.top-buffer {
    margin-top:20px;
}

.top-buffer-lg {
    margin-top: 30px;
}

.bottom-buffer-lg {
    margin-bottom: 30px;
}

.padding-sm {
    padding: 2px !important;
}

.tight-vertical {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.narrow-vertical {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
}

.vertical-padding {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.thin-separator {
    padding: 0px;
    margin: auto;
    color: #3B944F;
    background-color: #3B944F;
    height: 1px;
    width: 90%;
}

.border-green {
    border: 1px solid #3B944F !important;
    border-radius: 5px !important;
}

.borderless {
    border: 0 solid transparent !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margins {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/*
 * Header styles
 */

.header-content-title > .jumbotron  {
    color: #095C1B;
    font-family: 'Roboto', sans-serif !important;
}

.header-content-title > h2 {
    color: #3B944F;
    font-size: 36pt;
    font-family: 'Roboto', sans-serif;
}

.header-content-title > h3 {
    color: #3B944F;
    font-size: 32pt;
    font-family: 'Roboto', sans-serif;
}

.header-content-subtitle > h4 {
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
}

.lead {
    font-family: 'Roboto', sans-serif;
}

.list-header {
    font-size: 16px !important;
    margin-top: 10px;
    margin-bottom: 2px;
}

.list-header-new {
    font-size: 15pt;
    color: #207A33;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.list-item-lg {
    font-size: 14pt;
}

.badge-list-bold {
    background-color: #207A33;
    font-size: 11pt;
}

.dropdown-menu-lg {
    font-size: 15pt;
}

.table-header {
    font-size: 15pt;
    color: #207A33;
    line-height: 1.5;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.btn-text-lg {
    font-size: 16pt;
    color: white;
    font-weight: bold;
}

/*
 * Form-controls
 */

.form-group > .control-label {
    color: #207A33;
    font-size: 15pt;
    line-height: 1.8;
    padding-left: 2px;
    text-align: left;
}

.form-group > .control-label-sm {
    font-size: 14pt;
    color: black;
    line-height: 1.5;
    font-weight: normal;
}

.form-group > table > thead > tr > th {
    font-size: 15pt;
    color: #207A33;
}

.form-group > .btn-lg {
    border-radius: 2px;
    min-width: 110px;
}

.form-group > .checkbox-inline {
    font-size: 14pt;
}

.form-group > .radio > .radio-inline-lg {
    font-size: 14pt;
}

.big-checkbox {
    width: 16px;
    height: 16px;
}

/*
Modal dialogs
*/

.modal-title {
    font-size: 16pt;
    color: #207A33;
    font-weight: bold;
}

.modal-body {
    font-size: 15pt;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}

/*
 * Button styles
 */

.grass-icon-md-48 {
    font-size: 48px;
    color: #207A33;
}

.btn-default {
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    color: #207A33;
}

.btn-primary {
    font-family: 'Roboto', sans-serif;
    background-color: #3B944F;
    border-radius: 1px;
    border: 0 none;
}

.btn-primary:hover {
    background-color: #095C1B;
}

.btn-danger {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    border-radius: 0;
    color: #ff2a00;
    border-color: #808080;
}

.btn-cta {
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    padding: 10px;
    font-size: 18pt;
    color: white;
}

.label-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.close-white-lg {
    color: #ffffff;
    font-size: 20pt;
}

.close-white-lg:hover {
    color: #ffffff;
}

.alert-lg {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
}

.alert-success {
    background-color: #207A33;
    color: #FFFFFF;
    border-radius: 2px;
}

.alert-info {
    border-radius: 2px;
}

.alert-danger {
    border-radius: 2px;
}

/*
 * Navbar styling
 */

.navbar-colour {
    background-color: #207A33;
    border: 0 none;
    border-radius: 0;
}

.navbar .nav > ul {
    height: 60px;
}

.gr-navbar-link {
    height: 60px;
    vertical-align: middle;
}

.navbar .nav > li > a:hover {
    background-color: #095C1B;
}

.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a {
    background-color: #095C1B;
}

.gr-navbar-text {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 0;
    line-height: 30px;
}

.white-text {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.error-text {
    color: #ff2a00;
    font-family: 'Roboto', sans-serif;
}

.navbar > .dropdown > a:hover, a:focus {
    background-color: #095C1B;
    color: white;
}

.navbar-toggle {
    margin-top: 15px;
}

.icon-bar {
    background-color: white;
}

.brand-icon {
    width: 100%;
    height: 100%;
}

/*
 * Class for helping with alignment on button group (with 4 buttons)
 * what follows is somewhat messy, as S/O answers not quite lining up, but CSS
 */
.button-xs-align {
    text-align: center;
}

@media (min-width: 320px) {
    .button-md-align {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .button-md-align {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .button-md-align {
        text-align: right;
    }
}

/*
 * Steps wizard settings
 */

.wizard {
    background-color: white;
}

.wizard > .steps > ul {
    padding-left: 20px;
    padding-right: 20px;
}

.wizard > .steps > ul > li {
    width: 33%;
}

.wizard > .steps a {
    border-radius: 5px;
}

.wizard > li > a,
.wizard > li > a:hover {
    font-size: 16pt;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .number {
    font-size: 14pt;
}

.wizard > .steps .current a {
    font-size: 14pt;
    background-color: #3B944F;;
    padding-left: 0;
    padding-right: 0;
}

.wizard > .steps .disabled a {
    font-size: 14pt;
    padding-left: 0;
    padding-right: 0;
}

.wizard > .steps .done a {
    font-size: 14pt;
    padding-left: 0;
    padding-right: 0;
    background-color: #68B579;
}

.wizard > .steps .current a:hover {
    background-color: #207A33;
    border-radius: 5px;
}

.wizard > .content {
    width: 100%;
    height: 300px;
    padding-left: 20px;
    position: relative;
}

.wizard > .actions > ul {
    padding-right: 20px;
}

.wizard > .actions a,
.wizard > .actions a:hover {
    font-size: 14pt;
    border-radius: 5px;
}