<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Adjust account</title>
</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Adjust account</h2>
        <h4 class="text-center header-content-subtitle" th:text="${account.accountName}">Account name</h4>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <section class="grassroot-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
          <form th:action="@{limits}" method="post">
            <input type="hidden" name="accountUid" th:value="${account.uid}" />

            <div class="form-group">
              <label for="numberGroups" class="control-label">Number of groups on account</label>
              <input name="numberGroups" type="number" class="form-control input-lg" id="numberGroups" th:value="${account.maxNumberGroups}"/>
            </div>

            <div class="form-group">
              <label for="sizePerGroup" class="control-label">Maximum size of group</label>
              <input name="sizePerGroup" type="number" class="form-control input-lg" id="sizePerGroup" th:value="${account.maxSizePerGroup}"/>
            </div>

            <div class="form-group">
              <label for="subGroupDepth" class="control-label">Maximum number of subgroups</label>
              <input name="subGroupDepth" type="number" class="form-control input-lg" id="subGroupDepth" th:value="${account.maxSubGroupDepth}"/>
            </div>

            <div class="form-group">
              <label for="messagesPerMonth" class="control-label">Messages per month</label>
              <input name="messagesPerMonth" type="number" class="form-control input-lg" id="messagesPerMonth" th:value="${account.freeFormMessages}"/>
            </div>

            <div class="form-group">
              <label for="todosPerMonth" class="control-label">Todos per group per month</label>
              <input name="todosPerMonth" type="number" class="form-control input-lg" id="todosPerMonth" th:value="${account.todosPerGroupPerMonth}"/>
            </div>

            <div class="form-group">
              <label for="eventsPerMonth" class="control-label">Events per group per month</label>
              <input name="eventsPerMonth" type="number" class="form-control input-lg" id="eventsPerMonth" th:value="${account.eventsPerGroupPerMonth}"/>
            </div>

            <div class="form-group pull-right top-buffer">
              <a th:href="@{home}" role="button" class="btn default-button btn-neutral">Cancel</a>
              <button type="submit" class="btn default-button">Submit</button>
            </div>

        </form>
        </div>
      </div>
    </div>

  </section>

</main>

</body>
</html>