<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Account billing records</title>
</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">Account Billing Records</h2>
        <div th:if="${account != null}">
          <h4 class="text-center header-content-subtitle" th:text="${account.accountName}"></h4>
          <h4 class="text-center header-content-subtitle"><a th:href="@{/admin/accounts/home}">Back</a></h4>
        </div>
      </div>
    </div>
  </div>
</section>

<main layout:fragment="content">

  <div class="grassroot-form">
    <div class="container" th:if="${not #lists.isEmpty(records)}">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <table class="table">
            <!-- todo : wire up some form of entity viewer for randomvly viewing a bunch of things (e.g., logs) & also enable sorting, filtering etc -->
            <thead>
              <tr>
                <th>Statement date</th>
                <th>Bill period start</th>
                <th>Bill period end</th>
                <th>Log Type</th>
                <th>Opening Balance</th>
                <th>Amount Billed</th>
                <th>To pay</th>
                <th>Payment due</th>
                <th>Paid?</th>
                <th>Payment Date/Desc</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${records}">
              <td><span th:text="${#dates.format(record.statementDateTime, 'dd MMM')}"></span></td>
              <td><span th:text="${#dates.format(record.billedPeriodStart, 'dd MMM')}"></span></td>
              <td><span th:text="${#dates.format(record.billedPeriodEnd, 'dd MMM')}"></span></td>
              <td><span th:text="${record.accountLog.accountLogType}"></span></td>
              <td><span th:text="${#numbers.formatDecimal(record.openingBalance / 100, 0, 'COMMA', 0, 'POINT')}"></span></td>
              <td><span th:text="${#numbers.formatDecimal(record.amountBilledThisPeriod / 100, 0, 'COMMA', 0, 'POINT')}"></span>
              <td><span th:text="${#numbers.formatDecimal(record.totalAmountToPay / 100, 0, 'COMMA', 0, 'POINT')}"></span>
              <td><span th:text="${#dates.format(record.nextPaymentDate, 'HH:mm, dd MMM')}"></span></td>
              <td><span th:text="${record.paid ? 'Yes' : 'No'}"></span></td>
              <td><span th:text="${record.paid ? #dates.format(record.paidDate, 'dd MMM, yyyy') : record.paymentDescription}"></span></td>
              <td><a th:href="@{/admin/accounts/bill/pay/toggle(recordUid=${record.uid})}"
                     th:text="${record.paid ? 'Pay again' : 'Stop payment'}"></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="changePaymentDateModal" tabindex="-1" role="dialog" aria-labelledby="changePaymentDateModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="changePaymentDateModalLabel">Change billing date</h4>
        </div>
        <form th:action="@{/admin/accounts/change/billingdate}" method="POST">
          <input type="hidden" name="accountUid" id="accountUidBillingDate" />
          <div class="modal-body">
            <div class="form-group">
              <p>Enter the new billing date below (or stop billing):</p>
            </div>
            <div class="input-group date" id="billingDatePicker">
              <input name="billingDateTime" type="text" class="form-control" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                  </span>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox" name="stopBilling" /><span style="margin-left: 20px">Stop payment</span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default-button btn-neutral" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn default-button btn-negative">Confirmed</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

<div layout:fragment="script-container">

  <script th:src="@{/js/lib/moment.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap-datetimepicker.min.js}"></script>

  <script>

      $(document).ready(function() {
          $('#changePaymentDateModal').on('show.bs.modal', function(event) {
              var link = $(event.relatedTarget);
              var uid = link.data('uid');

              $(this).find('#accountUidBillingDate').val(uid);
              $('#billingDatePicker').datetimepicker({
                  format: 'DD/MM/YYYY h:mm A',
                  minDate: new Date(),
                  widgetPositioning: {
                      horizontal: 'right'
                  },
                  sideBySide:true
              });
          });

      });

  </script>

</div>

</body>
</html>