<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Glassroot Ajax Emulator</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  </head>
</head>
<body>

  <select id="groupSelector">
    <option th:each="group : ${groups}"
            th:value="${group.uid}"
            th:text="${group.name}">Group name</option>
  </select>
  <input type="hidden" id="userUid" th:value="${userUid}" />

  <div id="feedback"></div>

  <script th:src="@{/js/jquery-1.12.4.min.js}"></script>

<script>
  $(document).ready(function(){
    console.log("Up and running!");

    $('#groupSelector').change(function() {
      ajaxGetList();
    });

  });

  function ajaxGetList() {

    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

    var data = {};
    data["parentEntityType"] = "GROUP";
    data["selectedByDefault"] = "true";
    data["parentUid"] = $("#groupSelector").val();
    data["userUid"] = $("#userUid").val();

    console.log("Assembled data object = " + JSON.stringify(data));

    $.ajax({
      type : "POST",
      contentType : "application/json",
      url : "/ajax/members/list",
      dataType : "json",
      data : JSON.stringify(data),
      timeout : 100000,
      beforeSend : function(xhr) {
        xhr.setRequestHeader(header, token);
      },
      success : function(data) {
        console.log("SUCCESS: ", data);
        display(data);
      },
      error : function(xhr, textStatus, errorThrown) {
        console.log("ERROR! : " + errorThrown);
        console.log("Status : " + textStatus);
        console.log("xhr: " + xhr.status);
        display(errorThrown);
      },
      done : function(e) {
        console.log("DONE");
      }
    });

  }

  function display(data) {
    var json = "<h4>Ajax Response</h4><pre>" + JSON.stringify(data, null, 4) + "</pre>";
    $("#feedback").html(json);
  }

</script>

</body>
</html>