<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Glassroot USSD Emulator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="${request.headertext}">title</h1>
<div th:if="${request.options != null}">
    <div th:switch="${display}">
        <div th:case="false">
            <form th:action="@{/emulator/ussd/view}" method="get">
                <input type="hidden" name="link" th:value="${request.options[0].callback}"/>
                <input type="text" name="request"/>
                <input type="submit" value="Submit"/>
                <p>Next url: <span th:text="${request.options[0].callback}"></span></p>
            </form>
        </div>
        <div th:case="true">
            <ol>
                <th:block th:object="${request}">
                    <li th:each="option : *{options}"><a th:text="${option.value}"
                                                         th:href="@{/emulator/ussd/view(link=${option.callback})} "></a></li>
                </th:block>
            </ol>
        </div>
    </div>

    <p>This url: <span th:text="${url}"></span></p>

</div>
<div><form>
    <button th:action="@{/emulator/ussd/view}" method="get">Interrupt</button>
</form></div>

<div><form>
    <input type="hidden" name="request" value="*134*19940*911#" />
    <button th:action="@{/emulator/ussd/view}" method="get">Trigger safety alert</button>
</form></div>

<div><form>
    <input type="hidden" name="request" value="*134*19940*411#" />
    <button th:action="@{/emulator/ussd/view}" method="get">LiveWire</button>
</form></div>

<div>
    <form>
        <input type="hidden" name="request" value="*134*19940*11#" />
        <button th:action="@{/emulator/ussd/view}" method="get">Izwe Lami</button>
    </form>
</div>

</body>
</html>