<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>System Admin</title>
</head>

<body>

<div layout:fragment="header">
    <!--<h2 th:text="#{home.welcome.message}">welcome headline</h2>-->
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <!-- Central text header -->
  <div class="well">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Grassroot Internal Admin Console</h2>
        <h3 th:text="#{web.home.welcome(${currentUser.displayName})}">Welcome back to Grassroot, Luke</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-5 text-center">
        <div class="dropdown">
          <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <strong>Admin functions</strong><b class="caret"></b><div class="ripple-wrapper"></div>
          </a>
          <ul class="dropdown-menu">
            <li><a href="" th:href="@{users/home}">Users</a></li>
            <li><a href="" th:href="@{groups/search}">Groups</a></li>
            <li><a href="" th:href="@{analytics/geo_stats}">Geo</a></li>
            <li><a href="" th:href="@{analytics/word_stats}">Keyword Table</a></li>
            <li><a href="" th:href="@{accounts/home}">Accounts</a></li>
            <li><a href="" th:href="@{stats/home}">System stats</a></li>
            <li><a href="" th:href="@{/livewire/admin/home}">LiveWire</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <!-- read out of some key stats -->
  <div class="well">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <h4>System statistics at a glance</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <table class="table table-striped">
        <thead>
          <th>Time period</th>
          <th>Users added</th>
          <th>Initiated USSD</th>
          <th>Created Web profile</th>
          <th>Created Android profile</th>
          <th>Groups created</th>
          <th>Meetings called</th>
          <th>Votes called</th>
          <th>To-dos recorded</th>
          <th>Safety events recorded</th>
          <th>LiveWire Alerts</th>
          <th>Notifications</th>
        </thead>
        <tbody>
          <tr>
            <td>Last week</td>
            <td><span th:text="${countLastWeek}">X</span></td>
            <td><span th:text="${countUssdLastWeek}">X</span></td>
            <td><span th:text="${countWebLastWeek}">X</span></td>
            <td><span th:text="${countAndroidLastWeek}">X</span></td>
            <td><span th:text="${groupsLastWeek}">Z</span></td>
            <td><span th:text="${meetingsLastWeek}">Z</span></td>
            <td><span th:text="${votesLastWeek}">Z</span></td>
            <td><span th:text="${todosLastWeek}">Z</span></td>
            <td><span th:text="${safetyLastWeek}">Z</span></td>
            <td><span th:text="${livewireLastWeek}">Z</span></td>
            <td><span th:text="${notificationsLastWeek}">Z</span></td>
          </tr>
          <tr>
            <td>Last month</td>
            <td><span th:text="${countLastMonth}">Y</span></td>
            <td><span th:text="${countUssdLastMonth}">X</span></td>
            <td><span th:text="${countWebLastMonth}">X</span></td>
            <td><span th:text="${countAndroidLastMonth}">X</span></td>
            <td><span th:text="${groupsLastMonth}">Z</span></td>
            <td><span th:text="${meetingsLastMonth}">Z</span></td>
            <td><span th:text="${votesLastMonth}">Z</span></td>
            <td><span th:text="${todosLastMonth}">Z</span></td>
            <td><span th:text="${safetyLastMonth}">Z</span></td>
            <td><span th:text="${livewireLastMonth}">Z</span></td>
            <td><span th:text="${notificationsLastMonth}">Z</span></td>
          </tr>
          <tr>
            <td>Total</td>
            <td><span th:text="${userCount}">Z</span></td>
            <td><span th:text="${countUssdTotal}">X</span></td>
            <td><span th:text="${countWebTotal}">X</span></td>
            <td><span th:text="${countAndroidTotal}">X</span></td>
            <td><span th:text="${groupsTotal}">X</span></td>
            <td><span th:text="${meetingsTotal}">X</span></td>
            <td><span th:text="${votesTotal}">X</span></td>
            <td><span th:text="${todosTotal}">X</span></td>
            <td><span th:text="${safetyTotal}">Z</span></td>
            <td><span th:text="${livewireTotal}">Z</span></td>
            <td><span th:text="${notificationsTotal}">Z</span></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>

</div>
</body>
</html>