<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Grassroot Platform</title>
</head>

<body>

<div layout:fragment="header">
    <!--<h2 th:text="#{home.welcome.message}">welcome headline</h2>-->
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <!-- Central text header -->
  <div class="well">
    <div class="row">
      <h1>Grassroot Internal Admin Console</h1>
      <!-- Insert user's name -->
      <h2 th:text="#{web.home.welcome(${currentUser.firstName})}">Welcome back to Grassroot, Luke</h2>
    </div>
  </div>

  <!-- read out of some key stats -->
  <div class="well">
    <div class="row">
      <mark>System statistics at a glance</mark>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <th>Time period</th>
          <th>Users added</th>
          <th>Initiated USSD</th>
          <th>Created Web profile</th>
          <th>Created Android profile</th>
          <th>Groups created</th>
          <th>Meetings called</th>
          <th>Votes called</th>
          <th>To-dos recorded</th>
        </thead>
        <tbody>
          <tr>
            <td>Last week</td>
            <td><span th:text="${countLastWeek}">X</span></td>
            <td><span th:text="${countUssdLastWeek}">X</span></td>
            <td><span th:text="${countWebLastWeek}">X</span></td>
            <td><span th:text="${countAndroidLastWeek}">X</span></td>
            <td><span th:text="${groupsLastWeek}">Z</span></td>
            <td><span th:text="${meetingsLastWeek}">Z</span></td>
            <td><span th:text="${votesLastWeek}">Z</span></td>
            <td><span th:text="${todosLastWeek}">Z</span></td>
          </tr>
          <tr>
            <td>Last month</td>
            <td><span th:text="${countLastMonth}">Y</span></td>
            <td><span th:text="${countUssdLastMonth}">X</span></td>
            <td><span th:text="${countWebLastMonth}">X</span></td>
            <td><span th:text="${countAndroidLastMonth}">X</span></td>
            <td><span th:text="${groupsLastMonth}">Z</span></td>
            <td><span th:text="${meetingsLastMonth}">Z</span></td>
            <td><span th:text="${votesLastMonth}">Z</span></td>
            <td><span th:text="${todosLastMonth}">Z</span></td>
          </tr>
          <tr>
            <td>Total</td>
            <td><span th:text="${userCount}">Z</span></td>
            <td><span th:text="${countUssdTotal}">X</span></td>
            <td><span th:text="${countWebTotal}">X</span></td>
            <td><span th:text="${countAndroidTotal}">X</span></td>
            <td><span th:text="${groupsTotal}">X</span></td>
            <td><span th:text="${meetingsTotal}">X</span></td>
            <td><span th:text="${votesTotal}">X</span></td>
            <td><span th:text="${todosTotal}">X</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="well">
    <div class="row">
      <div class="col-md-3">
        <a href="" th:href="@{users/home}"><button class="btn btn-primary">Users</button></a>
      </div>
      <div class="col-md-3">
        <a href="" th:href="@{groups/search}"><button class="btn btn-primary">Groups</button></a>
      </div>
      <div class="col-md-3">
        <a href="" th:href="@{analytics/geo_stats}"><button class="btn btn-primary">Geo</button></a>
      </div>
      <div class="col-md-3">
        <a href="" th:href="@{analytics/word_stats}"><button class="btn btn-primary">Keyword Table</button></a>
      </div>
      <div class="col-md-3">
        <a href="" th:href="@{accounts/home}"><button class="btn btn-primary">Accounts</button></a>
      </div>
      <div class="col-md-3">
        <a href="" th:href="@{stats/home}"><button class="btn btn-primary">System stats</button></a>
      </div>
    </div>
  </div>

</div>
</body>
</html>