/* Buttons */

.grassroot-button {
  border: none;
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px 12px;
  transition: background-color, .3s;
}

.grassroot-form button {
  @extend .grassroot-button;
  background-color: $green;
  color: white;
  
  .btn-primary {
    @extend .grassroot-button;
    background-color: $green;
    color: white;

    &:active,
    &:focus,
    &:hover {
      background-color: $darker-green;
      color: white;
    }
  }
  
  .btn-neutral {
    background-color: $offwhite;
    border-radius: 0;
    color: $dark-text;
    font-family: 'Helvetica', sans-serif;
    &:hover,
    &:focus,
    &:active {
      color: #DDDDDD;
    }
  }

  i {
    margin-right: 10px;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $darker-green;
    color: $white;
  }
}

.default-button {
  background-color: $green;
  border: none;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px 16px;
  transition: background-color, .3s;

  &.btn-positive {
    color: #FFFFFF;
    background-color: $bright-green;
    
    &:hover,
    &:focus,
    &:active {
      background-color: $green;
    }
  }

  &.btn-negative {
    background-color: $orange;
    
    &:hover,
    &:focus,
    &:active {
      background-color: $dark-orange;
    }
  }

  &.btn-neutral {
    color: $dark-text;
    background-color: $offwhite;
    
    &:hover,
    &:focus,
    &:active {
      background-color: #DDDDDD;
      color: $dark-text;
    }
  }

  &.btn-sm,
  &.btn-xs {
    font-size: .813em !important;
  }

  i {
    margin-right: 10px;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $darker-green;
    color: $white;
  }

  &.full-width-button {
    width: 100%;
  }

  &.word-wrap-button {
    white-space: normal !important;
    word-wrap: break-word;
  }

  &.btn-xl {
    font-size: 1.5em !important;
    font-weight: bolder;
  }
}

.main-button {
  background-color: $green;
  border: none;
  color: $white;
  font-weight: 300;
  padding: 15px 0;
  transition: background-color, .3s;
  width: 100%;
  display: block;
  text-align: center;

  i {
    margin-right: 10px;
  }

  &:hover {
    background-color: $darker-green;
    color: $white;
    text-decoration: none;
  }
}

.action-button {
  background-color: transparent;
  border: none;
  font-weight: 400;
  transition: background-color, .3s, color, .3s;

  i {
    margin-right: 10px;
  }
}

  .edit-button {
    @extend .action-button;
    color: $blue;
    margin-left: 15px;

    &:hover {
      color: darken($blue, 15%);
    }
  }

  .remove-button button {
    @extend .action-button;
    color: $red;
    padding: 10px 0;
    width: 100%;
    
    &:active,
    &:focus,
    &:hover {
      background-color: $red;
      color: $white;
    }
  }

.white-button {
  background-color: darken($light-gray, 3%);
  border: none;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  padding: 12px 0;
  margin: 2px 0;

  &:active,
  &:focus,
  &:hover,
  &:active i,
  &:focus i,
  &:hover i {
    background-color: $green;
    color: $white;
  }
}

.new-group-btn {
  background-color: $green;
  border-radius: 0;
  border: none;
  font-weight: 300;
  margin-top: 10px;
  padding: 12px 18px;
  text-transform: uppercase;
  transition: background-color, .3s;
  
  &:hover,
  &:focus,
  &:active {
    background-color: $darker-green;
  }
  
  i {
    margin-right: 10px;
  }
}

.group-center-button {
  width: 100%;
  font-size: 1.2em;

  i {
    color: $green;
    margin-left: 10px;
  }
}

.group-button {
  width: 100%;
  i {
    margin-right: 10px;
    color: $green;
  }
}