.grassroot-form {
  button {
    border-radius: 0 !important;
  }

  input,
  select,
  textarea {
    border-radius: 0 !important;
    border: 1px solid transparentize($green, .6);    
  }
  
  .form-link {
    color: $green;
    transition: color, .3s;
    
    &:hover,
    &:focus,
    &:active {
      color: $darker-green;
      text-decoration: none;
    }
  }

  .remember {
    margin-top: 20px;
  }

  .explanatory-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
  }

  .checkbox-lg {
    font-size: 1.2em;
    padding-left: 10px;
  }

  .table-header {
    margin: 0;
    border-bottom: solid 2px #DDDDDD;

    .header-cell {
      color: $green;
      font-size: 13pt;
      font-weight: 700;
      padding-left: 10px;
      padding-right: 0;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .table-row {
    margin-bottom: 10px;
    padding: 5px 10px;

    .body-cell {
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 0;
      padding-right: 0;
    }

    .row-icon {
      color: $light-green;
      font-size: 2em;
      padding-left: 20%;
      padding-right: 20%;
    }
  }

  .table-button-row {
    padding-left: 10px;

    .add-row {
      background-color: $green;
      color: $white;
      
      &:hover,
      &:focus,
      &:active {
        color: $darker-green;
      }
    }

    .btn-neutral button {
      background-color: $offwhite;
      border-radius: 0;
      color: $dark-text;
      font-family: 'Helvetica', sans-serif;
      
      &:hover,
      &:focus,
      &:active {
        color: #DDDDDD;
      }
    }
  }
}