/* Modals */

.modal-dialog {
	margin: 100px auto 0;
}

.modal-body {
    font-size: 1.2em;
}

	.modal-body .form-group {
		margin-bottom: 0;
	}

.modal-footer {
	border-top: none;
}

.modal-header {
	padding: 0;
}

	.modal-header .close {
		color: white;
	    margin-right: 15px;
	    margin-top: 13px;
	    opacity: 0.8;
	    transition: opacity, .3s;

	    &:hover,
	    &:focus {
			opacity: 0.5;
	    }
	}

.modal-title {
    background-color: $green;
    color: $white;
    font-size: 1.3em;
    font-weight: 400;
    padding: 15px;
}

.modal {
  select,
  input {
    border-radius: 0;
    font-size: 1em;
    margin: 0 !important;
  }

  p {
  	margin-bottom: 22px;
  }

  select + p,
  input + p,
  label + p {
  	margin-top: 15px;
  }
}