<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Grassroot Platform</title>

    <meta property="og:title" content="grassroot.org.za"/>
    <meta property="og:image" content="/img/grass.png"/>
    <meta property="og:description" content="The Grassroot Platform."/>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.charts.load('visualization', {packages: ['table']});
    </script>

</head>

<body>

<div layout:fragment="header">
    <!--<h2 th:text="#{home.welcome.message}">welcome headline</h2>-->
</div>
<div layout:fragment="overview"></div>

<div layout:fragment="content">
    <!-- Central text header -->
    <div class="well">
        <div class="row">
            <h1>Most frequent words</h1>

            <div id="table"></div>
            <script th:inline="javascript">
                /*<![CDATA[*/

                function drawTable() {

                    var keyWords = [[${frequentWords}]];
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Keyword');
                    data.addColumn('number', 'Frequency');
                    for (i = 0; i < keyWords.length; i++) {
                        data.addRow([keyWords[i].keyword, keyWords[i].frequency]);
                    }
                    var options = {
                        showRowNumber: false,
                        width: '75%',
                        height: '100%'
                    };
                    var table = new google.visualization.Table(document.getElementById('table'));
                    table.draw(data, options);
                }

                google.charts.setOnLoadCallback(drawTable);

                /*]]>*/
            </script>

            <style>
                .google-visualization-table-td-number {
                    text-align: center !important;
                }
            </style>




        </div>
    </div>


</div>
</body>
</html>