files:
  "/etc/nginx/conf.d/f_nginx_http-https_proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        gzip on;

        client_max_body_size 20M;

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          set $year $1;
          set $month $2;
          set $day $3;
          set $hour $4;
        }

        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;

        if ($http_user_agent ~* '^ELB-HealthChecker\/.*$') {
                set $http_x_forwarded_proto https;
        }

        if ($http_x_forwarded_proto != 'https'){
                rewrite ^(.*) https://$host$1 redirect;
        }

        location / {
          proxy_pass  http://docker;
          proxy_http_version  1.1;
          proxy_set_header  Connection  $connection_upgrade;
          proxy_set_header  Upgrade $http_upgrade;
          proxy_set_header  Host  $host;
          proxy_set_header  X-Real-IP $remote_addr;
          proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;

          if ($request_method = 'OPTIONS') {
                      add_header 'Access-Control-Allow-Origin' 'https://alpha.grassroot.cloud';
                      add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
                      add_header 'Access-Control-Allow-Credentials' 'true';
                      add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range';
                      add_header 'Access-Control-Max-Age' 1728000;
                      add_header 'Content-Type' 'text/plain; charset=utf-8';
                      add_header 'Content-Length' 0;
                      return 204;
          }

          if ($request_method = 'POST') {
                  add_header 'Access-Control-Allow-Origin' 'https://alpha.grassroot.cloud';
                  add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
                  add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range';
                  add_header 'Access-Control-Expose-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range';
          }

          if ($request_method = 'GET') {
                  add_header 'Access-Control-Allow-Origin' 'https://alpha.grassroot.cloud';
                  add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
                  add_header 'Access-Control-Allow-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range';
                  add_header 'Access-Control-Expose-Headers' 'Authorization,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range';
          }

        }
      }
