<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Locations Map</title>
  <meta property="og:title" content="grassroot.org.za"/>
  <meta property="og:image" content="/img/horizontal-logo.png"/>
  <meta property="og:description" content="The Grassroot Platform"/>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <link rel="stylesheet" th:href="@{/assets/leaflet-css/leaflet.css}"/>
  <script th:src="@{/js/lib/leaflet.js}"></script>
</head>
<body>

<section layout:fragment="header" class="top-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="text-center header-content-title">
          Public groups and meetings
        </h2>
      </div>
    </div>
  </div>
</section>


<div layout:fragment="content">
  <div id="map" style="height: 60%; width: 60%; position: fixed; left: 50%; margin-left: -30%; border: none;"></div>
  <script type='text/javascript' th:inline="javascript">
    /*<![CDATA[*/
    var latitude = [[${location.latitude}]];
    var longitude = [[${location.longitude}]];

    var zoom = [[${zoom}]];
    var map = L.map('map').setView([latitude, longitude], zoom);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attributionControl: false
    }).addTo(map);

    var markers = [[${data}]];

    for ( var i=0; i < markers.length; ++i )
    {
      var m = markers[i];
      L.marker( [m.latitude, m.longitude] )
          .bindPopup( '<a href="' + m.url + '" target="_blank">' + m.name + '</a> <br><br>' + m.description )
          .addTo( map );
    }

    /*]]>*/
  </script>
</div>

</body>
</html>