<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout}">
<head>
  <title>Locations Map</title>
  <!-- To debug without the full app -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
  <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!--<link rel="stylesheet" th:href="@{/css/leaflet.css}"/>-->
  <!--<script th:src="@{/js/lib/jquery-2.2.4.min.js}"></script>-->
  <!--<script th:src="@{/js/lib/leaflet.js}"></script>-->
</head>
<body>

<div layout:fragment="header">
  <h2>Events Map</h2>
</div>

<div layout:fragment="overview"></div>

<div layout:fragment="content">
  <div id="map" style="height: 60%; width: 60%; position: absolute; border: 2px solid #AAA;"></div>
  <script type='text/javascript'>
    /*<![CDATA[*/
    console.log("s");
    var lat = -33.9249;
    var long = 18.4241;
    var zoom = 13;
    var map = L.map('map').setView([lat, long], zoom);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attributionControl: false
    }).addTo(map);

    markers = [
      {
        "name": "Meeting 1",
        "url": "/meeting1",
        "lat": -33.9249,
        "lng": 18.4241
      },
      {
        "name": "Meeting 2",
        "url": "/meeting2",
        "lat": -33.9289,
        "lng": 18.4391
      },
      {
        "name": "Meeting 3",
        "url": "/meeting3",
        "lat": -33.9389,
        "lng": 18.4591
      }
    ];

    for ( var i=0; i < markers.length; ++i )
    {
      L.marker( [markers[i].lat, markers[i].lng] )
          .bindPopup( '<a href="' + markers[i].url + '" target="_blank">' + markers[i].name + '</a> <br><br>Some Description' )
          .addTo( map );
    }

    /*]]>*/
  </script>
</div>

</body>
</html>
